<article>
	<header>
		<h3 class="brown strong caps-lock">Behind-the-scenes Interviews</h3>
		<h1 class="display lead strong tracked tt bb">Go Behind the Scenes</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut massa ex. Donec ullamcorper ex molestie semper finibus. Pellentesque vel quam vel arcu lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut massa ex. Donec ullamcorper ex molestie semper finibus.</p>
		<nav>
			<ul class="plain path">
				<li><a class="[$newest]" href="/explore/behindthescenes/newest">Created</a></li>
				<li><a class="[$alphanumeric]" href="/explore/behindthescenes/alpha-numeric">Alphabet</a></li>
			</ul>
		</nav>
	</header>
	<ul class="plain two-thirds">
		<!-- iterate list -->
		<li data-created="[$item:@created]" data-updated="[$item:@updated]" class="listing">
			<h5><time datetime="[$item:premier:@date]">[$item:date]</time></h5>
			<h2 class="display t"><a href="[$item:permalink]" data-id="[$item:@id]">[$item:suffix]</a></h2>
			<p>[$item:summary]</p>
		</li>
	</ul>
	<footer>
		<!-- insert views/partials/navigator.html -->
	</footer>
</article>
