<article class="features">
  <!-- insert views/partials/navigator.html -->
  
  
  <!-- iterate list -->
  <div data-created="[$item:@created]" data-updated="[$item:@updated]">
    <h2><a href="[/explore/detail/$item:@id]" data-id="[$item:@id]">[$item:title]</a> <em>[($item:premier:@date)]</em></h2>
    <cite>
      <!-- iterate item:producers -->
      <a href="[/explore/detail/$person:@id]" data-id="[$person:@id]">[$person:@title]</a>
    </cite>
    
    <aside>[$item:summary]</aside>
  </div>
  <style type="text/css" media="screen">
    .features div {
      padding:0 2.5% 1em;
    }
  </style>
</article>