<article>
	<header class="b ruled">
		<h3 class="brown strong caps-lock t b">Playlists</h3>
		<nav>
	    <!-- insert views/partials/navigator.html -->
	  </nav>
	</header>

	<!-- iterate list -->
  <article data-created="[$item:@created]" data-updated="[$item:@updated]" class="panel listing pad">
		<header class="two-thirds pad-h">
			<h2 class="display tracked strong"><a href="[$item:permalink]" data-id="[$item:@id]">[$item:title]</a></h2>
			<p>[$item:summary]</p>
		</header>
		<ul class="plain h5 pad-h">
			<!-- iterate item:curators -->
			<li><a href="[$person:permalink]" data-id="[$person:@id]">[$person:@title]</a></li>
			<li>[$item:size:length Tracks]</li>
			<li>[$item:size:duration Hours]</li>
		</ul>
  </article>

</article>
