<article>
	<header>
		<h3 class="brown strong caps-lock bb">Happenings</h3>
	</header>
  <section id="upcoming" class="event" style="padding:2vw;margin:0 -2vw 5vmax;background-color:rgba(255,255,255,0.9)">
    <!-- iterate upcoming -->
    <!-- insert views/cards/event.html -->
  </section>
	<hr class="ruled"/>
  <section id="past" class="event pad-v">
    <h4 class="strong caps-lock brown t b">Past Events</h4>
    <!-- iterate past -->
    <!-- insert views/cards/event.html -->
  </section>
</article>
