<article>
	<header class="ruled pad-v b">
		<h3 class="brown strong caps-lock">Happenings</h3>
		<nav>
			<ul class="plain path">
				<li><a href="#upcoming">Upcoming Events</a></li>
				<li><a href="#past">Past Events</a></li>
			</ul>
		</nav>
	</header>
  <section id="upcoming" class="event">
    <!-- iterate upcoming -->
    <!-- insert views/cards/event.html -->
  </section>
  <section id="past" class="event">
    <h4 class="strong caps-lock brown t b">Past Events</h4>
    <!-- iterate past -->
    <!-- insert views/cards/event.html -->
  </section>
</article>
