<article>
	<nav class="center crumbs">
    <ul class="plain">
      <li><a href="#upcoming">Upcoming Events</a></li>
      <li><a href="#past">Past Events</a></li>
    </ul>
  </nav>
  <section id="upcoming" class="event">
    <!-- iterate upcoming -->
    <!-- insert views/cards/event.html -->
  </section>

  <section id="past" class="event">
    <span class="marquee center condensed">Past Events</span>
    <!-- iterate past -->
    <!-- insert views/cards/event.html -->
  </section>


</article>
