<section class="features">
  <!-- insert views/partials/navigator.html -->
  <a href="/manage/create/published/" class="button margins">Create New Feature</a>
  <!-- iterate features -->
  <div data-created-at="[$feature:@created]" data-updated-at="[$feature:@age]">
    <h2><a href="[/manage/edit/published/$feature:@id]">[$feature:@title]</a></h2>
    
    <!-- iterate producers -->
    <cite>
      <a href="[/manage/edit/$@id]">[by $@title]</a>
    </cite>
    
    <p>[$feature:abstract]</p>
    
    <!-- replace fieldlist -->
  </div>
  <style type="text/css" media="screen">
    .features div {
      border:1px solid #aaa;
      margin:1em 0;
      padding:1em;
    }
  </style>
</section>