<section class="features">
  <!-- insert views/partials/navigator.html -->
  
  <!-- iterate features -->
  <div data-created="[$feature:@created]" data-updated="[$feature:@age]">
    <figure style="[background:$feature:gradient]">Spectra</figure>
    <h2><a href="[/explore/feature/$feature:@id]" data-id="[$feature:@id]">[$feature:@title]</a></h2>
  
    <cite>    
      <!-- iterate producers -->
      <a href="[/explore/person/$@id]" data-id="[$@id]">[$@title]</a>
    </cite>
    
    <p>[$feature:abstract]</p>
    
    <!-- replace fieldlist -->
  </div>
  
  
  <style type="text/css" media="screen">
    figure {
      height:1em;
      letter-spacing:0.25em;
      font-size:0.5em;
      padding:0.5em;
      line-height:1em;
      text-transform:uppercase;
      text-align:right;
      color:#aaa;
    }
    .features div {
      padding:0 2.5% 1em;
    }
  </style>
  
  
</section>