<article class="features listing">
  <nav class="center crumbs">
    <ul class="plain">
      <li class="half group float-left">
        <ul class="plain">
          <li><strong>Sort by</strong></li>
          <li><a class="[$newest]" href="[/overview/library/$filter/newest]">Created</a></li>
          <li><a class="[$updated]" href="[/overview/library/$filter/updated]">Updated</a></li>
          <li><a class="[$alphanumeric]" href="[/overview/library/$filter/alpha-numeric]">Alphabet</a></li>
          <li><a class="[$yearproduced]" href="[/overview/library/$filter/year-produced]">Year Produced</a></li>
        </ul>
      </li>
      <li class="half group float-left">
        <ul class="plain">
          <li><strong>Filter by</strong></li>
          <li><a class="[$shows]" href="[/overview/library/shows/$sort]">Shows</a></li>
          <li><a href="[$no]">Conference Audio</a></li>
          <li><a href="[$no]">Competitions</a></li>
          <li><a href="[$no]">TCF Awards</a></li>
        </ul>
      </li>
      <li class="clear">
        <!-- insert views/partials/navigator.html -->
      </li>
    </ul>
  </nav>

  <header>
    <h2>The Library</h2>
    <!-- replace blurb  -->
  </header>
  <!-- iterate list -->
  <div data-created="[$item:@created]" data-updated="[$item:@updated]" data-award="[$item:award:title]">
    <figure style="[background:$item:gradient]">Spectra</figure>
    <h2><a href="[/explore/detail/$item:@id]" data-id="[$item:@id]">[$item:title]</a> <em>[($item:premier:@date)]</em></h2>
    <cite>
      <!-- iterate item:producers -->
      <a href="[/explore/detail/$person:@id]" data-id="[$person:@id]">[$person:@title]</a>
    </cite>

    <aside>[$item:summary]</aside>

    <!-- replace fieldlist -->
  </div>


  <style type="text/css" media="screen">
  div[data-award] {
    background:transparent url(/images/medal.svg) no-repeat right top;
    background-size:auto 50%;
  }

    .features div {
      padding:0 2.5% 1em;
    }
  </style>


</article>
