<article class="features listing">
  <header>
    <!-- insert views/partials/navigator.html -->
  
    <nav>
      <ul class="inline margins">
        <li>Sort by:</li>
        <li class="padded"><a class="[$newest]" href="[/explore/index/$group/all/newest]">Created</a></li>
        <li class="padded"><a class="[$updated]" href="[/explore/index/$group/all/updated]">Updated</a></li>
        <li class="padded"><a class="[$title]" href="[/explore/index/$group/all/alpha-numeric]">Alphabetic on Title</a></li>
        <li class="padded"><a class="[$yearproduced]" href="[/explore/index/$group/all/year-produced]">Year Produced</a></li>
        <li>
          <select onchange="if (this.value != 'Spectra') navigateToPage.call({href: this.value}, event);">
            <option>Spectra</option>
            <option selected="[$recommendedS]" value="[/explore/index/$group/all/recommended:S]">Fiction to Fact</option>
            <option selected="[$recommendedM]" value="[/explore/index/$group/all/recommended:M]">Heavy to Light</option>
            <option selected="[$recommendedR]" value="[/explore/index/$group/all/recommended:R]">Social Relevance</option>
            <option selected="[$recommendedP]" value="[/explore/index/$group/all/recommended:P]">Rich Sound to Print-Worthy</option>
            <option selected="[$recommendedT]" value="[/explore/index/$group/all/recommended:T]">Experimental to Traditional</option>
            <option selected="[$recommendedA]" value="[/explore/index/$group/all/recommended:A]">Energetic to Cozy</option>
          </select>
        </li>
      </ul>
    </nav>
  </header>
  <!-- iterate list -->
  <div data-created="[$item:@created]" data-updated="[$item:@updated]" data-award="[$item:award:title]">
    <figure style="[background:$item:gradient]">Spectra</figure>
    <h2><a href="[/explore/detail/$item:@id]" data-id="[$item:@id]">[$item:title]</a> <em>[($item:premier:@date)]</em></h2>
    <cite>
      <!-- iterate item:producers -->
      <a href="[/explore/detail/$person:@id]" data-id="[$person:@id]">[$person:@title]</a>
    </cite>
    
    <aside>[$item:summary]</aside>
    
    <!-- replace fieldlist -->
  </div>
  
  
  <style type="text/css" media="screen">
  .listing nav {
    
  }
  div[data-award] {
    background:transparent url(/images/medal.svg) no-repeat right top;
    background-size:auto 50%;
  }
    
    .features div {
      padding:0 2.5% 1em;
    }
  </style>
  
  
</article>