<section class="features">
  <!-- insert views/partials/navigator.html -->
  
  <!-- iterate features -->
  <div data-created="[$feature:@created]" data-updated="[$feature:@age]">
    <h2><a href="[/explore/feature/$feature:@id]" data-id="[feature/$feature:@id]">[$feature:@title]</a></h2>
  
    <cite>    
      <!-- iterate producers -->
      <a href="[/explore/person/$@id]" data-id="[person/$@id]">[$@title]</a>
    </cite>
    
    <p>[$feature:abstract]</p>
    
    <!-- replace fieldlist -->
  </div>
  
  
  <style type="text/css" media="screen">
    .features div {
      border-bottom:1px solid #aaa;
      margin:1em 0;
      padding:2.5%;
    }
  </style>
  
  
</section>