<article>
  <header>
    <h3 class="caps-lock brown tracked t b" id="sessions">[$category]</h3>
    <h1 class="strong lead display tracked tt bb">Producer Index</h1>
    <nav>
      <div>
        <ul class="plain path h5">
          <li><a class="[$all]" href="[/overview/people/all/$filter]">All</a></li>
          <li><a class="[$producers]" href="[/overview/people/producers/$filter]">Producers</a></li>
          <li><a class="[$presenters]" href="[/overview/people/presenters/$filter]">Presenters</a></li>
          <li><a class="[$judges]" href="[/overview/people/judges/$filter]">Judges</a></li>
        </ul>
      </div>
      <div class="pad-v">
        <ul class="plain path h5">
          <li><a class="[$any]" href="[/overview/people/$category/any]">#</a></li>
          <!--  iterate alphabet -->
          <li><a class="[$selected]" href="[/overview/people/$category/alpha:$letter/]">[$letter]</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    ul.people a {
      display:block;
      border-top:1px dashed #CCC;
      padding:0.25em;
    }

    /* ]]> */
  </style>
  <nav class="t b">
    <ul class="people plain columns four h5">
      <!-- iterate list -->
      <li><a href="[$item:permalink]">[$item:@title]</a></li>
    </ul>
  </nav>

  <footer class="center">
    <!-- insert views/partials/navigator.html -->
  </footer>
</article>
