<ul class="triptych plain recommended">
  <!-- iterate item:recommended -->
  <li>
    <div>
      <div class="controls">
        <!-- iterate item:media:audio -->
        <!--  insert views/partials/play-button.html-->
        <span class="h4">[$item:premier:@date / $item:duration min]</span>
      </div>
        <h3 class="display strong tracked"><a href="[$item:permalink]">[$item:title]</a></h3>
        <p>[$item:summary]</p>
    </div>
    <ul class="plain path h5">
      <!-- iterate item:producers -->
      <li><a href="[$person:permalink]" data-id="[$person:@id]">[$person:@title]</a></li>
    </ul>
  </li>
</ul>
