<ul class="recommended plain" style="font-size:1.25em;">
  <!-- iterate item:recommended -->
  <li class="container">
    <div class="group float-left _4 audio" style="text-align:center;">
      <!-- iterate item:media:audio -->
      <!--  insert views/partials/play-button.html-->
    </div>
    <div class="group float-left _75">
      <a href="[$item:permalink]" class="blocky" style="[border-image: $item:gradient 30 30 stretch;]">[$item:title]</a>
      <blockquote>[$item:summary]</blockquote>
    </div>
  </li>
</ul>
