<ul class="triptych plain recommended">
  <!-- iterate item:recommended -->
  <li style="background-image:linear-gradient(rgba(255,255,255,0) 25%, #fff 17.5em)" class="image-tab"  data-id="[$item:@id]">
    <img class="proxy" data-src="[$item:image:domain/$item:image:url]" />
    <div style="width:100%;">
      <div class="controls">
        <!-- iterate item:media:audio -->
        <!--  insert views/partials/play-button.html-->
      </div>
      <div class="overleaf" data-award="[$item:award:html]">
        <h3 class="display tracked" ><a href="[$item:permalink]">[$item:title]</a></h3>
        <h6>[$item:year / $item:duration]</h6>
        <p>[$item:summary]</p>
      </div>
    </div>
    <ul class="plain conjunct">
      <!-- iterate item:producers -->
      <li><a href="[$person:permalink]">[$person:@title]</a></li>
    </ul>
  </li>
</ul>
