<article class="competition page"  vocab="http://schema.org/" typeof="Event">
  <nav class="center crumbs">
    <ul class="plain">
      <li><a href="/overview/competition">More Competitions</a></li>
      <li><strong>See All</strong><a href="[/overview/competition/$item:@id/participants]">Participants</a></li>
      <li style="line-height:0;border:none;">
          <img src="[http://s3.amazonaws.com/$item:banner:url]" style="width:100%;margin:0" data-aspect="[$item:banner:mark]"/>
      </li>
    </ul>
  </nav>
  
  <header>
    <h1 data-id="[$item:@id]">[$item:title]</h1>
  </header>
  
  
  <section  property="description">[$item:content:about]</section>

  <section class="awards container">
    <h2>And the Winners Are</h2>
    <!-- iterate item:awards -->
    <div property="workPerformed" typeof="CreativeWork" class="trans-blocks" data-updated="[$feature:@updated]">
      <span class="h3" property="award">[$award]</span>
      <h3 data-id="[$feature:@id]"><a href="[/explore/detail/$feature:@id]">[$feature:title]</a></h3>
      <p class="intro" property="description">[$feature:summary]</p>
      <!-- iterate feature:producers -->
      <!-- insert views/cards/person.html -->
    </div>
  </section>
  <hr/>
  <h2>Judges</h2>
  <section property="attendees" class="split container">
    <!-- iterate item:judges -->
    <!-- insert views/cards/person.html -->
  </section>
  <hr/>
  <h2>Sponsors</h2>
  <section class="sponsors container">
    <!-- iterate item:sponsors -->
    <div vocab="http://schema.org/" typeof="Organization" data-updated="[$organization:@updated]">
      <h4 data-id="[$organization:@id]">[$organization:title]</h4>
      <p>[$organization:about]</p>
    </div>
  </section>
  
  
</article>