<article class="competitions listing page">
  <div class="panel">
    <header class="two-thirds">
      <nav class="caps-lock brown h6">
        <a href="/overview/competition">Competitions</a> / <a href="[/overview/competition/$item:@id]">[$item:title]</a> / <span class="selected">Participants</span>
      </nav>

      <h1 class="lead display tracked strong tt bb">[$item:title]</h1>
    </header>
    <img src="[http://s3.amazonaws.com/$item:photo:url]" style="width:25%;margin:0" data-aspect="[$item:banner:mark]"/>

  </div>
  <section>
    <!-- iterate item:participants -->
    <!-- insert views/cards/feature.html -->
  </section>
</article>
