<article>
  <header class="b">
    <h3 class="strong brown caps-lock bb">Competitions</h3>
    <nav>
      <ul class="plain path pad-v">
        <li><a href="#driehaus">Third Coast / Richard Drihaus Competition</a></li>
        <li><a href="#shortdocs">ShortDocs Competition</a></li>
      </ul>
    </nav>
  </header>

  <hr class="ruled"/>

  <!-- iterate competitions -->
  <article id="[$item:@id]" class="panel flip">
    <div class="two-thirds">
      <header class="pad-v b">
        <h1 class="lead display strong tracked" data-id="[$item:@id]">[$item:title]</h1>
        <img style="width:50%" src="[http://s3.amazonaws.com/$item:banner:url]" />
      </header>

      <section>[$item:content:about]</section>
      <hr/>
      <nav class="pad-v t b">
        <h4 class="brown caps-lock strong">[$item:title by year]</h4>
        <ul class="plain path">
          <!-- iterate item:competitions -->
          <li class="year"><a href="[/overview/competition/$edition:@id]">[$edition:year]</a></li>
        </ul>
      </nav>
    </div>
    <!-- iterate item:upcoming -->
    <aside class="one-third upcoming ll">
      <h4 class="brown caps-lock strong b">Coming Up</h4>
      <h2 class="display strong tracked" data-id="[$item:@id]">[$item:title]</h2>
      <h4 class="caps-lock t b"><a href="[$item:permalink]">Learn More</a></h4>
    </aside>
  </article>

  <style type="text/css" media="screen">
    /* <![CDATA[ */

    .upcoming:first-of-type {
      align-self:flex-start;
      padding:2.5em 2.5em 10vh;
      background:rgba(255,255,255,0.5) url('/images/pidgey.svg') no-repeat 95% 95%;
      background-size:auto 9vh;
      box-shadow:0 0 5em rgba(0,0,0,0.05);
    }

    /* ]]> */
  </style>
</article>
