<article class="competition">
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    svg.banner {
      display:block;
      width:50%;
      margin:5em auto;
    }
    /* ]]> */
  </style>

  <!-- insert views/images/banner.svg -->

  <section class="group left half">
    <header class="borderblock title">
      <img style="width:50%" src="[http://s3.amazonaws.com/$driehaus:banner:url]" />
      <h2 data-id="[$driehaus:@id]" class="mono" style="text-transform:uppercase">[$driehaus:title]</h2>
    </header>
    <article>[$driehaus:content:about]</article>
    
    <nav>
      <ul>
        <!-- iterate driehaus:competitions -->
        <li><a href="[/overview/competition/$competition:@id]">[$competition:@title]</a></li>
      </ul>
    </nav>
    
  </section>
  
  <section class="group left half">
    <header class="borderblock title">
      <img style="width:50%" src="[http://s3.amazonaws.com/$shortdocs:banner:url]" />
      <h2 data-id="[$shortdocs:@id]" class="mono" style="text-transform:uppercase">[$shortdocs:title]</h2>
    </header>
    <article>[$driehaus:content:about]</article>
    <nav>
      <ul>
        <!-- iterate shortdocs:competitions -->
        <li><a href="[/overview/competition/$competition:@id]">[$competition:@title]</a></li>
      </ul>
    </nav>
    
  </section>
</article>