<article>
  
  <nav class="center crumbs">
    <ul class="plain">
      <li><a href="#driehaus">Third Coast / Richard Drihaus Competition</a></li>
      <li><a href="#shortdocs">ShortDocs Competition</a></li>
    </ul>
  </nav>
  
  <header>
    <span class="h1">Competitions</span>
  </header>
  <!-- iterate competitions -->
  <section id="[$item:@id]">
    <header>
      <img style="width:50%" src="[http://s3.amazonaws.com/$item:banner:url]" />
      <h2 data-id="[$item:@id]">[$item:title]</h2>
    </header>
    
    <article>[$item:content:about]</article>
        <!-- iterate item:competitions -->
        <section class="trans-blocks container">
          <img src="[http://s3.amazonaws.com/$competition:square:url]"/>
          <h3 data-id="[$competition:@id]"><a href="[/overview/competition/$competition:@id]">[$competition:title]</a></h3>
          <p>[$competition:summary]</p>
          
        </section>
  </section>
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    #shortdocs img {
      width:15%;
      float:left;
      padding:1em;
      margin-right:2em;
      border:1px dashed rgba(0,0,0,0.1);
    }
    
    #driehaus p {
      display:none;
    }
      
    /* ]]> */
  </style>
</article>