<article class="competition page"  vocab="http://schema.org/" typeof="Event">
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    img[title="enter"], img[title~="support"] {
      max-width: 30%;
    }
    /* ]]> */
  </style>
  
  <header id="overview">
    <div class="[banner $item:@sticky banner-bg]" data-aspect="[$item:banner:mark]" style="[background-image:url(//s3.amazonaws.com/$item:banner:url)]">
      <h1 class="lead tracked display strong t" data-id="[$item:@id]">[$item:title]</h1>
      <p>[$item:summary]</p>
    </div>
  </header>
  <article class="panel">
    <div class="two-thirds pad">
      <section class="markdown">[$item:content:about]</section>
      <!-- iterate item:articles -->
      <article class="tt" id="[$item:@id]">
        <h2 class="display" data-id="[$item:@id]">[$item:title]</h2>
        <section class="markdown">[$item:content:description]</section>
      </article>
    </div>
    <section class="one-third ll">
      <img data-src="[//s3.amazonaws.com/$item:square:url]" alt="[$item:@title banner]" style="max-width:100%;"/>

      <nav class="pad jump white-bg">
        <ul class="plain playlist h4">
          <!-- iterate item:articles -->
          <li><a href="[#$item:@id]">[$item:title]</a></li>
          <!-- iterate sections -->
          <li><a href="[#$id]">[$title]</a></li>
        </ul>
      </nav>
      
      <div class="gray-bg spot markdown">
        <aside>[$item:content:extras]</aside>
      </div>
      
      <!-- replace judges -->
      <!-- replace sponsors -->
      
      <form method="GET" class="spot">
        <h5 class="brown caps-lock strong">[$item:origin:title by year]</h5>
        <select onchange="navigateToPage.call({href: this.value}, event);">
          <option>Select Year</option>
          <!-- iterate item:origin:competitions -->
          <option value="[/competition/$edition:@key]">[$edition:year]</option>
        </select>
      </form>
      
    </section>
  </article>
</article>
