<article class="competition page"  vocab="http://schema.org/" typeof="Event">
  <style media="screen">
  .driehaus.banner {
    background: #EE3124 url(/images/driehaus.svg) no-repeat right bottom;
    color:#fff;
    background-size:auto 100%;
  }

  .shortdocs.banner {
    background-color: #333;
    color:#fff;
  }
  </style>

  <header>
    <div class="[banner $item:type]" data-something="[$item:type]" data-aspect="[$item:banner:mark]">
      <h4 class="bb"><time>[$item:date]</time></h4>
      <h1 class="lead tracked display strong" data-id="[$item:@id]">[$item:title]</h1>
      <p>[$item:summary]</p>
    </div>
    <nav class="caps-lock t b h6">
      <a href="/overview/competition">Competitions</a> / <span class="selected">[$item:title]</span>
    </nav>
  </header>

  <article class="panel">
    <div class="two-thirds pad">
      <section class="markdown">[$item:about]</section>

      <!-- iterate item:articles -->
      <article class="listing pad-v">
        <h2 class="display" data-id="[$item:@id]">[$item:title]</h2>
        <section class="markdown">[$item:content:description]</section>
      </article>
    </div>

    <section class="gray-bg one-third ll">
      <h4 class="brown caps-lock pad" id="sponsors">Sponsors</h4>
      <!-- insert views/partials/sponsors.html -->
    </section>
  </article>
</article>
