<article class="conference page">
  <nav class="center crumbs">
    <ul class="plain">
      <li><a href="/overview/conference">More Conferences</a></li>
      <!-- iterate item:playlists -->
      <li data-updated="[$playlist:@updated]"><strong>Playlist</strong> <a href="[$playlist:permalink]">[$playlist:title]</a></li>
      <li style="line-height:0;">
        <img src="[http://s3.amazonaws.com/$item:banner:url]" style="width:90%;" data-aspect="[$item:banner:mark]"/>
      </li>
    </ul>
  </nav>
  <header class="container">
    <div class="group float-left half">
      <h1 data-id="[$item:@id]">[$item:title]</h1>
      <section>[$item:content:about]</section>
      <hr />
      <ul class="plain center divide h4">
        <li><a href="#sessions">Sessions</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
      </ul>
    </div>
    <nav class="crumbs group float-left half">
      <ul class="plain index">
        <li><strong>Sessions</strong></li>
        <!-- iterate item:sessions -->
        <li><a href="[#$session:@id]">[$session:title]</a></li>
      </ul>
    </nav>
  </header>
  <span class="marquee condensed center" id="sessions">Conference Sessions</span>
  <section>
    <!-- iterate item:sessions -->
    <article class="trans-blocks" id="[$session:@id]">
      <h3 data-id="[$session:@id]" class="center h1 condensed"><a href="[$session:permalink]">[$session:title]</a></h3>
      <blockquote class="three-quarters middle center">
        <p>[$session:summary]</p>
      </blockquote>

      <hr/>
      <h5 class="h2 center">· Featuring ·</h5>

      <ul class="bios container">
        <!-- iterate session:presenters -->
        <li class="[float-left _$count group]" data-id="[$person:@id]">
          <span class="bio-disc" style="[background-image:url(http://s3.amazonaws.com/$person:photo:url);]">[$person:photo:caption]</span>
          <a href="[$person:permalink]">[$person:title]</a>
        </li>
      </ul>
    </article>
  </section>

  <span class="marquee center condensed" id="sponsors">Sponsors</span>
  <!-- insert views/partials/sponsors.html -->


  <style type="text/css" media="screen">
    /* <![CDATA[ */

    .bios {
      margin:0;
      padding:0;
      list-style:none;
    }
    .bios li {
      text-align:center;
    }

    .bios li a {
      display:block;
      width:10em;
      margin:0 auto;
      padding:0.5em;
    }

    .bio-disc {
      margin:1em auto;
      width:5em;
      height:5em;
    }

    .bios li img {
      width:10em;
      background-color:rgba(255,255,255,0.25);
      margin:0 auto;
      padding:0.5em;
    }

    /* ]]> */
  </style>

</article>
