<article>
  <header class="b ruled">
    <h3 class="caps-lock brown strong t b">Conferences</h3>
    <h1 class="lead display tracked strong tt b" data-id="[$item:@id]">[$item:title]</h1>
    <section property="description">[$item:content:about]</section>
  </header>
  <!-- iterate item:conferences -->
  <article class="two-thirds listing panel pad">
    <h2 class="display strong half" style="padding-right:2vmax;"><a href="[/overview/conference/$edition:@id]">[$edition:year Third Coast Conference]</a></h2>
    <p class="half">[$edition:summary]</p>
  </article>
  <!-- iterate item:upcoming -->
  <div class="trans-blocks">
    <time class="h1 center">[$item:date]</time>
    <img src="[http://s3.amazonaws.com/$item:banner:url]" style="width:90%;padding:5%" data-aspect="[$item:banner:mark]"/>
    <h2 class="h1 condensed" data-id="[$item:@id]">[$item:title]</h2>
    <h3><a href="[$item:permalink]">Learn More</a></h3>
  </div>
</article>
