<article class="conference page">
  <style media="screen">
    header.controls button {
      margin: 0 1.5em 0 0;
    }
    .panel.space {
      flex-wrap:wrap;
    }
    .panel.space > * {
      flex: 0 0 10em;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    ul.dash li:before {
      content: '---';
      padding:0 0.25em;
      line-height:0;
      position:relative;
      vertical-align:top;
      color:rgba(0,0,0,0.5);
      top:1em;
    }
  </style>
  <header id="overview">
    <div class="banner banner-bg"  data-aspect="[$item:banner:mark]" style="[background-image:url(//s3.amazonaws.com/$item:banner:url)]">
      <h4 class="bb strong">[$item:teaser]</h4>
      <h1 class="lead tracked display strong" data-id="[$item:@id]">[$item:title]</h1>
      <p>[$item:summary]</p>
    </div>
  </header>
  <section class="panel">
    <section class="two-thirds">
      <nav class="h4 pad-h jump">
        <ul class="plain path">
          <!-- iterate item:articles -->
          <li><a href="[#$item:@id]">[$item:title]</a></li>
        </ul>
      </nav>
      <section class="markdown pad">[$item:content:about]</section>
      <!-- iterate item:articles -->
      <article class="pad t" id="[$item:@id]">
        <h2 class="display" data-id="[$item:@id]">[$item:title]</h2>
        <section class="markdown">[$item:content:description]</section>
        <a href="#overview" class="h4 pad-v jump">back to top</a>
      </article>
      <!-- replace sessions -->
    </section>
    <section class="one-third ll">
      <img src="[//s3.amazonaws.com/$item:square:url]" alt="[$item:@title banner]" style="max-width:100%;"/>
      <div class="gray-bg spot markdown">
        <aside>[$item:content:Extras]</aside>
      </div>
      <!-- replace sponsors -->
      <div class="gray-bg spot">
        <h4 class="brown caps-lock strong">More Conferences</h4>
        <ul class="plain path h4 m">
          <!-- iterate item:origin:conferences -->
          <li><a href="[/overview/conference/$edition:@id]">[$edition:year]</a></li>
        </ul>
      </div>
    </section>
  </section>
</article>
