<article class="conference page">
  <style media="screen">
    header.controls button {
      margin: 0 1.5em 0 0;
    }
    .panel.space {
      flex-wrap:wrap;
    }
    .panel.space > * {
      flex: 0 0 10em;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    ul.dash li:before {
      content: '---';
      padding:0 0.25em;
      line-height:0;
      position:relative;
      vertical-align:top;
      color:rgba(0,0,0,0.5);
      top:1em;
    }
  </style>
  <header>
    <div class="banner banner-bg"  data-aspect="[$item:banner:mark]" style="[background-image:url(http://s3.amazonaws.com/$item:banner:url)]">
      <h4 class="bb strong">[$item:teaser]</h4>
      <h1 class="lead tracked display strong" data-id="[$item:@id]">[$item:title]</h1>
      <p>[$item:summary]</p>
    </div>
  </header>
  <section class="panel">
    <section class="two-thirds">
      <nav class="caps-lock t b h6">
        <a href="/overview/conference">Conferences</a> / <span class="selected">[$item:title]</span>
      </nav>
      <section>[$item:content:about]</section>
      <!-- iterate item:articles -->
      <article class="memo">
        <h2 class="display">[$item:title]</h2>
        <section>[$item:content:description]</section>
      </article>
      <h4 class="strong caps-lock brown t b" id="sessions">Conference Sessions</h4>
      <nav>
        <ul class="dash plain">
          <!-- iterate item:sessions -->
          <li><a href="[#$session:@id]">[$session:title]</a></li>
        </ul>
      </nav>
      <!-- iterate item:sessions -->
      <article id="[$session:@id]" class="pad">
        <header class="controls">
          <h2 data-id="[$session:@id]" class="display strong">[$session:title]</h2>
        </header>
        <p class="pad-h">[$session:summary]</p>
        <section class="panel space pad">
          <!-- iterate session:presenters -->
          <figure class="bio">
            <span style="[background-image:url(http://s3.amazonaws.com/$person:photo:url);]">[$person:photo:caption]</span>
            <figcaption class="strong"><a href="[$person:permalink]">[$person:title]</a></figcaption>
          </figure>
        </section>
      </article>
    </section>
    <section class="one-third ll">
      <img src="[http://s3.amazonaws.com/$item:square:url]" alt="[$item:@title banner]" style="max-width:100%;"/>
      <div class="gray-bg spot markdown">
        <aside>[$item:content:Extras]</aside>
      </div>
      <!-- insert views/partials/sponsors.html -->
    </section>
  </section>
</article>
