<article id="conf-schedule">
  <h2 class="display edit tt" id="sessions">Conference Schedule</h2>
  <div class="schedule">
    <!-- iterate item:schedule:events -->
    <div data-id="[$item::id]" style="[top: $item:offset; height: $item:size;width:calc(100%/$item:layout:width);left:calc(calc(100%/$item:layout:width) * $item:layout:position);]">
      <h4>[$item:title]</h4>
      <span>[$item:human_time, $item:location]</span>
    </div>
  </div>
  <style type="text/css">
    div.schedule {
      position:relative;
      height: 500vh;
    }
    
    div.schedule > div {
      background-image: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,0,0,0.05));
      padding:1em;
      position: absolute;
      border-left:2px solid rgba(255,0,0,0.5);
    }
        
    
  </style>
</article>


