<nav class="management dashboard">
  <link rel="stylesheet" href="/css/manage.css" type="text/css" media="screen" charset="utf-8" title="administrator"/>
  <script type="text/javascript">bloc.require('/js/manage.js');</script>
  <h4 class="inline">[Logged in as: $user]</h4>
  <a href="/manage/logout" class="h4 pad-h">Logout</a>
  <select onchange="if (this.value != 'default') navigateToPage.call({href: this.value}, event); document.getElementById('admin-create').selectedIndex = 0;" id="admin-index">
    <option value="default">Go to...</option>
    <!-- iterate tasks -->
    <option value="[/explore/index/$name]">[$name ($count)]</option>
  </select>
  <select onchange="if (this.value != 'default') navigateToPage.call({href: this.value}, event); document.getElementById('admin-index').selectedIndex = 0;" id="admin-create">
    <option value="default">Create New...</option>
    <!-- iterate tasks -->
    <option value="[/manage/create/$name]">[$name]</option>
  </select>
  <a class="trash p" href="/manage/group/">Go to Archive</a>
  <script type="text/javascript" async="true">
  // <![CDATA[
  bloc.init(function() {
    var edits = document.querySelectorAll('*[data-id]');
    for (var j = 0; j < edits.length; j++) {
      var url = '/manage/edit/' + edits[j].dataset.id;
      edits[j].classList.add("edit");
      delete edits[j].dataset.id;
      var button = edits[j].appendChild(document.createElement('button'));
          button.textContent = 'Edit';
          button.title = "edit";
          button.addEventListener('click', goto.bind(button, url), false);
    }
  });
  //]]>
  </script>
</nav>
