<nav class="management dashboard">
  <link rel="stylesheet" href="/css/manage.css" type="text/css" media="screen" charset="utf-8" title="administrator"/>
  <script type="text/javascript">
    bloc.embed('/js/manage.js');
  </script>
  <p class="inline margins">Hi <span>[$user]</span>. <a href="/manage/logout">Logout.</a></p>
  <select onchange="window.location.href = this.value;">
    <option>Areas of interest</option>
    <!-- iterate tasks -->
    <option value="[$url]">[$name]</option>
  </select>
</nav>