<nav class="management dashboard">
  <link rel="stylesheet" href="/css/manage.css" type="text/css" media="screen" charset="utf-8" title="administrator"/>
  <script type="text/javascript">bloc.embed('/js/manage.js');</script>
  <ul>
    <li style="background-color:#fff;color:#333;padding:0.5em;margin:0 0 0.5em 0"><strong>[$user]</strong></li>
    <li>
      <h3>Index Pages</h3>
      <ul>
        <!-- iterate tasks -->
        <li><a href="[$url]">[$name]</a></li>
      </ul>
    </li>
    <li>
      <h3>Create new...</h3>
      <ul>
        <li><a href="/manage/create/feature/">Feature</a></li>
        <li><a href="/manage/create/person/">Person</a></li>
        <li><a href="/manage/create/organization/">Organization</a></li>
        <li><a href="/manage/create/competition/">Competition</a></li>
      </ul>
    </li>
    <li>
      <h3>More</h3>
      <ul>
        <li><a href="/manage/logout">Logout.</a></li>
      </ul>
    </li>
  </ul>
</nav>