<details class="explainer">
  <summary class="h5 rag-left">Using Media</summary>
  <p>After choosing the media from your computer, files will be uploaded to the server where they receive additional processing. Audio will be transcoded to m4a format to allow scrubbing and reduced filesize, images will be compressed and resized to an appropriate resolution.</p>
  <p>Images can be sorted by dragging and dropping, but be advised, <em>the order of images can play a key role in the construction of the page, so consult video documentation if you are unsure of the consequences.</em> If an image is dragged into a text box, it will be converted to markdown format and show up as specified.</p>
  <p>Spend time writing captions—not only is this good for search engines and ranking, it's important for accessibility as well.</p>
</details>
