<article id="conf-sessions">
  <h4 class="strong caps-lock brown t b" id="sessions">Conference Sessions</h4>
  <!-- iterate item:sessions -->
  <section>
    <header class="controls" id="[$item::@id]">
      <h2 data-id="[$item::@id]" class="display strong">[$item:title]</h2>
    </header>
    <p class="pad-h">[$item:summary]</p>
    <div class="panel space pad">
      <!-- iterate item:presenters -->
      <figure class="bio">
        <span style="[background-image:url(//s3.amazonaws.com/$person:photo:url);]">[$person:photo:caption]</span>
        <figcaption class="strong pad-v"><a href="[$person:permalink]">[$person:title]</a></figcaption>
      </figure>
    </div>
  </section>
  <script type="text/javascript">
    // <![CDATA[
      var link = document.querySelector('nav.jump ul').appendChild(document.createElement('li')).appendChild(document.createElement('a'));
      link.href = "#conf-sessions";
      link.textContent = "Conference Sessions";
    // ]]>
  </script>
</article>