<article id="conf-sessions">
  <h2 class="display edit tt" id="sessions">Conference Sessions</h2>
  <!-- iterate item:sessions -->
  <section class="pad-v">
    <header class="controls" id="[$item::@id]" style="padding-bottom:0;">
      <img data-src="[$item:image:domain/$item:image:url]" alt="[$item:image:caption]" class="landscape"/>
      <div>
        <h3 data-id="[$item::@id]"><a href="[$item:permalink]" data-id="[$item:@id]">[$item:title]</a></h3>
        <p>[$item:summary]</p>
      </div>
    </header>
    <ul class="plain conjunct pad-h">
      <!-- iterate item:presenters -->
      <li><a href="[$person:permalink]" data-id="[$person:@id]" class="h6">[$person:@title]</a></li>
    </ul>
  </section>
  <script type="text/javascript" async="true">
    // <![CDATA[
      bloc.init(function () {
        var link = document.querySelector('nav.jump ul').appendChild(document.createElement('li')).appendChild(document.createElement('a'));
        link.href = "#conf-sessions";
        link.textContent = "Conference Sessions";
        
      });
    // ]]>
  </script>
</article>


