<section class="sponsors">
  <style media="screen">
  .sponsors img {
    max-width:50%;
  }
  .sponsors .listing {
    border-top-color:#DDD;
  }
  </style>
  <!-- iterate item:sponsors -->
  <div class="center listing pad-v">
    <h4 class="caps-lock brown t b">[$group:name]</h4>
    <!-- iterate group:items -->
    <a  vocab="http://schema.org/" typeof="Organization" href="[$organization:location]">
      <img src="[http://s3.amazonaws.com/$organization:photo:url]" alt="[$organization:@title]" />
    </a>
  </div>
</section>
