<div class="gray-bg spot sponsors" id="sponsors">
  <style media="screen">
  .sponsors img {
    max-width:75%;
  }
  .sponsors .listing {
    border-top-color:#DDD;
  }
  .sponsors a {
    padding:1em;
    display:inline-block;
    margin:2.5%;
    border:1px solid rgba(0,0,0,0.1);
    padding:15% 0;
  }
  </style>
  <h4 class="brown caps-lock strong">Sponsors</h4>
  <!-- iterate item:sponsors -->
  <div class="center listing">
    <h6 class="caps-lock t rag-left r gray">[$group:name]</h6>
    <!-- iterate group:items -->
    <a class="white-bg" vocab="http://schema.org/" typeof="Organization" href="[$item:location]">
      <img src="[http://s3.amazonaws.com/$item:photo:url]" alt="[$item:@title]" />
    </a>
  </div>
</div>
