<div class="gray-bg spot sponsors" id="sponsors">
  <style media="screen">
  #sponsors img {
    max-width:75%;
  }
  #sponsors a {
    padding:1em;
    display:block;
    margin:2.5%;
    border:1px solid rgba(0,0,0,0.1);
    padding:15% 0;
  }
  #sponsors div.center h6 { font-size: 1em;line-height: 1; text-transform: uppercase;}
  #sponsors div[data-group~='tech'] {
    max-width: 33%;
  }
  </style>
  <h4 class="brown caps-lock strong">Supported by</h4>
  <!-- iterate item:sponsors -->
  <div class="center" data-group="[$group:name]">
    <h6 class="t rag-left r gray" style="font-weight: 200">[$group:name]</h6>
    <!-- iterate group:items -->
    <a class="white-bg" vocab="http://schema.org/" typeof="Organization" href="[$item:location:@ref]">
      <img src="[//s3.amazonaws.com/$item:photo:url]" alt="[$item:@title]" />
    </a>
  </div>
</div>
