<div class="edge container">
  <input type="hidden" name="[vertex[edge][$index][@][vertex]]" value="[$vertex:@id]" />
  <span class="group float-left">
    <input type="checkbox" name="[vertex[edge][$index][@][type]]" value="[$edge:@type]" id="[$vertex:@id$index]" onchange="this.parentNode.classList.toggle('warn');" checked="checked"/>
    <label for="[$vertex:@id$index]" class="inline h4">[$vertex:title]</label>
  </span>
  <input type="text" name="[vertex[edge][$index][CDATA]]" value="[$edge]" placeholder="[$edge:@type type (optional)]"/>
</div>
