<dl class="listed container" data-type="inside">
  <input type="hidden" name="[vertex[edge][$index][@][vertex]]" value="[$vertex:@id]" /> 
  <input type="hidden" name="[vertex[edge][$index][CDATA]]" value="[$edge]" />  
  <dt class="[$edge:@type]">[$edge:@type - $edge]</dt>
  <dd>
    <h3 class="inline"><a href="[/manage/edit/$vertex:@id]">[$vertex:title]</a></h3>
    <span class="warn action">
      <input type="checkbox" name="[vertex[edge][$index][@][type]]" value="[$edge:@type]" id="[$vertex:@id$index]" onchange="this.parentNode.className = this.checked ? 'alert action' : 'warn action';" checked="checked"/>
      <label for="[$vertex:@id$index]" class="inline">[$process]</label>
    </span>
  </dd>
</dl>