<div class="edge">
  <input type="hidden" name="[vertex[edge][$index][@][vertex]]" value="[$vertex:@id]" /> 
  <h3 class="inline"><strong>[$vertex:title]</strong> - <a href="[/manage/edit/$vertex:@id]">[Edit $vertex:_model]</a></h3>
  <span class="padded action">
    <input type="checkbox" name="[vertex[edge][$index][@][type]]" value="[$edge:@type]" id="[$vertex:@id$index]" onchange="this.parentNode.classList.toggle('warn');" checked="checked"/>
    <label for="[$vertex:@id$index]" class="inline">[$process]</label>
  </span>
  <input type="text" name="[vertex[edge][$index][CDATA]]" value="[$edge]" placeholder="[$edge:@type type (optional)]" style="display:block;padding:0.125em 0.5em;border:1px solid #eee;width:80%;margin:0.25em 0;"/>
</div>