<dl class="listed container" data-type="inside">
  <input type="hidden" name="[vertex[edge][$index][@][vertex]]" value="[$vertex:@id]" /> 
  
  <dt class="[$edge:@type]">[$edge:@type]</dt>
  <dd>
    <input type="text" name="[vertex[edge][$index][CDATA]]" value="[$edge]" style="display:inline-block;width:auto;background-color:rgba(255,255,255,0);font-size:1.125em;padding:0.25em;" placeholder="[optional $edge:@type type]"/>
    <h3 class="inline"><a href="[/manage/edit/$vertex:@id]">[$vertex:title]</a></h3>
    <span class="warn action">
      <input type="checkbox" name="[vertex[edge][$index][@][type]]" value="[$edge:@type]" id="[$vertex:@id$index]" onchange="this.parentNode.className = this.checked ? 'alert action' : 'warn action';" checked="checked"/>
      <label for="[$vertex:@id$index]" class="inline">[$process]</label>
    </span>
  </dd>
</dl>