<dd class="media image" data-url="[![$plain](http://s3.amazonaws.com/$url)]" style="[background-image:url(http://s3.amazonaws.com/$url);]" ondblclick="window.prompt('copy this', this.dataset.url)">
  <input type="hidden" name="[vertex[media][$index][@][type]]" value="[$type]" />
  <input type="hidden" name="[vertex[media][$index][@][mark]]" value="[$mark]" />
  <textarea class="caption" name="[vertex[media][$index][CDATA]]" value="[$plain]">[$plain]</textarea>
  <label>
    <input type="checkbox" class="src" name="[vertex[media][$index][@][src]]"  value="[$src]" checked="checked"/>
    <strong>[Keep $type]</strong>
  </label>
</dd>
