<fieldset>
  <input type="hidden" name="vertex[@][id]" value="[$item:@id]" />
  <input type="hidden" name="vertex[@][created]" value="[$item:@created]" />
  
  
  <legend class="capitalize">[$action]</legend>
  
  <h5 class="[status $item:status:type]"><em>[$item:status:text]</em></h5>
  
  <input type="text" name="vertex[@][title]" value="[$item:@title]" id="title" class="required text"/>
  <label for="title">Title</label>  

  <textarea name="vertex[abstract][CDATA]" rows="8" cols="40" id="description" class="required text">[$item:abstract]</textarea>
  <label for="description">[$item:abstract:@content]</label>  
</fieldset>
