<fieldset class="responsive edges container">
  <legend class="caps-lock">Edges</legend>
  <div class="group left outside">
    <h2 class="margins">Outside</h2>
    <!-- iterate references -->
    <!-- insert views/forms/partials/edge-outside.html -->
  </div>
  
  <div class="group left inside dnd">
    <h2 class="margins">Inside</h2>
    <!-- iterate edges -->
    <!-- insert views/forms/partials/edge-inside.html -->
  </div>
  
  <hr class="container"/>
  <a class="showmodal button margins" href="[/manage/edge/$item:_model/$item:@id]">+ Add Edge</a>
  
  <script type="text/javascript">
    // <![CDATA[
      bloc.prepare(function () {
        document.querySelectorAll('a.showmodal.button').forEach(function (button) {
          button.addEventListener('click', function (evt) {
            evt.preventDefault();
            var button = this;
            
            new Modal.Form(this.href + '.xml', {}, function (response) {
              var elem = response.querySelector("dl.listed.container");
              
              button.parentNode.querySelector('div.'+elem.dataset.type).appendChild(elem);
              
              // close modal
              this.modal.close(function (arg) {
                this.backdrop.parentNode.removeChild(this.backdrop);
                // destroy the object if we need more closure;
              });
            });
            
            
          });
        });
        
        // Sorts
        sortable('div.inside.dnd', 'dl');
                
        
      });
    // ]]>
  </script>
</fieldset>