<fieldset class="responsive edges container">
  
  <legend class="caps-lock">[Associations for this $item:_model]</legend>

  <!-- iterate item:structure -->
  <dl>
    <dt class="group float-left collapse">[$name]</dt>

    <!-- iterate items -->
    <dd class="group container">
      <a href="[/manage/edge/$name/$type]" class="showmodal button">[+ Add $name]</a>

      <!-- iterate items -->
      <!-- insert views/forms/partials/edge.html -->
      
      <a href="#" class="sort button">Sort List</a>
    </dd>
  </dl>

  <noscript id="Edge" data-selector="a.showmodal.button">Enable Javascript</noscript>
</fieldset>