<fieldset class="responsive media">
  <legend class="caps-lock">Media</legend>
  
  <dl class="audio container">
    <dt>Audio</dt>  
    <!-- iterate item:media:audio -->
    <dd class="audio playlist">
      <a style="display:none;" class="button">▸ Play</a>
      <input type="hidden" class="type" name="[vertex[media][$index][@][type]]" value="[$type]" />
      <input type="hidden" class="mark" name="[vertex[media][$index][@][mark]]" value="[$mark]" />
      <label>
        <input type="checkbox" class="src" name="[vertex[media][$index][@][src]]"  value="[$src]" checked="checked" />
        <span>Keep Audio</span>
      </label>
      <input type="text" name="[vertex[media][$index][CDATA]]" value="[$caption]"/>
      <audio src="[http://s3.amazonaws.com/$src]" title="[$caption]" onloadedmetadata="startFormPlayer(this);" controls="controls" preload="metadata">Audio</audio>
    </dd>
  </dl>
  
  
  <dl class="images dnd container">
    <dt>Images</dt>
    <!-- iterate item:media:image -->
    <!-- insert views/forms/partials/media.html -->
  </dl>
  
  <hr class="clear"/>
  
  <button class="audio upload">Upload Audio</button>
  <button class="image upload">Upload Image</button>
  
  <script type="text/javascript">
    // <![CDATA[
    
    
    function startFormPlayer(audio_element) {
      if (!window.player) {
        var player_elem = document.querySelector('fieldset.media').insertBefore(document.createElement('div'), document.querySelector('dl.audio'));

        window.player = new Player(player_elem);
      }
      
      window.player.attach(audio_element);
      var a = audio_element.parentNode.querySelector('a.button');
      a.style.display = 'inline-block';
      a.href = '#' + audio_element.dataset.index;
      a.addEventListener('click', function (evt) {
        evt.preventDefault();
        window.player.playTrack(Number(this.hash.substring(1)));
      });
      
      audio_element.parentNode.querySelector('input.mark').value = audio_element.duration;
    }
  
    bloc.prepare(function () {
      
    
      var uploader = new Upload('/manage/upload.xml', 'image/jpeg, image/jpg, audio/mp3, audio/mp4');
    
      uploader.addTrigger(document.querySelector('button.upload.image'));
      uploader.addTrigger(document.querySelector('button.upload.audio'));
      
      
      uploader.addRoutine('audio', function (file) {
        // make sure there is not a file currently associated with the feature
        
        
        
        this.progress = new Progress();
        document.querySelector('dd.audio').appendChild(this.progress.element);
        
        
      });
    
      uploader.addRoutine('image', function (file) {
        var reader = new FileReader();
    
        reader.onload = function (evt) {
          // this is the progress default holder thing.
          this.progress = new Progress();
          this.progress.element.style.backgroundImage = 'url('+evt.target.result+')';

          var dd = document.querySelector('fieldset.media dl').appendChild(document.createElement('dd'));
              dd.appendChild(this.progress.element);
              dd.className = "image";
        }.bind(this);
      
        reader.readAsDataURL(file);
      });
    
      uploader.addEvent('success', function (xhr) {
        var media = xhr.responseXML.documentElement.querySelector('dd.media');
        if (media.getAttribute('data-type') == 'image') {
          this.progress.element.parentNode.parentNode.replaceChild(media, this.progress.element.parentNode);
        
        } else if (media.getAttribute('data-type') == 'audio') {
          this.progress.element.parentNode.removeChild(this.progress.element);
          document.querySelectorAll('fieldset.media dd.audio input').forEach(function (input) {
            var stub =  media.querySelector('input.'+input.className)
            input.value = stub.getAttribute('value');
            input.name  = stub.getAttribute('name');
          });
          var message = document.querySelector('dd.audio p');
          if (message) {
            message.parentNode.removeChild(message);
          }
          document.querySelector('fieldset.media audio').src = "http://s3.amazonaws.com/" + media.querySelector('input.src').value;
        }

      });
      
      uploader.addEvent('failure', function (xhr) {
        console.error(xhr.responseText, 'undo some stuff');
        window.alert(xhr.responseText);
        this.progress.element.parentNode.removeChild(this.progress.element);
        
      });
      
      sortable('dl.images.dnd', 'dd');
    });
  //]]>
  </script>
  
  
</fieldset>