<fieldset class="responsive media">
  <legend class="caps-lock">Media</legend>
  
  <dl class="audio container">
    <dt>Audio</dt>  
    
    <!-- iterate item:media:audio -->
    <!-- insert views/forms/partials/audio.html -->
  </dl>
  
  <hr style="border-color:#5B9B98;opacity:0.5;"/>
  
  <dl class="images dnd container">
    <dt>Images</dt>
    <!-- iterate item:media:image -->
    <!-- insert views/forms/partials/image.html -->
  </dl>
  
  <hr class="clear"/>
  
  <button class="media upload">+ Add Audio / Images</button>
  <noscript id="Upload" data-url="/manage/upload.xml" data-accept="image/jpeg, image/jpg, audio/mp3, audio/mp4">Javascript Required For upload</noscript>
  
  <script type="text/javascript" async="true">
    // <![CDATA[
        
    function notifyPlayer(audio_element) {
      var a = audio_element.parentNode.querySelector('a.button');
      a.style.display = 'inline-block';
      a.href = '#' + audio_element.dataset.index;
      a.addEventListener('click', function (evt) {
        evt.preventDefault();
        Player.instance.playTrack(Number(this.hash.substring(1)));
      });      
      
      audio_element.parentNode.querySelector('input.mark').value = audio_element.duration;
      
      if (Player.instance) {
        Player.instance.attach(audio_element);
      } else {
        document.getElementById('Player').dataset.queue = '';
      }
    }
  
    bloc.prepare('Upload', function () {
      this.addTrigger(document.querySelector("fieldset.media button.upload"));
      
      this.addRoutine('audio', function (file) {
        // make sure there is not a file currently associated with the feature
        this.progress = new Progress();
        var dd = document.querySelector('fieldset.media dl.audio').appendChild(document.createElement('dd'));
        dd.appendChild(this.progress.element);
      });
    
      this.addRoutine('image', function (file) {

        var reader = new FileReader();
    
        reader.onload = function (evt) {
          // this is the progress default holder thing.
          this.progress = new Progress();
          
          this.progress.element.style.backgroundImage = 'url('+evt.target.result+')';

          var dd = document.querySelector('fieldset.media dl.images').appendChild(document.createElement('dd'));
              dd.appendChild(this.progress.element);
              dd.className = "image";
        }.bind(this);
      
        reader.readAsDataURL(file);
      });
    
      this.addEvent('success', function (xhr) {
        var media = xhr.responseXML.documentElement.querySelector('dd.media');
        this.progress.element.parentNode.parentNode.replaceChild(media, this.progress.element.parentNode);
      });
      
      this.addEvent('failure', function (xhr) {
        console.error(xhr.responseText, 'undo some stuff');
        window.alert(xhr.responseText);
        this.progress.element.parentNode.removeChild(this.progress.element);
      });
      
      sortable('dl.images.dnd', 'dd');
    });
  //]]>
  </script>
  
  
</fieldset>