<fieldset>
  <input type="hidden" name="vertex[@][id]" value="[$item:@id]" id="vertex"/>
  <input type="hidden" name="vertex[@][created]" value="[$item:@created]" />
  <legend>Basic</legend>
  <label for="title">Title</label>
  <input type="text" name="vertex[@][title]" value="[$item:@title]" id="title" class="required text" required="required" placeholder="title is REQUIRED"/>
  <noscript class="Markdown" id="Markdown" data-selector="#Markdown ~ div.abstract textarea">Markdown Editor</noscript>
  <!-- iterate item:abstract -->
  <div class="abstract">
    <label for="[abstract-$index-$type]">[$type]</label>
    <input type="hidden" name="[vertex[abstract][$index][@][content]]" value="[$type]" />
    <textarea name="[vertex[abstract][$index][CDATA]]" rows="8" cols="40" id="[abstract-$index-$type]" class="text" required="[$required]" placeholder="[$type is Required]">[$text]</textarea>
  </div>
  <a class="toggle_extra button pad" href="[#/manage/edge/$item:_model/inside/$item:@id]" onclick="return duplicateTextbox(event);">+/- Extra</a>
</fieldset>
