<footer class="container">
  <div class="group left">
    <h5>Supporters</h5>
    <ul>
      <!-- iterate supporters -->
      <li><a href="/info/supporters">[$@title]</a></li>
    </ul>
  </div>
  <div class="group left">
    <address>
      <span>Third Coast Festival</span>
      <span>Navy Pier</span>
      <span>848 East Grand</span>
      <span>Chicago, Illinois 60611-3509</span>
      <span>312-948-4682</span>
      <a href="mailto:info@thirdcoastfestival.org">info@thirdcoastfestival.org</a>
    </address>
    <p class="clear">[Copyright $year]</p>
  </div>
  
</footer>