<!DOCTYPE html>
<html>
  <head>
    <title>[$title]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Third Coast International Audio Festival"/>
    <script type="text/javascript">
      // <![CDATA[
      window.bloc = (function(d,w,c,q,t) {
        return {
          tag: function (async) {var s = d.createElement('script');s.type='text/javascript';s.async=async;return s;},
          embed: function() {for (var i=0; i < arguments.length; i++) {var s = this.tag(false);s.src=s.src=arguments[i];s.onload = this.load; q.push(s);} return this;},
          track: function (src) { for (var i=0; i < arguments.length; i++) {t.push(this.tag(arguments[i], true));} return this;},
          load: function(){ if (q.length > 0) {d.body.appendChild(q.shift()); } else { for (var k in c) {w.bloc.execute(k, null)}; while(t.length > 0) d.body.appendChild(t.shift());}},
          execute: function(k, a) { if (c[k]) return c[k].call(this, a);},
          prepare: function(k, f) {if (typeof f === 'function') c[k] = f; else return c[k] || function() {};}
      };}(document, window, {}, [], []));

      bloc.embed('/js/bloc.js');
      bloc.prepare('autoload', function (auto) {
        document.querySelectorAll('noscript').forEach(function (elem) {
          var swap = document.createElement('div');
          elem.parentNode.replaceChild(swap, elem);
          var obj = new window[elem.id](swap, elem.dataset);
          if (auto === null) {
            bloc.prepare(elem.id, bloc.prepare(elem.id).bind(obj));
          } else {
            window.bloc.execute.call(obj, elem.id);
          }
        });
        return this;
      });

      bloc.prepare('Player', function (audio) {
        if (audio instanceof Element) {
          this.attach(audio);
        }
        return this;
      });
      // ]]>
    </script>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" media="screen" type="text/css" href="/css/austere.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="/css/layout.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="/css/_working_.css" />
    <link rel="stylesheet" media="(max-width: 600px)" href="/css/_working_mobile_.css" />
  </head>


  <body class="[$_controller $_action unloaded]" data-user="[$user]">


    <header class="container">

      <form class="finder float-left group">
        <input type="text" class="mono" value="" />
      </form>

      <div class="banner float-left group">
        <a href="/" title="Go to the Third Coast Homepage"><img src="/images/logo.svg"/></a>
        <blockquote class="mono" style="padding:2em 0;">Sharing the best audio stories produced worldwide and inspiring the next generation of makers.</blockquote>
      </div>

      <noscript id="Player" data-queue="">The Third Coast Festival Audio Player Requires Javascript</noscript>


      <nav>
        <ul class="plain inline">
          <li class="home context"><a href="/">Home</a></li>
          <li><a href="/overview/library">Library</a></li>
          <li><a href="/overview/conference">Conference</a></li>
          <li><a href="/overview/broadcasts">Shows</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="/overview/competition">Competitions</a></li>
          <li class="context"><a href="#">Subscribe</a></li>
          <li><a href="https://donatenow.networkforgood.org/ThirdCoast">Donate</a></li>
        </ul>
      </nav>

    </header>

    <main class="content container">
      <!-- replace content nextSibling -->
      <section class="landing">

        <article class="group float-left gradient" style="width:45%;padding:5em 1em 1em;background-color:rgba(255,255,255,0.25); text-align:center">
          <h2 data-id="[$collection:@id]">[$collection:title]</h2>
          <p>[$collection:content:about]</p>
          <!-- iterate collection:features -->
          <!-- insert views/cards/feature.html -->
        </article>


        <article class="group float-left" style="width:55%;padding:5em;">
          <h2>News and Events</h2>
          <!-- iterate collection:articles -->
          <section>
            <img src="[http://s3.amazonaws.com/$article:photo:url]" style="width:25%;"/>
            <h2 data-id="[$article:@id]"><a href="[/explore/detail/$article:@id]">[$article:title]</a></h2>
            <p>[$article:summary]</p>
          </section>
        </article>

        <style type="text/css" media="screen">
          /* <![CDATA[ */
          .landing article > h2 {margin:0 0 2em;}
          /* ]]> */
        </style>

      </section>
    </main>

    <!-- insert views/pages/footer.html -->

    <script type="text/javascript">window.bloc.load();</script>

    <!-- replace helper -->
  </body>
</html>
