<section class="features">
  <!-- insert views/partials/pagination.html -->
  <!-- iterate features -->
  <div data-created-at="[$feature:@created]" data-updated-at="[$feature:@age]">
    <h2><a href="[/explore/edit/feature/$feature:@id]">[$feature:@title]</a></h2>
    
    <!-- iterate producers -->
    <cite><a href="[/explore/person/$@id]">[by $@title]</a></cite>
    
    <p>[$feature:abstract]</p>
    <!-- replace fieldlist -->
  </div>
  <style type="text/css" media="screen">
    .features div {
      border:1px solid #aaa;
      margin:1em;
      padding:1em;
    }
  </style>
</section>