<article data-updated="[$feature:@updated]" vocab="http://schema.org/" typeof="CreativeWork" class="feature panel listing pad-v">
  <div>
    <!-- iterate feature:media:audio -->
    <!--  insert views/partials/play-button.html-->
  </div>

  <div class="two-thirds envelope">
    <h3 class="display strong" data-id="[$feature:@id]"><a href="[$feature:permalink]" property="name">[$feature:title]</a></h3>
    <p>[$feature:summary]</p>
  </div>

  <ul class="plain h5">
    <li class="strong">[$feature:duration min]</li>
    <li>[$feature:premier:@date]</li>
    <!-- iterate feature:producers -->
    <li><a href="[$person:permalink]" data-id="[$person:@id]">[$person:title]</a></li>
  </ul>
</article>
