<article id="[goto-$item:@id]" data-created="[$item:@created]" data-type="[$item:types]" data-updated="[$item:@updated]" data-award="[$item:award:title]" vocab="http://schema.org/" typeof="CreativeWork" class="feature panel listing pad card">
  <div  class="bg">
    <img data-src="[$item:image:domain/$item:image:url]" alt="[$item:image:caption]" class="proxy"/>
    <!-- iterate item:media:audio -->
    <!-- insert views/partials/play-button.html-->
  </div>
  <header class="ll pad-h">
    <h6 class="b">[$caption]</h6>
    <h2 class="display"><a href="[$item:permalink]" data-id="[$item:@id]">[$item:title]</a></h2>
    <p>[$item:summary]</p>
  </header>
  <ul class="plain h5 ll pad-h sink container">
    <li class="strong">[$item:year]</li>
    <li>[$item:duration]</li>
    <!-- iterate item:producers -->
    <li><a href="[$person:permalink]" data-id="[$person:@id]">[$person:title]</a></li>
  </ul>
</article>
