<article class="feature page">
  <header>
    <h1 data-id="[$item:@id]">[$item:title]</h1>

  </header>
  
  <section>[$item:content:description]</section>
  
  <nav>
  <h2>More</h2>
    <ul class="plain">
      <!-- iterate item:producers -->
      <li class="person">
        <h4><a href="[/explore/detail/$person:@id]">[$person:title]</a></h4>
        <p>[$person:summary]</p>
      </li>
      <!-- iterate item:features -->
      <li class="feature">
        <h4 class="listen"><a href="[/explore/detail/$feature:@id]">[$feature:title]</a></h4>
        <p>[$feature:summary]</p>
      </li>
    </ul>
  </nav>
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    article.feature h3 {
      color:#5B9B98;
      margin:1em 0;
    }
    div.producer {
      margin:2em 0;
      padding:2em;
      border:1px solid #000;
    }
    /* ]]> */
  </style>
</article>