<article class="text page">
  <header>
    <nav class="caps-lock h6">
  		<a href="/explore/behindthescenes">Behind the Scenes</a> / <span class="selected">[$item:suffix]</span>
  	</nav>
    <div class="panel tt b ">
      <h1 class="display lead strong two-thirds" data-id="[$item:@id]">[$item:title]</h1>
      <figure class="gallery one-third">
        <img data-src="[//s3.amazonaws.com/$item:photo:url]"/>
        <figcaption>[$item:photo:caption]</figcaption>
      </figure>
    </div>
  </header>
  <div class="panel">
    <section class="two-thirds">[$item:content:description]</section>
    <aside class="one-third">
      <!-- iterate item:media:audio -->
      <div class="[$model:@id pad-h l]">
        <audio src="[//s3.amazonaws.com/$src]" title="[$model:title]" data-ref="[$model:permalink]" preload="none">Audio</audio>
        <button class="listen r" style="float: left;" onclick="return loadButtonAudio(this, event);" title="[Listen to '$model:title']">Play Now</button>
        <span>[$caption]</span>
      </div>
    </aside>
  </div>
  <hr />
  <nav>
    <h4 class="brown strong caps-lock t b">More</h4>
    <ul class="plain">
      <!-- iterate item:producers -->
      <li class="person">
        <h4 data-id="[$person:@id]"><a href="[$person:permalink]">[$person:title]</a></h4>
        <p>[$person:summary]</p>
      </li>
      <!-- iterate item:features -->
      <li class="feature">
        <h4 data-id="[$feature:@id]"><a href="[$feature:permalink]">[$feature:title]</a></h4>
        <p>[$feature:summary]</p>
      </li>
    </ul>
  </nav>
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    article.text h3 {
      font-weight:800;
      margin:2em 0 1em;
      text-transform:none;
      line-height:1.5;
      font-size:calc(1.15em + 0.35vw);
    }
    div.producer {
      margin:2em 0;
      padding:2em;
      border:1px solid #000;
    }
    /* ]]> */
  </style>
</article>
