<article class="text page">
  <header>
    <h1 data-id="[$item:@id]">[$item:title]</h1>
  </header>
  <section>[$item:content:description]</section>
  <hr />
  <!-- iterate item:media:audio -->
  <span>
    <audio src="[http://s3.amazonaws.com/$src]" title="[$caption]" controls="controls" preload="metadata">Audio</audio>
    <button class="listen" onclick="loadButtonAudio(this);return false;">Listen</button>
    <p>[$caption]</p>
  </span>
  <nav>
  <h2>More</h2>
    <ul class="plain">
      <!-- iterate item:producers -->
      <li class="person">
        <h4 data-id="[$person:@id]"><a href="[/explore/detail/$person:@id]">[$person:title]</a></h4>
        <p>[$person:summary]</p>
      </li>
      <!-- iterate item:features -->
      <li class="feature">
        <h4 class="listen" data-id="[$feature:@id]"><a href="[/explore/detail/$feature:@id]">[$feature:title]</a></h4>
        <p>[$feature:summary]</p>
      </li>
    </ul>
  </nav>
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    article.text h3 {
      color:#9c5b86;
      margin:1em 0;
      text-transform:none;
      font-size:1.35em;
    }
    div.producer {
      margin:2em 0;
      padding:2em;
      border:1px solid #000;
    }
    /* ]]> */
  </style>
</article>
