<article class="feature page" vocab="http://schema.org/" typeof="CreativeWork">
  <header>
    <div class="controls">
      <!-- iterate item:media:audio -->
      <!-- insert views/partials/play-button.html -->
      <h1 data-id="[$item:@id]" property="name" class="lead display tracked">[$item:title]</h1>
    </div>
    <div class="two-thirds">
      <p class="h3">[$item:summary]</p>
      <h4 class="tt strong">[$item:year / $item:premier, $item:location]</h4>
    </div>
  </header>
  <hr class="ruled"/>
  <section class="panel flip">
    <figure class="one-third gallery ll">
      <img data-src="[$item:image:domain/$item:image:url]" alt="[$item:image:plain]" property="image" data-ratio="[$item:image]"/>
    </figure>
    <div class="two-thirds">
      <div class="markdown" property="description">[$item:content:description]</div>
      <h4 class="brown caps-lock strong t">produced by</h4>
      <!-- iterate item:producers -->
      <!-- insert views/cards/person.html -->
    </div>
  </section>
  <hr/>
  <nav class="two-thirds">
    <ul class="plain">
      <!-- iterate item:playlists -->
      <li class="playlists">
        <a href="[$collection:permalink]">[$collection:title]</a>
        <p>[$collection:summary]</p>
      </li>
    </ul>
  </nav>
  <footer class="center">
    <h2>Subscribe to the Podcast</h2>
    <p>Treat your ears to a radiophonic remix of audio goodness by subscribing to the Re:sound podcast. It’s hosted by Gwen Macsai and produced by Isabel Vázquez.</p>
    <p>You can subscribe through <a href="https://itunes.apple.com/us/podcast/third-coast-international/id135072877">iTunes</a> (where we hope you'll consider writing a review), <a href="https://play.acast.com/s/tciafpodcast">Acast</a> or wherever you find your favorite podcasts.</p>
  </footer>
</article>
