<article class="feature page" vocab="http://schema.org/" typeof="CreativeWork">
  <nav class="caps-lock t b h6">
    <span><a href="/overview/library/shows">Re:Sound</a> / </span>
    <span class="selected">[$item:title]</span>
  </nav>
  <header>
    <a class="award" href="[/overview/competition/$item:award:competition:@id]" property="award">[$item:award:html]</a>
    <div class="two-thirds controls">
      <!-- iterate item:media:audio -->
      <!-- insert views/partials/play-button.html -->
      <h1 data-id="[$item:@id]" property="name" class="strong lead display tracked">[$item:title]</h1>
    </div>
    <div class="two-thirds">
      <p class="h3">[$item:summary]</p>
      <h4 class="h3">[$item:premier:@date / $item:premier, $item:location]</h4>
    </div>
  </header>
  <section class="panel">
    <div class="two-thirds">
      <div property="description">[$item:content:description]</div>
      <h4 class="brown caps-lock strong t">produced by</h4>
      <!-- iterate item:producers -->
      <!-- insert views/cards/person.html -->
    </div>
    <figure class="one-third gallery">
      <img src="[$item:image:domain/$item:image:url]" alt="[$item:image:plain]" property="image" data-ratio="[$item:image]"/>
    </figure>
  </section>
  <hr/>
  <nav class="two-thirds">
    <ul class="plain">
      <!-- iterate item:playlists -->
      <li class="playlists">
        <a href="[$collection:permalink]">[$collection:title]</a>
        <p>[$collection:summary]</p>
      </li>
    </ul>
  </nav>
  <footer class="center">
    <h2>Subscribe to the Podcast</h2>
    <p>Hosted by Re:sound producer Dennis Funk, the weekly Third Coast Podcast features episodes of Re:sound (a radiophonic remix of audio goodness) and occasional audio treats, like recent faves from our library spotlight and debuts of more experimental work.</p>
    <p>You can subscribe through <a href="https://itunes.apple.com/us/podcast/third-coast-international/id135072877">iTunes</a> (where we hope you'll consider writing a review) or <a href="http://feeds.feedburner.com/tciafpodcast" target="_blank">Feedburner</a>, or listen via <a href="https://soundcloud.com/thirdcoast">SoundCloud</a>.</p>
  </footer>
</article>
