<article>
  <nav class="caps-lock strong t b">
    <a href="/overview/playlists">All Playlists</a> / <span>[$item:title]</span>
  </nav>

  <header class="two-thirds">
    <h1 class="lead display strong tracked" data-id="[$item:@id]">[$item:title]</h1>
  </header>

  <div class="panel">
    <section>[$item:content:description]</section>
    <figure class="gallery">
      <img src="[http://s3.amazonaws.com/$item:photo:url]"/>
      <figcaption>[$item:photo:caption]</figcaption>
    </figure>
  </div>

  <section>
    <!-- iterate item:features -->
    <!-- insert views/cards/feature.html -->
  </section>
</article>
