<article>
  <nav class="center crumbs">
    <ul class="plain">
      <li><a href="/overview/playlists">All Playlists</a></li>
    </ul>
  </nav>
  <section class="container" style="margin:2em 0;">
    <img src="[http://s3.amazonaws.com/$item:photo:url]" style="width:50%;float:left;margin:0 1em 0 0;"/>
    <h1 class="condensed" data-id="[$item:@id]">[$item:title]</h1>
    <section>[$item:content:description]</section>
  </section>

  <nav>
    <!-- iterate item:features -->
    <!-- insert views/cards/feature.html -->
  </nav>
</article>
