<article class="feature" vocab="http://schema.org/" typeof="CreativeWork">
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    main.content {position:relative;}
    button.listen {
      background-image:url(/images/listen.svg);
      background-size: auto 100%;
      background-repeat:no-repeat;
      padding-left:2.5em;
      color:#5B9B98;
      letter-spacing:0.075em;
    }
    
    .shrink {
      transition:all 1s cubic-bezier(0.9,0,0.25,1)  0.125s;
      font-size:1.5em !important;
      padding:1em;
      background-color:#fdfdfa;
    }
    .move {
      width:10% !important;
      padding:0.5em;
    }
    /* ]]> */
  </style>

  
  <header class="title card">
    <ul class="inline mono">
      <!-- iterate item:producers -->
      <li>[$person:title. ]</li>
    </ul>
    <h1 data-id="[$item:@id]" class="serif em marquee"  property="name">[$item:title]</h1>

    <!-- iterate item:media:audio -->
    <audio src="[$domain/$src]" title="[$caption]" onloadedmetadata="drawButton(this);" controls="controls" preload="metadata">Audio</audio>
  </header>
  
  <script type="text/javascript">
    // <![CDATA[
    function drawButton(audio_element) {
      var butt = document.createElement('button');
      butt.textContent = "Listen — " + "{m}:{s}".format((new Date(audio_element.duration *1e3)).timecode());
      butt.className = "listen";
      audio_element.parentNode.insertBefore(butt, audio_element);
      
      
      butt.addEventListener('click', function (evt) {
        var spread = Animate(function (element) {
          var ratio = Math.min(1, 1 - Math.pow(1 - (Date.now() - this.start) / this.duration, 5)); // float % animation
          
          var x = ratio >= 1 ? this.to[0] : ( ratio * ( this.to[0] - this.from[0] ) ) + this.from[0];
          var y = ratio >= 1 ? this.to[1] : ( ratio * ( this.to[1] - this.from[1] ) ) + this.from[1];
          
          element.style.top  = y + 'px';
          element.style.left = x + 'px';
          

          return (ratio < 1);
        });
      
        evt.preventDefault();
        var player = window.bloc.execute('Player', audio_element);
        var li = document.createElement('li');
        
        var h1 = this.parentNode.querySelector('h1');
        var clone = h1.cloneNode(true);
        var pos = h1.getBoundingClientRect();

        clone.style.position = 'absolute';
        window.Adjust.scroll(window.pageYOffset - pos.height, 1500);
        clone.style.top = pos.top + window.pageYOffset + 'px';
        clone.style.left = pos.left + 'px';
        clone.style.width = pos.width + 'px';
        clone.style.textAlign = 'center';
        var button = this;
        button.style.top = '-1em';

        document.body.appendChild(clone);
        clone.addEventListener('transitionend', function (evt) {
          console.log(evt);
        });
        setTimeout(function () {
          button.parentNode.removeChild(button);
          clone.classList.add('shrink');
          setTimeout(function () {
            clone.style.left = '0px';
            clone.style.width = '0px';
            clone.classList.add('move');
          }, 500);
          
          
        }, 150);
        
        
        player.display.appendChild(li);
        
        // 
        
        
      });
    }
    // ]]>
  </script>
  
  <section class="container">
    <a class="h3 award" href="[/explore/detail/$item:award:competition:@id]" property="award">[$item:award:html]</a>
    <span style="padding:1em 0;display:block;font-size:1.5em;">[$item:premier:@date, $item:premier,  $item:location]</span>
  </section>
  
  <section class="group left" style="width:20%;padding:0 2.5% 0 0;margin:0;border-right:1px solid rgba(0,0,0,0.1)">
    <!-- iterate item:media:image -->
    <img src="[$domain/$url]" alt="[$caption]" style="width:100%;" property="image"/>
  </section>
  
  <section class="intro group left" style="width:75%;margin-left:2.5%"  property="description">[$item:content:description]</section>

  <hr class="tempo clear"/>
  
  <section property="contributors" style="margin-left:20%;">
    <!-- iterate item:producers -->
    <!-- insert views/cards/person.html -->
  </section>
  
  <h2>Next Up (in theory)</h2>
  <!-- insert views/lists/recommendation.html -->
  
  <section style="margin-top:5em;border-top:1px solid #aaa;padding:1em 0;">[$item:content:extra]</section>
  
  <div class="tile container">
    <h2>[$item:related]</h2>
    <!-- iterate item:playlists -->
    <a href="[/explore/detail/$collection:@id]">[$collection:title]</a>
    
    <!-- iterate item:extras -->
    <a href="[/explore/detail/$article:@id]">[$article:@title]</a>
    
    <!-- iterate item:competitions -->
    <!-- insert views/cards/competition.html -->
    
  </div>
  

  <script type="text/javascript" async="true">
    // <![CDATA[
    
    bloc.prepare('recommend', function () {
      
      document.querySelector('ol.recommended').addEventListener('click', function (evt) {
        if (evt.target.nodeName === "A") {
          evt.preventDefault();
          var request = new XMLHttpRequest();
          request.addEventListener('load', function (evt) {
            evt.target.responseXML.querySelectorAll('audio').forEach(function (audio) {
              document.body.appendChild(audio);
            });
          });
          request.open('GET', evt.target.href + ".xml");
          request.send();

        }
      });
    });
    // ]]>
  </script>
</article>