<article class="feature page" vocab="http://schema.org/" typeof="CreativeWork">
  <header>
    <a class="award" href="[/overview/competition/$item:award:competition:@id]" property="award">[$item:award:html]</a>
    <div class="two-thirds controls">
      <!-- iterate item:media:audio -->
      <!-- insert views/partials/play-button.html -->
      <h1 data-id="[$item:@id]" property="name" class="lead display tracked">[$item:title]</h1>
    </div>
    <div class="two-thirds">
      <p class="h3">[$item:summary]</p>
      <h4 class="h3">[$item:premier:@date / $item:premier, $item:location]</h4>
    </div>
  </header>

  <section class="panel">
    <div class="two-thirds">
      <div property="description">[$item:content:description]</div>

      <h4 class="brown caps-lock strong t">produced by</h4>
      <!-- iterate item:producers -->
      <!-- insert views/cards/person.html -->

    </div>

    <style media="screen">
      .gallery {
        text-align:center;
      }
      .gallery img {
        padding:2.5em;
        background-color:rgba(0,0,0,0.05);
        max-width:100%;
      }
    </style>
    <div data-size="[$item:media:size:image]" class="one-third gallery">
      <!-- iterate item:media:image -->
      <img src="[$domain/$url]" alt="[$plain]" property="image" data-ratio="[$mark]"/>
    </div>

  </section>

  <section>
    <h4 class="strong caps-lock brown t b">Featured in</h4>
    <nav>
      <ul class="plain">
        <!-- iterate item:extras -->
        <li><a href="[$article:permalink]">[$article:title]</a></li>
        <!-- iterate item:playlists -->
        <li><a href="[$collection:permalink]">[$collection:title]</a></li>
        <!-- iterate item:competitions -->
        <li><a href="[/overview/competition/$competition:@id]">[$competition:title]</a></li>
      </ul>
    </nav>
  </section>

  <section style="margin:2em 0;">
    <h4 class="brown caps-lock strong t b">Recommend</h4>
    <!-- insert views/lists/recommendation.html -->
    <aside>[$item:content:extra]</aside>
  </section>


</article>
