<article>
  <a href="/explore/index/happening">Back to happenings</a>
  <h1 data-id="[$item:@id]">[$item:title]</h1>
  <section>[$item:content:about]</section>
  
  <section class="container">
    <div class="group left" style="width:50%">
      <h2>Conference Sessions</h2>
      <!-- iterate item:sessions -->
      <div>
        <h3 class="h2"><a href="[/explore/detail/$session:@id]">[$session:title]</a></h3>
        <section>[$session:summary]</section>
      </div>
      
    </div>
    
    <div class="group left concise cards" style="width:50%">
      <h2>Presenters</h2>
      <!-- iterate item:participantsAlpha -->
      <!-- insert views/cards/person.html -->
    </div>
  </section>

</article>