<article class="person page">
  <nav class="caps-lock b">
    <a href="/overview/people">Producers Index</a> / <span class="selected">[$item:@title]</span>
  </nav>
  <style media="screen">
  @media screen and (min-width:40em){
    .cluster {
      align-items:flex-start;
      display:flex;
    }
    .cluster > h5 {
      flex:1 0 auto;
      max-width:20%;
      text-align:center;
      align-self:stretch;
      padding:5vmin 0;
      border-right:1px solid #EEE;
    }
    .cluster > div { width:80% }
    .cluster > .panel {
      flex: 1 0 auto;
    }
    .controls h2.display small {
      display: block;
    }
    .person .gallery {
      align-self: flex-end;
      margin-bottom: 1em;
    }
  }
  </style>
  <section class="panel flip">
    <figure class="one-third gallery ll">
      <img data-src="[//s3.amazonaws.com/$item:photo:url]" alt="[$item:photo:caption]"/>
    </figure>
    <div class="two-thirds rr">
      <h1 class="strong lead display tracked tt b" data-id="[$item:@id]">[$item:title]</h1>
      <div style="font-size:125%;">[$item:content:bio]</div>
    </div>
  </section>
  <!-- iterate item:contributions -->
  <section class="listing cluster t">
    <h5 class="brown caps-lock" id="[$name]">[$name]</h5>
    <div>
      <!-- iterate items -->
      <article data-updated="[$item:@updated]" class="listing pad">
        <a class="award h4" href="[/competition/$item:award:competition:@key]" property="award">[$item:award:html]</a>
        <div class="panel">
          <div class="controls">
            <!-- iterate item:media:audio -->
            <!-- insert views/partials/play-button.html -->
            <h2 class="display"><small>[$edge]</small><a href="[$item:permalink]">[$item:title]</a></h2>
          </div>
        </div>
        <p class="ll pad-h">[$item:summary]</p>
      </article>
    </div>
  </section>
</article>
