<article class="person page">
  <nav class="center crumbs">
    <ul class="plain">
      <li class="h2 caps-lock">· More ·</li>
      <li><a href="/explore/index/person">See All People</a></li>
    </ul>
  </nav>
  <header>
    <h1 data-id="[$item:@id]">[$item:@title]</h1>
    <img src="[http://s3.amazonaws.com/$item:photo:url]" />
  </header>
  
  <section>[$item:content:bio]</section>
  <hr />
  <!-- iterate item:contributions -->
  <nav>
    <h2 class="caps-lock padded">[$name]</h2>
    <ul class="plain">
      <!-- iterate items -->
      <li data-updated="[$item:@updated]" class="trans-blocks">
        <a class="h5 award" href="[/overview/competition/$item:award:competition:@id]" property="award">[$item:award:html]</a>
        
        <a class="h1" href="[$overview]">[$item:title]</a>
        <hr/>
        <blockquote class="justify"><p>[$item:summary]</p></blockquote>
        
        <!-- iterate item:media:audio -->
        <span>
          <audio src="[http://s3.amazonaws.com/$src]" title="[$caption]" controls="controls" preload="metadata">Audio</audio>
          <button class="listen" onclick="loadButtonAudio(this);return false;">Listen</button>
        </span>
        
      </li>
    </ul>
  </nav>
</article>