<article class="person page">
  <header>
    <h1 data-id="[$item:@id]">[$item:@title]</h1>
    <img src="[http://s3.amazonaws.com/$item:photo:url]" />
  </header>
  
  <section>[$item:content:bio]</section>
  <hr />
  <!-- iterate item:contributions -->
  <nav>
    <h2 class="caps-lock padded">[$name]</h2>
    <ul class="plain">
      <!-- iterate items -->
      <li>
        <a class="h4" href="[$overview]">[$item:title]</a>
        <p>[$item:summary]</p>
      </li>
    </ul>
  </nav>
</article>