<article class="session page" vocab="http://schema.org/" typeof="CreativeWork">
  <nav class="strong caps-lock">
    <!-- iterate item:happenings -->
    <span><a href="[/overview/conference/$happening:@id]">[$happening:title]</a> / </span>
    <span>[$item:title]</span>
  </nav>

  <header>
    <div class="two-thirds controls">
      <!-- iterate item:media:audio -->
      <!-- insert views/partials/play-button.html -->
      <h1 class="lead display strong tracked" data-id="[$item:@id]" property="name">[$item:title]</h1>
    </div>

  </header>


  <div class="panel">
    <section class="two-thirds intro" property="description">[$item:content:description]</section>
    <figure class="one-third gallery">
      <!-- iterate item:media:image -->
      <img src="[http://s3.amazonaws.com/$url]" alt="[$caption]" property="image"/>
    </figure>
  </div>




  <section property="contributors">
    <ul>
      <!-- iterate item:extras -->
      <li><a href="[$article:permalink]">[$article:title]</a></li>
    </ul>

    <h4 class="strong caps-lock brown">Featuring</h4>
    <!-- iterate item:presenters -->
    <!-- insert views/cards/person.html -->
  </section>
</article>
