<article class="session page" vocab="http://schema.org/" typeof="CreativeWork">
  <style media="screen">
    .gallery.bar {text-align:left;margin:2vmax 0;}
  </style>
  <header>
    <div class="controls">
      <!-- iterate item:media:audio -->
      <!-- insert views/partials/play-button.html -->
      <h1 class="lead display tracked" data-id="[$item:@id]" property="name">[$item:title]</h1>
    </div>
    <p class="h3" property="description">[$item:summary]</p>
  </header>
  <figure class="gallery bar">
    <!-- iterate item:media:image -->
    <img data-src="[//s3.amazonaws.com/$url]" alt="[$caption]" property="image"/>
  </figure>
  <section class="two-thirds pad" property="description">[$item:content:description]</section>
  <hr class="ruled"/>
  <section property="contributors">
    <nav class="caps-lock t b h6">
      <!-- iterate item:happenings -->
      <span><a href="[$happening:permalink]">[$happening:title]</a> / </span>
      <span class="selected">[$item:title]</span>
    </nav>
    
    <ul>
      <!-- iterate item:extras -->
      <li><a href="[$article:permalink]">[$article:title]</a></li>
    </ul>
    <h4 class="strong caps-lock brown t b">Featuring</h4>
    <!-- iterate item:presenters -->
    <!-- insert views/cards/person.html -->
  </section>
</article>
