<article class="session page" vocab="http://schema.org/" typeof="CreativeWork">
  
  <h3>Conference Session</h3>
  

  
  <header>
    <p>[Presented: $item:premier:@date, $item:premier,  $item:location]</p>
    <h1 data-id="[$item:@id]" property="name">[$item:title]</h1>
    <!-- iterate item:media:audio -->
    <span>
      <audio src="[http://s3.amazonaws.com/$src]" title="[$caption]" controls="controls" preload="metadata">Audio</audio>
      <button class="listen" onclick="loadButtonAudio(this);return false;">Listen</button>
    </span>
    
  </header>
  
  
  <section class="group float-left" style="width:20%;padding:0 2.5% 0 0;margin:0;border-right:1px solid rgba(0,0,0,0.1)">
    <!-- iterate item:media:image -->
    <img src="[http://s3.amazonaws.com/$url]" alt="[$caption]" style="width:100%;" property="image"/>
  </section>
  
  <section class="intro group float-left" style="width:75%;margin-left:2.5%"  property="description">[$item:content:description]</section>
  
  
  <section class="group float-left" property="contributors" style="width:75%;margin-left:2.5%;">
    <ul>
      <!-- iterate item:extras -->
      <li>More: <a href="[/explore/detail/$article:@id]">[$article:title]</a></li>
    </ul>
    
    <h2>Featuring</h2>
    <!-- iterate item:presenters -->
    <!-- insert views/cards/person.html -->
  </section>
  
  
  
  <section class="half group float-left" style="padding-left:1em;">
    <h2>Part of...</h2>
    
    <ul class="plain">
      <!-- iterate item:playlists -->
      <li><h4><a href="[/explore/detail/$collection:@id]">[$collection:title]</a></h4></li>
    
      <!-- iterate item:happenings -->
      <li><h4><a href="[/overview/conference/$happening:@id]">[$happening:title]</a></h4></li>
    </ul>
  </section>
  

 
</article>