

.trans-blocks {
  margin:3em 0;
  background-color:rgba(255,255,255, 0.4);
  padding:2em;
  border:1px solid rgba(0,0,0,0.075);
  box-shadow: 0 0 0 1em rgba(255,255,255,0.4);
  position:relative;
}

.card h3 {
  text-transform:none;
}


blockquote.justify {
  width:50%;
  margin:1em auto;
}

.award {
  padding: 0.5em 3.5em 0.5em 0;
  display:block;
  position:absolute;
  text-align:right;
  top:0;
  right:0;
  text-decoration:none;
  background: transparent url(/images/medal.svg) no-repeat top right;
  background-size:auto 100% ;
}

.award > * {
  display:block;
}

.bio-disc {
  border-radius:50%;
  background-size:cover;
  background-position:top center;
  background-repeat:no-repeat;
  width:7.5em;
  height:7.5em;
  border:2px solid #fff;
  display:block;
  text-indent:-1000em;
  color:transparent;
  box-shadow:0 0 0 0.25em rgba(0,0,0,0.1);
}

.card .bio-disc {
  float:left;
  opacity:0.8;
  margin:0 1em 0 0;
}

.card {
  margin:1em 0;
  border:1px solid #eee;
  box-shadow:0 0 0 0.25em rgba(255,255,255,0.25);
  padding:1em;
}


.trans-blocks .card {
  margin:0;
  box-shadow:none;
  border:none;
  border-left:1px dashed rgba(0,0,0,0.1);
  padding-left:2em;
}


.crumbs ul {
  padding:1em;
  border-top-width:0;
  display:inline-block;
  background-color:rgba(255,255,255,1);
  box-shadow:0 0.25em 0.25em 0.075em rgba(0,0,0,0.1);
  max-width:40%;
}

.crumbs li strong {
  text-transform:uppercase;
  letter-spacing:0.125em;
  color:#AAA;
  padding:0 0.5em;
}

.crumbs li {
  padding:0.5em 0;
}
.crumbs li + li {
  border-top:1px dashed rgba(0,0,0,0.1);
}
.crumbs li a {
  padding:0.125em;
  font-size:1.35em;
}

.split .card:nth-child(odd) {
  margin-right:2.5% !important;
  clear:left;
}
.split .card, .split li {
  width:47.5%;
  box-sizing:border-box;
  float:left;
}

.split li {
  padding:0.25em 1em;
  border-bottom:1px solid rgba(0,0,0,0.04);
}
.split li:nth-child(odd) {
  text-align:right;
}



h3 {
  text-transform:uppercase;
  color:#88746A;
  margin:1em 0 0;
}


.intro {
  font-size:1.65em;
  color:#88746A;
}