

nav.group.crumbs > ul.index {
  width:100%;
  margin:1em 0;
}

.split .card:nth-child(odd) {
  margin-right:2.5% !important;
  clear:left;
}
.split .card, .split li {
  width:47.5%;
  box-sizing:border-box;
  float:left;
}

.split li {
  padding:0.25em 1em;
  border-bottom:1px solid rgba(0,0,0,0.04);
}
.split li:nth-child(odd) {
  text-align:right;
}



.search li.feature {
  border-left:0.5em solid rgba(115, 60, 158, 0.35)
}

.search li.person {
  border-left:0.5em solid rgba(159, 37, 33, 0.32)
}

.search li.happening {
  border-left:0.5em solid rgba(106, 172, 179, 0.28)
}

.search li.competition {
  border-left:0.5em solid rgba(75, 245, 24, 0.26)
}

.search li.article {
  border-left:0.5em solid rgba(212, 217, 154, 0.46)
}
