

ul { list-style-type: square; }
ul, ol {
  padding:0 0 0 2em;
}


.ruled:not(.columns) {
  border-bottom:1px solid #eee;
}

input, textarea {
  width:100%;
}
input, textarea, fieldset {
  padding:0;
  border: 1px solid #ccc;
  background-color:rgba(255,255,255,0.5);
  transition:box-shadow 0.25s, padding 0.25s, width 0.25s, margin 0.25s;
}

input[type=checkbox], input[type=radio] {width:auto;vertical-align:text-bottom;}
input[type=checkbox] + label, input[type=radio] + label {margin:0 0.25em 0 0 !important;max-width:95%;}
