
/* Color -------------------
  dark 323031
  tan eddad0
  brown 88746A
  teal 5B9B98
  purple 492737
  red EE3124
*/
svg .brown {fill:#88746A;}
svg .red   {fill:#EE3124;}
svg .blue  {fill:#5b9c99;}

.success {background-color:#D7F4CB;border-radius:0.15em;}
.info {background-color:#CEE3EB;border-radius:0.15em;}
.warn {background-color:#F3EECC;border-radius:0.15em;}
.alert {background-color:#E9CCCB !important;border-radius:0;}
.warn,.info,.alert,.success{border:1px solid rgba(0,0,0,0.25);}
.button.login {border:none;padding:0 0.5em;box-shadow:none;}



/* Generic Classes ------------------- */
.container:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.capitalize {text-transform: capitalize;}

.plain {list-style:none;padding:0;}
.caps-lock {text-transform:uppercase;}
.ghost {opacity:0.5;}
.ghost:hover {opacity:1;}
.fade {opacity:0;}
.inline:not(ul), .inline li, .inline dd, ul.divide li  {display:inline-block;}
ul.inline, ul.divide {padding:0;}
.ragright {text-align:left;}
.ragleft {text-align:right;}
.center {text-align:center;}
.middle {margin: 0 auto}
.justify {text-align: justify;}
.clear {clear:both;}
.close {height:2em;width:2em;line-height:0;padding:0.5em;}
.group{display:block;box-sizing:border-box;}
.float-left{float:left;}
.float-right{float:right;}
.divide li {padding:0.25em 1em}
.divide li + li {border-left:1px solid rgba(0,0,0,0.1)}




.interactive:before {
  content: '⚙ ';
  transition:color 0.25s;
}
.interactive:hover:before, .interactive.active:before  {
  color:#5B9B98;
}
.interactive, button, .button {
  cursor:pointer;
}


/* Typography ------------------- */

strong, .strong, .selected {font-weight:600;}
.tracked {letter-spacing:-0.025em}
em, .em, blockquote {font-style:italic;}


ul.plain li {font-size:100%;}
label, cite, p, .p, li, h1, h2, h3, h4, h5, address, legend, .normal, button, .button {
  font-weight:400;
}
.h1,.h2,.h3,.h4,.h5 {display:block;}





select {font-size:1.25em; -webkit-appearance: menulist-button; }
button:focus, select:focus {
  outline:none;
}

/* Layout ------------------- */

address span {
  display:block;
}

ul { list-style-type: square; }
ul, ol {
  padding:0 0 0 2em;
}

label, p, h5 {
  display:block;
  margin:0.5em 0;
}

.ruled:not(.columns) {
  border-bottom:1px solid #eee;
}


input, textarea {
  width:100%;
}
input, textarea, fieldset {
  box-sizing:border-box;
  padding:0;
  border: 1px solid #ccc;
  background-color:rgba(255,255,255,0.5);
  transition:box-shadow 0.25s, padding 0.25s, width 0.25s, margin 0.25s;
}

input[type=checkbox], input[type=radio] {width:auto;vertical-align:text-bottom;}
input[type=checkbox] + label, input[type=radio] + label {margin:0 0.25em 0 0 !important;max-width:95%;}

article > footer {
  margin:2.5em;
}
body > footer {
  background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);
  padding:5em 0 0;
  border-top:1px dashed rgba(0,0,0,0.1);
  box-shadow: 0 0 0 1em rgba(255,255,255,0.25);
}
body > footer > section:first-of-type {
  margin:0 2.5em;
}


fieldset + fieldset {
  margin:5em 0 0 0;
}

legend {
  padding:0 0.5em;
  position:relative;
  text-align:center;
  text-shadow:1px 1px rgba(0,0,0,0.25);
  font-weight:400;
  letter-spacing:0.125em;
  color:#323031;
}



.search {
  position:relative;
}

/* components  */
.search ul {
  position: absolute;
  padding: 0;
  left:0;
  margin: 0 2.5%;
  width: 95%;
  color: #fff;
  z-index: 1000;
  background-color: rgba(255,255,255,0.95);
  box-sizing: border-box;
  list-style: none;
  transition:opacity 0.75s;
}
.search ul:not(:empty) {
  box-shadow:0 0.25em 0.125em rgba(0,0,0,0.1);
}
.search ul li {
  padding:0.75em 1em;
  cursor:pointer;
  color:#323031;
  display:block;
  position:relative;
}
.search ul li:hover, .search ul li.highlight {
  background-color:#5B9B98;
  color:#fff;
}
.search ul li + li {
  border-top:1px solid #eee;
}



@keyframes spin         { from { transform:rotate(0deg) }        to { transform:rotate(360deg) } }
