.group{display:block;}
a.trash:not([data-locked='no']) {
  display:none;
}

*.edit > button[title=edit]:focus {
  outline:none;
}

*.edit > button[title='edit'], .interactive:after {
  border: none;
  color: #fff;
  text-transform:lowercase;
  margin: -5px 0 0 -15px;
  position:absolute;
  padding:5px !important;
  display: inline-block;
  line-height: 1;
  background-color: rgba(224, 81, 154, 0.9);
  font-size: 10px !important;
  letter-spacing: 0;
  vertical-align: top;
  border-radius:5px;
  align-self:flex-start;
  cursor:pointer;
  opacity: 0.85;
}

body[data-edit='no'] button[title='edit'] {display:none}
.interactive:after {
  content: 'adjust';
  margin: 0 0 0 0.5em !important;
}
form .button {
  display:inline-block;
}
fieldset {
  margin:1em 0;
}
legend {
  text-transform:uppercase;
  font-size:1.5em;
  color:#888;
  padding:0.25em;
}


.float-left { float:left }


form.editor label {
  color:#555;
  font-weight:400;
  transition:color 0.25s;
  letter-spacing:0.075em;
  margin:0.5em 0 0;
}

textarea.text::selection {
  background: #ffcf01;
}


input[type='file'] {
  display:none;
}

form.editor .text {
  margin:0.25em 0;
  line-height:1.5em;
  padding:0.25em 2% 0.25em 3%;
  width:100%;
  border-width:1px 0;
  font-size:1.5em;
}

form.editor .text:focus {
  outline:none;
  box-shadow:0 0.125em 0.125em #9DD1EF;
}

textarea:not(:focus) {
  overflow:hidden;
  box-shadow:inset 0 -0.25em 0.55em rgba(0,0,0,0.25);
}



label.range {
  display:block;
  font-weight:400;
  color:#333 !important;
  margin:0;
}
label + label.range {
  border-top:1px solid #fff;
  margin-top:0;
}
label.range:not(:last-of-type) {
  margin-bottom:0;
}

label.range input[type='range'] {
  display: block;
  float:left;
  cursor:pointer;
  margin:0.25em 0;
  padding:0;
  width: 60%;
}

label.range span {
  display:block;
  float:left;
  margin:0;
  padding:0;
  text-align:center;
  vertical-align:top;
  width:20%;
}

.spectra.open {
  background:transparent url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1' ><path d='M0,0l1,1' stroke='#EEE' fill='none'/></svg>") repeat-y 50% 0;
}



.spectra label {
  display:list-item;
  height:2em;
  margin:0;
  overflow:hidden;
  transition:height 0.125s;
  bottom:0;
}


.spectra.open label {
  height:4.5em;
  list-style:none;
}
label.range h4 {
  margin:0.25em 1%;
  width:50%;
  transition:margin 0.125s;
}
.spectra.open label.range h4 {
  margin:1em 25% 0.25em;
  text-align:center;
}


.dashboard {
  box-shadow: inset 0 0.25em 0.25em rgba(0,0,0,0.125);
  background-color:#eee;
  color:#333;
  padding:2em;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}



.hud {
  color:#fff;
  overflow:hidden;
  background-color:#333;
  height:0;
  opacity:0;
}
.hud.visible {
  height:auto;
  opacity:1;
}
.hud li {
  padding:0.5em;
  cursor:pointer;
  flex:1 0 auto;
  transition:background-color 0.25s, color 0.25s;
  text-align:center;
}
.hud li:not(:last-child) {
  border-right:1px solid rgba(255,255,255,0.2);
}

.hud li var {
  color:#FFCF01;
  font-style:normal;
  letter-spacing:0.125em;
  padding:0 0.25em;
}
.hud li:hover {
  background-color:#eee;
  color:#333;
}

.hud li:hover var {
 color:#333;
}



form .recommended div.audio {
  display:none
}
form .recommended div {
  width:100% !important;
}

.locked, .lock {
  overflow:hidden;
}



.backdrop {
  position:fixed;
  top:0;
  left:0;
  opacity:0;
  width:100%;
  overflow:hidden;
  z-index:100000;
  background-color:rgba(0,0,0, 0.15);
  transition:opacity 0.75s;
}

.backdrop .close {
  position: fixed;
  top: 0.25em;
  right: 5%;
  box-shadow:-0.25em -0.25em 0.25em rgba(0,0,0,0.1);
  color:rgb(224, 81, 154);
  z-index: 90000;
  font-size: 3em;
}
.backdrop > .progress circle {
  stroke:none;
  fill:none;
}
.backdrop > .progress path {
  stroke:#eee;
  stroke-opacity:1;
}
.backdrop > .progress {
  color:#fff;
  font-size:2em;
  width:300px;
  height:300px;
  margin-top:-150px;
  margin-left:-150px;
  left:50%;
  top:40%;
  position: fixed;
}


.backdrop > form:not(.search) {
  overflow:scroll;
}
.backdrop > form {
  position: relative;
  left: 10%;
  max-width: 80%;
  height: 90vh;
  width: 85%;
  border-color: #CEE3EB;
  background-color: #f8f8f8;
  transition:opacity 1s;
  opacity:0;
  box-shadow:0 0 5em rgba(0,0,0,0.5);
}

.backdrop.viewing {
  opacity:1;
  visibility:visible;

}

.backdrop.loaded > form {
  opacity:1;
  height:100vh;
  padding:4em 2em;
}










fieldset.edges dl {
  position:relative;
  z-index:0;
  padding:0.25em;
}

fieldset.edges dd:not(> div) {
  opacity:0;
}

fieldset.edges h3 {
  max-width:80%;
  margin:0.5em 0 0;
}
fieldset.edges dl:hover dt {
  color:#333;
}

fieldset.edges dl:hover h2 {
  opacity:0.25;
}
dl.listed dt[class] {
  font-size:1em;
  font-weight:400;
  position:absolute;
  padding:0;
  height:2em;
  top:0;
  left:0.5em;
  letter-spacing:0.25em;
  text-transform:lowercase;
  font-variant:small-caps;
  z-index:-1;
  transition:color 0.5s;
  color:#aaa;
}



.outside dt[class] {
  right:5em ;
}

dd {
  margin:0;
}

.dnd dd {
  cursor:move;
  background-image:url(/images/drag.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

dd.image {
  width:20%;
  height:10em;
  cursor:move;
  background-color: #ffffff;
  background-size:cover;
  background-position:50% 50%;
  display:block;
  float:left;
  overflow:hidden;
  position:relative;
}

dd.image textarea {
  top:0;
  margin:0;
  border:none;
  height:2em;
  font-size:0.9em;
  background-color:rgba(255,255,255, 0.25);
  font-weight:400;
}
dd.image textarea:focus {
  height:7.5em;
  position:absolute;
  font-size:1.125em;
  background-color:#fff;
  color:#333;
}
dd.image label {
  position:absolute;
  bottom:0;
  width:100%;
  background:rgba(0,0,0,0.5);
  display:block;
  color:#fff;
  margin:0;
  padding:0.5em;
  font-size:1em;
  text-align:center;
}

dl.audio .progress {
  height: 5em;
}

dd.image img {
  width:100%;
}

fieldset {
  transition: opacity 0.75s;
  padding:0 1em 1em;
}

fieldset.media dl {
  width:100%;
  margin:0 0 1em;
}



fieldset[disabled] {
  opacity:0.25;
}




fieldset.extra {width:30%;}
fieldset.extra + fieldset.media {
  float:left;
  width:69%;margin-left:1%;
}

fieldset.spectra {width:64%;margin-right:1%;}
fieldset.recommended { width:34% }
fieldset.recommended ul {display:block;}
fieldset.recommended ul ul, fieldset.recommended ul li > div > *:not(h3)  {display:none}
fieldset.media dt {
  color:#5B9B98;
  font-weight:400;
  border-bottom:1px solid #eee;
  font-size:1.25em;
}
fieldset.media p.info + label {display:none;}


div.edge {
  transition: background-color 1s, border-width 0.5s;
  border-left:0.5em solid #aaa;padding:0.5em 0 0.5em 1em;
  margin-bottom:1px;
  background-color:rgba(255,255,255,0.5);
}

div.edge input[type='text'] {
  width:30%;
  display:inline-block;
  padding:0.5em;
  color: rgb(224, 81, 154);
  line-height:1em;
  border:1px dashed #eee;
  background-color:transparent;
  border-width: 0 0 1px;
  margin:0.25em 0;
}

div.edge span.group {
  border: 1px hidden #fff;
  width:70%;
}
div.edge span input {
}
div.edge span label {
  width:90%;
  padding:0.5em 0;
}

div.edge span.warn label {
  text-decoration:line-through;
}

div.edge.highlight {
  background-color: rgb(166, 223, 155) !important;
  color:#333;
}



fieldset.edges dl {
  clear:both;
  border-top: 1px dashed rgba(0,0,0,0.1);
  padding: 1em 0;
}
fieldset.edges dl dt {
  width:20%;
  text-transform:uppercase;
  text-align:right;
  color:#5B9B98;
  font-size:1.125em;
  font-weight:400;
  padding:1em 2.5%;
}

fieldset.edges dl dd {
  width:80%;
  float:right;
  padding:0 0 0.5em;
  border-bottom:1px solid #f8f8f8;
  position:relative;
}

fieldset.edges dl dd a {
  margin:0.5em 0;
  text-transform:uppercase;
  font-size:1.125em;
  padding:0.5em;
  /* display: block; */
}

a.sort {
  display:none;
}
fieldset.edges dl dd div + div + a.sort {
  position:absolute;
  display:block;
  left:-8em;
  top:5em;
  display:block !important;
}

fieldset.edges dl dd:hover a.sort {
  visibility:visible;
}

fieldset.edges div.container h2 {
  margin:0 0.75em;
  text-transform:uppercase;
}
dd.sorting div.edge {
  background-color:#f8f8f8;
  border-left-width:2em;
  margin-bottom:1px;
  cursor:move;
}

dl[data-priority='normal'] dt:after {
  content: ' ▾'
}

dl[data-priority] {
  cursor:pointer;
}
dl[data-priority='low'] dt:after {
  content: ' ▸';
}
dl[data-priority='low'] > dd {
  display:none;
}


form.modified button[type='submit'] {
  font-size:225%;
  transition:font-size 0.25s;
  color:rgb(224, 81, 154);
}

div.receipt { top:0; left:0; z-index:3;padding:0;display:flex;box-shadow:0 0.25em 0.25em rgba(0,0,0,0.1);width:100%;background-color:#888;align-items:center;justify-content:space-between;}
div.receipt > * {flex:1 0 20%; margin:0.5%;}
.backdrop div.receipt { position:fixed }

div.receipt span, .trash { padding:0.5em;border:none;}
.trash {
  background:#777777 url(//tciaf-media.s3.amazonaws.com/image/_assets/trash.svg) no-repeat 0.25em center;
  padding-left:2.5em;
  color:#fff;
}

.success {background-color: #aaffcf;}
.info {background-color:#CEE3EB;}
.warn {background-color:#F3EECC;}
.alert {background-color:#E9CCCB !important;}
.warn,.info,.alert,.success{border:1px solid rgba(0,0,0,0.25);}



input[type=checkbox], input[type=radio] {width:auto;vertical-align:text-bottom;}
input[type=checkbox] + label, input[type=radio] + label {margin:0 0.25em 0 0 !important;max-width:95%;}

.hint {
  font-size: 8px;
  display:inline-block;
  max-width:85%;
  margin: 1em;
  vertical-align: middle;
}

*[data-help]:after {
  content: '?';
  border: none;
  color: #fff;
  margin:0 0 0 5px;
  text-transform:lowercase;
  padding:5px !important;
  display: inline-block;
  line-height: 1;
  background-color: rgba(224, 81, 154, 0.9);
  font-size: 10px !important;
  letter-spacing: 0;
  vertical-align: top;
  border-radius:5px;
  align-self:flex-start;
  cursor:pointer;
  opacity: 0.85;
}
*[data-help] {
  position:relative;
}
.help {
  background-color:#aaffcf;
  margin:2vmax 0;
  border-radius:1em;
  padding:1em 2em;
  color:#333;
}

*[data-help]:hover:before {
  content: attr(data-help);
  position:absolute;
  top:-3.5em;
  left:-0.75vw;
  width:75vw;
  background-color:#50a4ff;
  color:#fff;
  padding:1em;
  font-size:15px !important;
  line-height:1.25;
  letter-spacing:normal;
  font-weight:200;
  border-radius:0.25em;
  box-shadow:0 0.125em 0.25em rgba(0,0,0,0.25);
  z-index:2;
  text-transform:none;
}

.explainer summary {
  outline:none;
  cursor:pointer;
  color:#888;
}
.explainer {
  padding:0 2em;
}
.explainer[open] {
  margin:-1em -1em 2em;
  padding:1em 3em 3em;
  background-color:#fff;
}
.markdown.example {
  background-color:#f8f8f8;
  color:#333;
  padding:2em;
  margin:1em 0;
}
span.example {
  background-color:#333;
  color:#fff;
  padding:0.125em 0.25em;
  display:inline-block;
  min-width:4em;
  text-align:center;
  font-size:15px;
  vertical-align:middle;
}
abbr {
  text-transform:lowercase;
  font-variant:small-caps;
}


fieldset.recommended h3 {
  font-size:50%;
}
