body, ul, ol, form, h2, h3, h4, h5, figure, blockquote { margin:0 }

body {
  font: normal normal 300 62.5%/1.35 'Source Sans Pro', 'Franklin Gothic Book', 'Avenir Next', Verdana, sans-serif;
  background: #FFF url(/images/background.png) repeat-y 100% 100% fixed;
  background: url(/images/birds-background-B.png) repeat-y 100% 100% fixed, url(/images/birds-background-A.png) repeat-y fixed;
  background-color:#FFF;
  background-size:100%, 100%;
  background-position:100% 100%, 100% 100%;
  transition:background-position 2s, background-size 1.5s;
  color:#333;
}


* { box-sizing:border-box; }
.brown { color:rgb(119, 99, 92); }
.white-bg { background-color:#fff }
.gray-bg { background-color:#BEBEBE; color: #706F73 }
.brown-bg { color:#EEE; background-color:rgb(119, 99, 92) }
.brown-bg a { color:#AAA }

a {color:#706F73;text-decoration:none;}
a > *:not(button) {pointer-events: none;}
a:hover {color:#5a9a98;}
a.selected{text-decoration:none;cursor:default;color:#333;}
p a {text-decoration:underline}

.t  { margin-top:1.5vmax }
.tt { margin-top:3.0vmax }
.b  { margin-bottom:1.5vmax }
.bb { margin-bottom:3.0vmax }
.pad   { padding:1vmin }
.pad-h { padding: 0 1vmin }

h1, .h1 { font-size:2.75em;line-height:1.25;margin:0;}
h2, .h2, legend { font-size:2.375em; line-height:1.5; }
h3, .h3, input { font-size:calc(0.85em + 1.125vmax);line-height:1.2}
h4, .h4 {font-size:1.45em;}
h5, .h5, p, .p, li, label, form button, input, textarea { font-size:calc(1.15em + 0.35vw);line-height:1.5;}


header .controls button {
  font-size:125%;
  margin:2vw 2vw 0.5em 0;
}
header .controls {
  padding:3.5em 0;
}


.award > * { display:block }
.award {
  padding: 0.25vw 3vh 0.25vw 0;
  min-height:3em;
  text-align:right;
  position:absolute;
  top:0;
  right:0;
  background: transparent url(/images/medal.svg) no-repeat top right;
  background-size:auto 3vh;
}



.bio.head { width:15%}
.bio.read { width:10vmin;padding:1vmin 0;margin-right:1vmin; }
.bio figcaption {padding:0.75em 0.125em;font-size:1.35em}
.bio > span {
  background-size:cover;
  background-position:top center;
  background-repeat:no-repeat;
  width:9vmin;
  height:9vmin;
  border-radius:50%;
  box-shadow:0 0 0 0.25vmin rgba(0,0,0,0.05);
  box-shadow:0 0 0 0.125em rgba(200,200,200,0.75);
  display:block;
  color:rgba(0,0,0,0);
  color:transparent;
}
a:hover .bio > span {
  box-shadow:inset 0 0 0 0.125em rgba(0,0,0,0.25);
}
.gallery {
  text-align:center;
  padding:1vmax;
}
.gallery img {
  padding:calc(2.5em - 1vw);
  background-color:#fff;
  max-width:80%;
  position:relative;
  box-shadow:0 0 0.125em 0 rgba(0,0,0,0.1);
}

.listing:not(:first-of-type) {border-top:1px solid #EEE;}
.listing {
  position:relative;padding:1vw 0;
}
.envelope { padding:0 2.5vmax}
.lead {
  font-size:calc(2.75em + 1.75vw);
  line-height:1;
}
.controls {
  display:flex;
  padding:1.5vw;
  flex-flow:row;
  align-items: flex-end;
}
.path {
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
}
.path > * {
  padding:0.25em;
}
.display {
  font-family: 'Source Serif Pro', Baskerville, Didot, Serif;
}

.triptych {justify-content:space-between}
.triptych > * {
  background-color:rgba(255,255,255,0.5);
  display:flex;
  flex-flow: column;
  flex-wrap:wrap;
  justify-content:space-between;
  padding:1em;
  flex:0 0 calc(33% - 0.5em);
}


section#browse > main {
  transition:opacity 1s, background-color 1.5s 0.125s;
  background-color:#FAFAFA;
  padding:2vw;
}

.transition #browse > main {opacity:0;background-color:rgba(248, 248, 248, 0);}

nav a.banner {
  margin:1em 1em 0 0;
  width:20vmin;
  height:7.25vmin;
  background:#fff url(/images/full-logo.svg) no-repeat 50% 50%;
  color:rgba(0,0,0,0);
  background-size:contain;
}

nav[role] > ul {
  display:flex;
  flex-wrap:wrap;
  flex:1 0 auto;
  justify-content:space-around;
}
nav[role] > ul > li {
  flex: 1 0 33%;
  text-align:center;
  display:flex;
}

nav li > a {
  flex: 1 1 auto;
  padding:0.25rem;
}

body > section[id] {
  height:100vh;
  overflow:auto;
}

/* Specifics ------------------- */
button,.button{border:1px solid #706F73;background-color:#fff;text-decoration:none;border-radius:0;transition:box-shadow 0.25s,background-color 0.25s;display:inline-block;}
button:hover,.button:hover,input[type=checkbox]:hover{box-shadow:0 0 0.125em 0 rgba(0,0,0,0.25);}
button[disabled],button[disabled]:hover{opacity:0.5;box-shadow:none;background-color:#fff;color:#888;}


@media screen and (max-aspect-ratio: 2/3) {
  #media {
    margin-top:-95vh;
  }
  main {

  }
  .controls {
    padding:2.5vh 0;
  }
}

article > header {
  position:relative;
  border-bottom:1px dashed #BEBEBE;
  padding-bottom:2.5vmax;
  margin-bottom:2.5vmax;
}


/* Tablet */
@media screen and (min-width: 50em) {

  .columns{column-gap:1em;}
  .columns.three{column-count:3;}
  .columns.four{column-count:3;}

  body {overflow:hidden}

  nav[role] > ul > li {
    flex: 1 0 auto;
  }
  .panel, .triptych {
    display:flex;
  }

  .column {
    flex-direction: column;
  }


  hr, .hr {
    border:none;
    border-top:1px dashed #BEBEBE;
    margin:2.5vmax 0;
    clear:both;
  }

  .half       {width:50%   }
  .one-third  {width:33.3% }
  .two-thirds {width:66.6% }

  body > section[id] {
    position:fixed;
    top:0;
  }

  #media {
    width:20vw;
  }
  #browse {
    left:20vw;
    width:80vw;
  }
  #browse > header {
    padding:0 2vw;
  }
}

/* Desktop*/
@media screen and (min-width: 80em){
  .lead {
    max-width: calc(75vw - 5em);
  }
  .columns.four{column-count:4;}
}





















































/* FOOTER */
.legal {
  font-size:1.25em;
  padding:1em;
}
.sponsor a {
  padding:0.5rem;
}
.sponsor img {
  height:5vmin;
}

.social {
  padding:1em;
}
.social a {
  display:inline-block;
  height:3em;
  width:3em;
  overflow:hidden;
  background-image:url(/images/social.svg);
  background-repeat:no-repeat;
  background-size:3em auto;
  color:rgba(0,0,0,0);
}
.twitter   {background-position:0 0.5em}
.facebook  {background-position:-0.25em -3em}
.instagram {background-position:0 -6.5em}



.console {
  background-color:rgba(33,33,33,0.75);
  color:#fff;
  width:25vw;
  margin:0;
  font-size:1.25em;
  padding:2em;
  display:block;
  overflow:auto;
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  font-family:Inconsolata;
  white-space: pre-wrap;
  word-break: break-all;
  z-index:5;
}















/* TMP STUFF TMP STUFF TMP STUFF*/
.tmp-banner {
  height:25vw;margin:-2vw -2vw 2vw;padding:2vw;position:relative;
}
