* { box-sizing:border-box }
body, ul, ol, form, h2, h3, h4, h5, h6, figure, blockquote { margin:0;font-weight:300; }
img:not([src]), a:not([href]), nav[data-pages='1'] {display:none}

body {
  font: normal normal 300 62.5%/1.35 'Source Sans Pro', 'Franklin Gothic Book', 'Avenir Next', Verdana, sans-serif;
  background: url(/images/birds-background-B.png) repeat-y 100% 100% fixed, url(/images/birds-background-A.png) repeat-y fixed;
  background-size:100%, 100%;
  background-position:100% 100%, 100% 100%;
  transition:background-position 2s, background-size 1.5s;
  color:#222;
}

.brown, .markdown h3 { color:#77635c; }
.white-bg, body, .gallery img, button, .button { background-color:#fff }
.gray {color:#BEBEBE}
.gray-bg {background-color: rgba(0,0,0,0.025);color: #706F73;}
.brown-bg { color:#EEE; background-color:rgb(119, 99, 92) }
.brown-bg a { color:#AAA }

a {color:#706F73;text-decoration:none;}
a > *:not(button) {pointer-events: none;}
a:hover {color:#5a9a98;}
.selected, .selected:hover{text-decoration:none;cursor:default;color:#555;border-color: #5b9b98 !important;}
p a {text-decoration:underline}

.plain    {list-style:none;padding:0;}
.plain li {font-size:100%;}

.t, hr, .hr, .markdown h2 {margin-top: calc(2.5vmax - 1vmin);}
.tt {margin-top: calc(1em + 4.0vmax - 1vmin);}
.b   {margin-bottom: calc(2.5vmax - 1vmin);}
.bb, hr, .hr {margin-bottom: calc(1em + 4.0vmax - 1vmin);}
.l  {margin-left:1vw}
.ll {margin-left:2vw}
.r {margin-right:1vw;}
.rr, #browse .controls button {margin-right: 2vw;}
.pad   {padding: 1vmax;}
.pad-h { padding: 0 1.5vmin }
.pad-v {padding: 1.5vmax 0;}


.m, p, label {
  margin: 0.5em 0 1em;
}

.markdown h3 { margin:0.5em 0 }
.container:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.capitalize {text-transform: capitalize;}
.caps-lock, .markdown h3, article nav > ul.plain li > a {text-transform:uppercase;}
.ghost {opacity:0.5;}
.ghost:hover {opacity:1;}
.fade {opacity:0;}
.inline:not(ul), .inline li, .inline dd, ul.divide li  {display:inline-block;}
.rag-right {text-align:left;}
.rag-left {text-align:right;}
.center, .gallery {text-align:center;}
.middle {margin: 0 auto}
.justify {text-align: justify;}
.clear {clear:both;}
.close {height:2em;width:2em;line-height:0;padding:0.5em;}

p, .p {max-width:55em;}
h1, h2 {max-width: 70vw;}
h1, .h1 {font-size: calc(1.5em + 1.5vmax);line-height:1.25;margin:0;}
h2, .h2 {font-size: calc(1.25em + 2.5vmin);line-height: 1.35;margin: 0.5em 0 0;}
h3, .h3 {f;font-size: calc(1em + 2vmin);line-height: 1.2;margin: 0.5em 0;}
h4, .h4, .markdown h3, article nav > ul.plain li > a  {font-size: calc(0.75em + 1.125vh);}
h5, .h5, p, .p, li, label, input {font-size: calc(1.075em + 0.5vmax);line-height: 1.45;}
h5 {font-weight:400}
h6, .h6, form button, form .button {font-size:calc(1.125em + 0.35vw);}
strong, .strong, .selected {font-weight:600;}
input, select {font-size: inherit }
em, .em, blockquote {font-style:italic }
ul { list-style-type: square; }
ul, ol { padding:0 0 0 2em }

.tracked {letter-spacing:-0.025em}
.display > strong {color:#FC6202;display:block;font-size:0.5em;text-transform:uppercase;margin:0.5em 0;}


.banner, .listing, .search, .search ul li, article > header {position:relative;}
.banner {
  min-height:25vw;
  margin: -2vmax -2vmax 2vmax;
  padding:2.5vw 30vw 2.5vw 5vw;
}

hr, .hr, .ruled {
  border: none;
  clear: both;
  min-height:1px;
  background-image: linear-gradient(to right, rgba(0,0,0,0.125) 60%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 2em 1px;
  background-repeat: repeat-x;
}

a:hover .bio > span { box-shadow:inset 0 0 0 0.125em rgba(0,0,0,0.25) }
.bio.head {width:15%; display:inline-block;}
.bio figcaption {line-height: 1.125}
.bio > span {
  background-size:cover;
  background-position:top center;
  background-repeat:no-repeat;
  width: 8vmin;
  height: 9vmin;
  border-radius:50%;
  box-shadow:0 0 0 0.125em rgba(200,200,200,0.75);
  display: inline-block;
  color:transparent;
  overflow: hidden;
}

.gallery img {
  padding:calc(2.5em - 1vw);
  max-width: 80%;
  box-shadow: 0 0 0.125em 0 rgba(0,0,0,0.1);
}


.path li a {padding: 0.5em 0.75em 0.25em;background-color: rgba(0,0,0,0.02);border-bottom: 2px solid rgba(0,0,0,0.025);line-height: 2;}
.lead {font-size: calc(2em + 2vw);line-height:1;}

.controls, .path, .triptych > * {display:flex;}
.controls {
  padding: 2.5%;
  flex-flow:row;
  align-items: center;
}
.path { flex-wrap:wrap; justify-content:flex-start; }
.display, .markdown h2 { font-family: 'Source Serif Pro', Baskerville, Didot, Serif; }

.panel, .triptych {display:flex;}
.sink {flex: 1 0 5em;}
#browse article.panel, #browse section.panel {flex-wrap:wrap;}
.triptych {justify-content:space-between;flex-wrap:wrap;}
.triptych > * {
  background-color: rgba(255,255,255,0.75);
  flex-flow: column;
  flex-wrap:wrap;
  justify-content:space-between;
  padding:1em;
  flex-grow: 1;
  margin: 0.5em 0;
}

section#browse > main {
  transition:opacity 0.75s, background-color 1.5s 0.125s;
  background-color:#FAFAFA;
  padding: 2vmax;
}

.transition #browse > main {opacity:0;background-color:rgba(248, 248, 248, 0);}

nav a.logo {
  margin: 0 0 0 1.5vw;
  min-width: 10em;
  background: #fff url(/images/full-logo.svg) no-repeat 0 20%;
  color:rgba(0,0,0,0);
  background-size: 160% auto;
  align-self: center;
  min-height:4em;
}

nav[role] > ul {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  flex-grow: 1;
  padding: 1px;
}

nav[role] > ul > li {
  text-align:center;
  display:flex;
  flex: 1 0 auto;
  margin: 1px 1px 0 0;
  background-color: #f8f8f8;
}

#browse > header {border-bottom: 1px solid rgba(0,0,0,0.075);}
#browse > header nav li > a {
  flex: 1 1 auto;
  font-weight:400;
  padding: 0.75rem 0.25rem;
}

article nav > ul.plain {margin: 1vh 0 2vh;}
body > section[id] {overflow:auto;-webkit-overflow-scrolling: touch;}

.finder input:focus {background-size: auto 37%;}
.finder input {
  /* transition: background-size 1.25s; */
  margin: 0;
  padding: 1.25em 0.5em 1.25em 2.5em;
  background: transparent url(/images/search.svg) no-repeat 5% 50%;
  background-size: auto 75%;
  border:none;
  border-bottom:1px dashed #ddd;
}


button[type='submit'] {
  border-color: rgba(0,0,0,0.25);
  padding: 0.5em;
  text-transform: uppercase;
  color: #556
}

/* components  */
.award > *, address span  { display:block }
.award {
  padding: 0 0 0 2.5em;
  min-height:3em;
  background: transparent url(/images/medal.svg) no-repeat 0 10%;
  background-size:auto 3vh;
  display: block;
  margin-left: 1em;
}
.search ul {
  position: absolute;
  left:0;
  width: 100%;
  z-index: 1;
  font-size:1.5em;
  background-color: rgba(255,255,255,0.95);
}
.search ul:not(:empty) { box-shadow:0 0.25em 0.125em rgba(0,0,0,0.1) }
.search ul li {
  padding:0.5em;
  cursor:pointer;
  color:#323031;
}

.search li:hover, .search li.highlight { background-color:#5B9B98; color:#FFF; }

button,.button, .playlist li:not(.current) {text-decoration:none;border-radius:0;cursor:pointer;}
button:hover,.button:hover,input[type=checkbox]:hover{box-shadow:0 0 0.125em 0 rgba(0,0,0,0.25);}
button[disabled],button[disabled]:hover{opacity:0.5;box-shadow:none;color:#888;}

body > section[id] { position:fixed; width:100vw; }

#media  { z-index:2; bottom:0; }
#browse {z-index:1;top:0;height:90vh;}

body[data-view='browse'] #media {
  height: 15vh;
  box-shadow: 0 -0.125em 0.125em rgba(0,0,0,0.1);
}
.pulled {margin:0 -2vw;padding:2.5vw;background-color:rgba(0,0,0,0.02)}
ul.dash li {margin: 0.75em 0;padding-left:2.5em;text-indent:-2.5em;}
ul.dash li:before {
  content: '---';

  line-height:0;
  position:relative;
  vertical-align:top;
  color:rgba(0,0,0,0.5);
  top:1em;
}

/* Mobile only */
@media screen and (max-width: 50em) {
  body[data-view='browse'] #media { overflow:hidden}
  #Player button, #Player .progress { width: 100% }
  section#browse main {background-color: #fefefe;}
  h5 a, h2 a, .sink a {border-bottom: 1px dashed rgba(91, 156, 153, 0.2);color: #867670;}
    nav[role] > ul {border-left: 1px solid #F8F8F8;}
  .panel > .two-thirds, .panel > .half {margin: 1.25em 0;flex: 1 0 100%;min-width: 100%;}
  article.listing {background-color: rgba(255,255,255,0.85);margin:1em 0;border: 1px dashed rgba(0,0,0,0.05);}
  .gallery {width:100%}
  .gallery img {max-width:100%;padding: 5%;}
  .bio.read {display:flex;align-items:center}
  .bio.read span {margin-right:2vmax;}
  #Player {width: 30vh;}
  .panel .ll {margin-left:0}
  ul.sink {
    min-width: 100%;
    display:flex;
    flex-wrap:wrap;
  }
  ul.sink li:nth-child(2) {padding-right: 70%;}
  ul.sink li {padding: 0.25em 0.5em;}
}

/* Tablet */
@media screen and (min-width: 50em) {
  .flip {flex-direction:row-reverse;justify-content: flex-end;}
  .card p {flex: 1 0 50%;}
  .bio.read {width:10vmin;padding:1vmin 0;margin-right:1vmin;}
  .listing:not(:first-of-type), .search li:not(:first-of-type) { border-top:1px solid #EEE;}
  button, .button {border:1px solid rgba(0,0,0,0.25);}
  .p-cols li {display:inline-block;width: 45%;padding: 0.125em 5%;}
  .columns {column-gap:1em;}
  .columns.three{column-count:3;}
  .columns.four{column-count:3;}

  body {overflow:hidden }

  nav a.logo {margin: 1em 0 0;min-width: 20em;background-size: contain;background-position: 40% 25%;min-height:7vh;}
  .column { flex-direction: column }

  .half       {width:50%   }
  .one-third  {width:30% }
  .one-third.ll {width: calc(30% - 2vw)}
  .two-thirds {width:70%;}

  nav[role] > ul > li {background-color:#fff }
  #browse > header {padding:0 1vw;}
  body[data-view] > #media  {top:0;width:20vw;height:100vh;box-shadow:0.125em 0 0.125em rgba(0,0,0,0.1);}
  body[data-view] > #browse { left:20vw;width:80vw;height:100vh;}

  .triptych > * {
    flex:0 0 calc(33% - 0.5em);
    margin: 0;
  }
}

/* Desktop*/
@media screen and (min-width: 80em){
  .lead { max-width: calc(75vw - 5em) }
  .columns.four { column-count:4 }
}


/* FOOTER */
.legal { font-size:1.25em }
.sponsor a { padding:0.5rem; }
.sponsor img { height:5vmin }
.social { padding:1em }
.social a {
  display:inline-block;
  height:3em;
  width:3em;
  overflow:hidden;
  background-image:url(/images/social.svg);
  background-repeat:no-repeat;
  background-size:3em auto;
  color:rgba(0,0,0,0);
}
.twitter   {background-position:0 0.5em}
.facebook  {background-position:-0.25em -3em}
.instagram {background-position:0 -6.5em}

@keyframes spin { from { transform:rotate(0deg) } to { transform:rotate(360deg) } }

.console {
  background-color:rgba(33,33,33,0.75);
  color:#fff;
  width:25vw;
  font-size:1.25em;
  padding:2em;
  display:block;
  overflow:auto;
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  font-family:Inconsolata;
  white-space: pre-wrap;
  word-break: break-all;
  z-index:5;
}

.search li[class] {border-left:0.5em solid #EEE;}
.search li.feature { border-left-color:0.5em solid rgba(115, 60, 158, 0.35) }
.search li.person { border-left-color:0.5em solid rgba(159, 37, 33, 0.32) }
.search li.happening { border-left-color:rgba(106, 172, 179, 0.28) }
.search li.competition { border-left-color:rgba(75, 245, 24, 0.26) }
.search li.article { border-left-color:rgba(212, 217, 154, 0.46) }

input, textarea, fieldset { width:100%; padding:0;border: 1px solid #ccc; }
