* { box-sizing:border-box }
body, ul, ol, form, h2, h3, h4, h5, h6, figure, blockquote { margin:0;font-weight:300; }
body[data-status='offline'] #browse header {border-color:#fb6868;}
body[data-status='offline'] #browse > header:after {
  content: 'Your browser is currently offline';
  text-align:center;
  font-size:1.75em;
  width:100%;
  padding:1em;
  display:block;
  color:#fb6868;
  letter-spacing:0.075em;
}

img:not([src]), a:not([href]), nav[data-pages='1'], small:empty {display:none }
img {max-width:100%;}

a:focus {
  text-decoration:underline;
  outline:none;
}

button:focus, input:focus {
  outline:none;
  border-color: #5b9b98 !important;
  box-shadow: inset 0 0 0.25em rgba(0, 0, 0, 0.05) !important;
}

body {
  font: normal normal 400 62.5%/1.35 'Source Sans Pro', 'Franklin Gothic Book', 'Avenir Next', Verdana, sans-serif;
  background: url(//tciaf-media.s3.amazonaws.com/image/_assets/birds-background-B.png) repeat-y 100% 100% fixed, url(//tciaf-media.s3.amazonaws.com/image/_assets/birds-background-A.png) repeat-y fixed;
  background-size:100%, 100%;
  background-position:100% 100%, 100% 100%;
  will-change: background-size, background-position;
  transition:background-position 2s, background-size 1.5s;
  color: #333;
}

.brown, .markdown h3, .markdown h4 { color:#77635c; }
.white-bg, body, .gallery img, button { background-color:#fff }
.gray {color: #979797;}
.gray-bg {background-color: rgba(0,0,0,0.1);color: #706F73;}
.brown-bg { color:#EEE; background-color:rgb(119, 99, 92) }
.brown-bg a {color: #EEE;}
.orange, .display > strong, a:focus {color:#FC6202;}

a {color:#555;text-decoration:none;}
a > *:not(button) {pointer-events: none;}
a > img {pointer-events:all}
a > img:hover {opacity:0.9}
a:hover {color:#5a9a98;}
.selected, .selected:hover{text-decoration:none;cursor:default;}
.selected, .selected:hover, .path li a:hover {color:#555;border-color: #5b9b98 !important;}
p a {text-decoration:underline}
p, .p {max-width:55em;font-weight:400;}
h1, h2 {max-width: 75vw;font-weight:400;}
h1, .h1 {font-size: calc(1.5em + 1.5vmax);line-height:1.25;margin:0;}
h2, .h2 {font-size: calc(1.25em + 1.5vmin);line-height: 1.3;}
h3, .h3 {font-size: calc(1.25em + 1vmin);line-height: 1.2;margin: 0.5em 0;}
h4, .h4, .markdown h3 {font-size: calc(0.75em + 1.35vh);}
h5, .h5, p, .p, li, label, input {font-size: calc(1.075em + 0.5vmax);line-height: 1.4;}
h5 {font-weight:400}
h6, .h6, form button, form .button {font-size:calc(1.125em + 0.35vw);}
.plain    {list-style:none;padding:0;}
.plain li {font-size:100%;}

.t, .markdown h2 {margin-top: calc(0.5em + 1vmax);}
.tt,hr, .hr {margin-top: calc(0.5em + 2vmax);}
.b   {margin-bottom: calc(0.5em + 1vmax);}
.bb, hr, .hr {margin-bottom: calc(0.5em + 2vmax);}
.l  {margin-left:1vw}
.ll, .controls h1, .controls h2 {margin-left:2vw}
.r {margin-right:1vw;}
.rr {margin-right: 2vw;}
.pad   {padding: 1vmax;}
.pad-h { padding: 0 1.5vmin }
.pad-v {padding: 1.5vmax 0;}
.m, p { margin: 0.5em 0 1em }

.markdown h3 {margin: 2vmax 0 0;}
.markdown strong em {
  font-style: normal;
  font-weight:normal;
  color: #FC6202;
}
.markdown h4:not(:first-of-type) {margin: 2vmax 0 0;}
.container:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.capitalize {text-transform: capitalize;}
.caps-lock, .markdown h3, .markdown h4 {text-transform:uppercase;letter-spacing: 0.125ch;}
.fade {opacity:0;}
.inline:not(ul), .inline li, .inline dd, ul.divide li, label  {display:inline-block;}
.rag-right {text-align:left;}
.rag-left {text-align:right;}
.center, .gallery {text-align:center;}
.middle {margin: 0 auto}
.justify {text-align: justify;}
.clear {clear:both;}
.close {height:2em;width:2em;line-height:0;padding:0.5em;}
.lock {overflow:hidden}

strong, .strong, .selected, .markdown h4 {font-weight:600;}
input, select {font-size: inherit }
em, .em, blockquote {font-style:italic }
ul { list-style-type: square; }
ul, ol { padding:0 0 0 2em }

.tracked {letter-spacing:-0.025em}
.display > strong {display:block;font-size:0.5em;text-transform:uppercase;margin:0.5em 0;}


.banner, .listing, .search, .search ul li, article > header {position:relative;}
.banner {
  min-height: 22vmax;
  margin: -2vmax -1.5vmax 2vmax -5vmax;
  padding: 2.5vw 30vw 2.5vw 5vw;
  box-shadow: 0 0 5em rgba(0,0,0,0.1);
}
.banner-bg * {color:#FFF;text-shadow: 0 0 0.25em rgba(0,0,0,0.25);}
.banner-bg {
  background-color:#333;
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: cover;
}

.banner.banner-bg {
  background-size:cover;
}

hr, .hr, .ruled {
  border: none;
  clear: both;
  border-bottom: 2px solid #5b9c99;
  margin-left:-3vmax;
}

a:hover .bio > span { box-shadow:inset 0 0 0 0.125em rgba(0,0,0,0.25) }
.card {min-height:14vmin}
.bio.head {width:15%; display:inline-block;}
.bio figcaption {line-height: 1.125;}
.bio > span {
  background-size:cover;
  background-position:top center;
  background-repeat:no-repeat;
  width: 8vmin;
  height: 9vmin;
  border-radius:50%;
  box-shadow:0 0 0 0.125em rgba(200,200,200,0.75);
  display: inline-block;
  color:transparent;
  overflow: hidden;
}

.gallery img {
  padding:calc(2.5em - 1vw);
  max-width: 80%;
  box-shadow: 0 0 0.125em 0 rgba(0,0,0,0.1);
}


.path li a {padding: 0.25em 0.5em;border-bottom: 2px solid rgba(0,0,0,0.025);line-height: 2;transition:border-color 0.25s;}
.lead {font-size: calc(2em + 2vw);line-height:1;}
.spot {padding:2vmin;margin:0 0 2vmax;}
.controls, .path, .triptych > * {display: inline-flex;}
.controls {
  padding: 2.5%;
  flex-flow:row;
  align-items: center;
  flex-grow: 1;
  transition: background-color 1s;
}
.path {flex-wrap:wrap;justify-content: flex-start;}
.display, .markdown h2 { font-family: 'Source Serif Pro', Baskerville,  Didot, 'Times New Roman', Serif; }

.panel, .triptych {display:flex;}
.sink {flex: 1 0 10vw;}
#browse article.panel, #browse section.panel, .panel.wrap {flex-wrap:wrap;}
.triptych {justify-content:space-between;flex-wrap:wrap;}
.triptych > * {
  background-color: #fff;
  flex-flow: column;
  flex-wrap:wrap;
  justify-content:space-between;
  padding: 1.25em;
  flex-grow: 1;
  margin: 0.5em 0;
}

section#browse > main {
  transition:opacity 0.75s, background-color 1.5s 0.125s;
  background-color:#FFF;
  padding: 2vmax 1.5vmax 2vmax 5vmax;
}

.transition #browse > main {opacity:0;background-color:rgba(248, 248, 248, 0);}

nav a.logo {
  margin: 0;
  min-width: 10em;
  color:rgba(0,0,0,0);
  background: #fff url(//tciaf-media.s3.amazonaws.com/image/_assets/skinny-logo.svg) no-repeat -15% 1.75em;
  background-size: 140% auto;
  align-self: center;
  min-height: 8em;
}


nav[role] > ul {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  padding: 1px;
}

nav[role] > ul > li {
  text-align:center;
  display:flex;
  flex: 1 0 auto;
  margin: 1px 1px 0 0;
  background-color: #f8f8f8;
  align-items: stretch;
}
a.jump {
  display:block;
  text-transform:lowercase;
  font-variant: small-caps;
}
a.jump:before {
  content: '▴ ';
}
nav.jump:before {
  content: 'quick links';
  text-transform: lowercase;
  font-variant:small-caps;
  color:#999;
}

#browse > header {border-bottom: 1px solid rgba(0,0,0,0.075);border-top: 0.5vw solid #5b9b98;}
#browse > header nav li > a {
  flex: 1 1 auto;
  font-weight:400;
  padding: 0.25rem;
  align-self: center;
  min-width: 100%;
}

article nav > ul.plain {margin: 1.5vh 0;}
body > section[id] {overflow:auto;-webkit-overflow-scrolling: touch;}

.finder input {
  margin: 0;
  padding: 1.5vmin 2.5em;
  background: transparent url(//tciaf-media.s3.amazonaws.com/image/_assets/search.svg) no-repeat 1em 50%;
  background-size: auto 35%;
  border:none;
  border-bottom: 1px solid #eee;
  font-size: 1.5em;
}

.insist {
  border: none;
  padding: 1.5em 2em;
  background-color:rgba(255,255,255,0.5);
  border-radius: 0.125em;
}

.insist:hover {
  color:#000;
  box-shadow: inset 0 0 0.25em rgba(0,0,0,0.2);
}

button[type='submit'] {
  border-color: rgba(0,0,0,0.25);
  padding: 0.5em;
  text-transform: uppercase;
  color: #556
}

/* components  */
.award > *, address span  { display:block }
.award {
  padding: 0 0 0 3.5em;
  min-height:3em;
  background: transparent url(//tciaf-media.s3.amazonaws.com/image/_assets/medal.svg) no-repeat 0 35%;
  background-size:auto 3vh;
  display: block;
  margin-left: 1em;
}
.search ul {
  position: absolute;
  left:0;
  width: 100%;
  z-index: 1;
  font-size:1.5em;
  background-color: rgba(255,255,255,0.95);
}
.search ul:not(:empty) { box-shadow:0 0.25em 0.125em rgba(0,0,0,0.1) }
.search ul li {
  padding:0.5em;
  cursor:pointer;
  color:#323031;
}

.search li:hover, .search li.highlight { background-color:#5B9B98; color:#FFF; }

button, .button, .playlist li:not(.current) {text-decoration:none;border-radius:0;cursor:pointer;}
.button.special {border-color:#598784; color: #598784; border-width: 2px;}
button:hover,.button:hover,input[type=checkbox]:hover{box-shadow:0 0 0.25em 0 rgba(0,0,0,0.05);}
button[disabled],button[disabled]:hover{opacity:0.5;box-shadow:none;color:#888;}


#media  {z-index:2;bottom: 0;}
#browse {z-index:1;top: 0;height: auto;}

body[data-view='browse'] #media {
  height: 12.5vmax;
  box-shadow: 0 -0.125em 0.125em rgba(0,0,0,0.25);
  /* border-top: 1px solid rgba(0,0,0,0.4); */
}
.pulled, .pulled-left, .pulled-right {padding:2.5vw;}
.pulled-left, .pulled {margin-left:-2vw}
.pulled-right, .pulled {margin-right:-2vw}

div[data-award] {
  background:transparent url(//tciaf-media.s3.amazonaws.com/image/_assets/medal.svg) no-repeat right top;
  background-size:auto 50%;
}
.bg {
  background-size: cover;
  background-position: 50% 25%;
  width: 95%;
  box-shadow: inset 0 0 0 0.5em rgba(0,0,0,0.1);
  margin: 2.5% auto;
  padding: 10vmin 1em 1em
}

.feature article.panel.listing header { width:100% }
section#media {width:100vw;position:fixed;left:0;}
/* Mobile only */
@media screen and (max-width: 50em) {
  section#browse > main {
    background-color: #FAFAFA;
  }
  .hide {display:none !important;}
  ::-webkit-input-placeholder {opacity:0}
  html, body {height:100%}
  body {padding-bottom:12.5vmax}
  .banner {margin-left:-2.5vmax}
  body[data-view='browse'] #media { overflow:hidden}
  section#browse main {background-color: #f1f1f1;padding-left: 1.5vmax;}
  h5 a, h2 a, .sink a, h3 a {border-bottom: 1px dashed rgba(91, 156, 153, 0.2);color: #5b9b98;}
    nav[role] > ul {border-left: 1px solid #F8F8F8;}
  .panel > .two-thirds, .panel > .half {margin: 1.25em 0;flex: 1 0 100%;min-width: 100%;}
  article.listing {background-color: rgba(255,255,255,0.85);margin:1em 0;/* padding: 0 2vmax; */}
  .gallery {width:100%;}
  .gallery img {max-width:100%;padding: 5%;}
  .bio.read {display:flex;align-items:center}
  .bio.read span {margin-right:2vmax;}
  body[data-view='browse'] #media #Player {width: 85%;display: flex;}
  body[data-view='browse'] #media form {width: 15%;}
  body[data-view='browse'] #media form input {
    height: 12.5vmax;
    border: none;
    background-position: 50% 50%;
    background-size: auto 30%;
  }

  body:not(.index) nav a.logo {background-position: 115% 60%;background-size: auto 64%;min-width: 7.5em;}
  nav[role] > ul > li {flex-basis:25%;}
  body[data-view='media'] {/* overflow:hidden; */}
  body[data-view='media'] #media {height: 100vh;flex-direction: column;background-color: #fff;top: 0;}
  body[data-view='media'] #media form {width: 100%;height: 9vh;}
  body[data-view='media'] #Player .progress span {font-size:2.25em;}
  body[data-view='media'] #Player .controls {width:100vw;justify-content: space-around;height: 30vh;overflow: hidden;min-height: 50vw;background-color: #FAFAFA;}
  body[data-view='media'] #media p {position:absolute;top:0;right:0;background-color:#FC6202;color:#FFF;padding: 2.75vmax 4vmax;margin:0;}
  body[data-view='media'] #media .playlist {height: 55vh;overflow:auto;}
  body[data-view='browse'] #Player[data-position] .intro {color: rgba(0,0,0,0);position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;margin: 0;background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);}
  body[data-view='browse'] #media .playlist li:first-of-type {border-top:none}
  body[data-view='browse'] #Player .controls {padding: 0 2.5%;max-width: 30vmax;max-height: 12.5vmax;}
  body[data-view='browse'] #media p {
    padding: 2em 1em 2em 7.5em;
    color: #AAA;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
  }
  body[data-view='browse'] #media #Player ul:not(:empty) {
    width: auto;
    display: inline-block;
    height: 12.5vmax;
    overflow: scroll;
    font-size: 0.9em;
    vertical-align: top;
    flex-grow: 1;
  }
  .panel .ll {margin-left:0}
  ul.sink {
    min-width: 100%;
    display:block;
  }
  ul.sink li:nth-child(3) {clear:left}
  ul.sink li {float:left;padding: 0.25em 0.5em;}
  nav[role] > ul { align-items:stretch }
}

/* Hack for tablet to deal with images in playlist/lib*/
@media screen and (min-width:40em) {
  .bg {width:25%;}
  .feature article.panel.listing header {width:70%;padding:0 2.5%;}
}

/* hack to deal with ios annoyance and bottom player*/
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
  #media {
    top: 77vh;
  }
}}


/*section.listing {
  background-image: linear-gradient(#fff, rgba(255,255,255,0));
  box-shadow: 0 -0.125em 0.25em  rgba(0,0,0,0.05);
  padding: 2em;
  margin:1em -2em;
}
*/


/*section.listing div.markdown h2 {
  text-transform: uppercase;
  line-height:1;
  color:hsla(16, 30%, 30%, 1);
}
*/
/* Tablet */
@media screen and (min-width: 50em) {
  

  
  section.listing div.markdown :first-child {
    margin-top:0;
  }
  
  
  section.listing {
    padding: 3em 6vmax;
    margin: 0 -3.5vmax 0 -6vmax;
  }
/*  section.listing div.markdown {
    padding:2em 0;
    column-count: 2;
    column-gap:5em;
    column-rule: 1px solid #eee;
  }
*/  
  input:focus::-webkit-input-placeholder { opacity:0.2; }
  ::-webkit-input-placeholder {
     font-weight:100;
     text-align:left;
     text-transform: capitalize;
     color:#999;
  }

  body > section[id] {position:fixed;width:100vw;}
  #Player[data-position] .intro {display:none}
  #Player button {width: 70%;margin-left: 5%;}
  .flip {flex-direction:row-reverse;justify-content: flex-end;}
  .card p {flex: 1 0 50%;}
  .bio.read {width:10vmin;/* padding:1vmin 0; */margin-right:1vmin;}
  .listing:not(:first-of-type), .search li:not(:first-of-type) { border-top:1px solid #EEE;}
  button, .button {border:1px solid rgba(0,0,0,0.25);}
  .columns {column-gap:1em;}
  .columns.three{column-count:3;}
  .columns.four{column-count:3;}
  body {overflow:hidden;}
  nav a.logo {margin: 0.75vmin 1em 0 0.25vmin;min-width: 22.5em;background-size: contain;background-position: 40% 70%;min-height: 8.5vmin;}

  .column { flex-direction: column }

  .half       {width:50%   }
  .one-third  {width:30%;}
  .one-third.ll {width: calc(30% - 2vw)}
  .two-thirds {width:70%;}

  nav[role] > ul > li {background-color:#fff }
  #browse > header {padding: 0 2vw;}
  body[data-view] > #media  {top:0;width: 15vw;height:100vh;left: 85vw;}
  body[data-view] > #browse {left: 0;width: 85vw;height:100vh;overflow-x: hidden;}

  .triptych > * {
    flex: 0 0 calc(33.3% - 0.5em);
    margin: 0 0 1.5em;
  }
  .feature article.panel.listing header, .competition article.panel.listing header, .conference article.panel.listing header { width:50% }
  .feature article.panel.listing ul { width:30% }
  .bg {width:20%;margin:0;align-self: flex-start;background-color: rgba(214, 214, 214, 0.5);}

}

/* Desktop*/
@media screen and (min-width: 80em){
  .lead { max-width: calc(75vw - 5em) }
  .columns.four { column-count:4 }
  nav[role] > ul {
    margin:0 0 0 10%;
  }
  
  .seven > li {
    max-width: calc(25% - 1em);
  }
}


/* FOOTER */
.legal { font-size:1.25em }
.sponsor a { padding:0.5rem; }
.sponsor img {height: 10vmin;}
.social a {
  display:inline-block;
  height:3em;
  width:3em;
  overflow:hidden;
  background-image:url(//tciaf-media.s3.amazonaws.com/image/_assets/social.svg);
  background-repeat:no-repeat;
  background-size:3em auto;
  color:rgba(0,0,0,0);
}
.twitter   {background-position: 0 0.35em;}
.facebook  {background-position:-0.25em -3em}
.instagram {background-position:0 -6.5em}

@keyframes spin { from { transform:rotate(0deg) } to { transform:rotate(360deg); } }



.search li[class] {border-left:0.5em solid #EEE;}
.search li.feature { border-left-color:0.5em solid rgba(115, 60, 158, 0.35) }
.search li.person { border-left-color:0.5em solid rgba(159, 37, 33, 0.32) }
.search li.happening { border-left-color:rgba(106, 172, 179, 0.28) }
.search li.competition { border-left-color:rgba(75, 245, 24, 0.26) }
.search li.article { border-left-color:rgba(212, 217, 154, 0.46) }

input, textarea, fieldset { width:100%; padding:0;border: 1px solid #ccc; }



div.filter > h6 {
  padding: 1em 2vmin;
  flex:1 0 7.5vw;
  text-align:right;
}
div.filter > ul { flex: 1 0 70vw; }
div.filter.panel {align-items: center;}
div.filter.panel:not(:first-of-type) {
  font-size:0.65em;
  margin:calc(2vmax - 1vmin) 0;
}

article[data-type='show'] ul li:nth-child(n + 6) {
  display:none;
}


pre.console {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20vh;
  width: 100vw;
  z-index: 10;
  background-color: #eee;
  color: red;
  padding: 2em;
  overflow: auto;
  font-size: 1.5em;
}