.listen {
  background-size: auto 0%;
  background-image: url(/images/listen.svg);
  background-position: 50% 46.5%;
  background-repeat: no-repeat;
  color: #5B9B98;
  letter-spacing: 0.075em;
  transition: color 0.25s, background-size 0.25s;
}

.listen:hover {
  background-size: auto 100%;
  color: rgba(0,0,0,0);
}

button.listen {
  overflow: hidden;
  height: 5em;
  width: 5em;
  border-radius: 50%;
}

.queued {
  opacity: 0.5;
  /*margin: 0 !important;
  height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 0 !important;*/
}


#Player, .playlist {
  height:100%;
  overflow-y:scroll;
}


.playlist li {
  font-size:1em;
  line-height:1em;
  padding:1em;
  border-bottom:1px dashed #EEE;
}

.playlist {
  box-shadow:inset 0 -0.125em 0.25em rgba(0,0,0,0.05);
}

#Player .controls{
  height:100%;
  background-color:#fefefe;
}
li.played {
  color:#999;
  background-color:#F8F8F8;
}

.playlist li.current {
  background-color: #D9EAEA;
  font-weight:600;
  color:#88746A;
}

li.current span:before {
  content: '▶ '
}

.playlist li:not(.current):hover {
  color: #88746A;
}
.playlist li:not(.current) {
  cursor:pointer;
}


#Player {
  width:25%;
  transition: height 0.25s 0.125s, width 0.25s 0.125s;
}


#Player button, #Player .progress {
  transition: all 0.25s 0.125s;
  display: block;
  vertical-align:middle;
  font-size:1em;
  width:100%;
}

#Player button {
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

/*

dark #323031
tan #eddad0
brown #88746A
teal #5B9B98
purple #492737
red #EE3124

*/

#Player button svg {
  width: 100%;
  height: 100%;
  fill: #88746A;
  margin: 0%
}

#Player .progress path, .progress:hover .handle, .progress circle {
  stroke: #88746A;
  fill: none;
}

.progress circle {
  stroke-opacity:0.2;
  stroke-dashArray: 5 2;
  stroke-width: 1px;
  pointer-events: none;
}

 .progress:hover .handle{
  stroke-width: 4;
  stroke-opacity: 1;
}

#Player button svg path {
  stroke: none;
}

.progress:hover {
  cursor: pointer;
}

.progress .handle {
  stroke-opacity: 0;
  transition: stroke-opacity 0.75s;
}



.progress svg {
  width: 100%;
  height: 100%;
  fill: none;
  margin: 0;
  stroke: #333;
  position: relative;
  stroke-width: 5;
  stroke-opacity: 0.75;
}

.progress strong, .progress .handle {
  pointer-events: none;
}

#Player .progress strong {
  top: 30%;
  color: rgba(0,0,0,0.5);
  font-size:1.25em;
  opacity:0;
  transition:opacity 0.5s 0.25s;
}

.progress strong {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}

#Player .display {
  padding: 1em 0;
  display: inline-block;
  line-height: 1em;
  font-family: 'Courier New';
  vertical-align: top;
  word-break: break-all;
  color: #888;
}

button path.indicator {
  stroke: none;
  transition: fill-opacity 0.75s;
  fill-opacity: 1;
}

button path.wait {
  fill: transparent;
  stroke-opacity: 1;
  transition: stroke-opacity 0.25s;
}

button:not(.wait) path.wait {
  stroke-opacity: 0;
}

button.wait svg path.indicator {
  fill-opacity: 0;
  fill: #AAA;
}

button.error {
  background-color: #ED1C24;
}

.progress {
  position: relative;
  background-size: cover;
}

.progress.spin svg, .progress[data-state='waiting'] svg {
  -moz-animation: spin .75s infinite linear;
  -webkit-animation: spin .75s infinite linear;
  -ms-animation: spin .75s infinite linear;
  animation: spin .75s infinite linear;
}

.progress[data-state='playing'] strong {
  opacity:1 !important;
}

.progress[data-state='waiting'] svg circle {
  stroke-opacity: 1;
  stroke-dashArray: 50 50;
  stroke:#000;
}
