.listen:hover, .listen:focus, .bg .listen:hover {background-color:rgba(255,255,255,0.75);mix-blend-mode:normal;}
.listen {
  background-size: 175% auto;
  background-image: url(/images/listen.svg);
  background-position: 50% 15%;
  background-repeat: no-repeat;
  color: rgba(0,0,0,0);
  letter-spacing: 0.075em;
  transition: color 0.25s, background-size 0.25s, background-color 0.25s;
}

.bg .listen {background-color: rgba(255,255,255,0.25);mix-blend-mode: multiply;}
button.listen {
  border: 3px solid #5B9B98;
  overflow: hidden;
  height: calc(1.5em + 4.5vh);
  width:  calc(1.5em + 4.5vh);
  border-radius: 50%;
}

.playlist {max-height: 72.5vh;overflow-y:scroll;}
.playlist li {padding: 1vmin;border-top: 1px solid rgba(0,0,0,0.1);}
.playlist li.current:before { content: '\25B6\FE0E'; margin-right:0.5em; }
.playlist li.current {
  border-left-color: #88746a;
  color: #88746a;
}

.playlist li > span {pointer-events:none;}
li.played {color:#BBB;border-left-color: rgb(230, 230, 230);}

#Player button {border: none;padding: 0;background-color: rgba(0,0,0,0);border-radius: 50%;padding:1em;}
#Player button svg path { stroke: none; }
#Player:not([data-position]) .controls, audio  {display:none}
#Player svg {
  width: 100%;
  height: 100%;
  position: relative;
}

#Player button svg {
  fill: #88746A;
}

.progress svg {
  fill: none;
  margin: 0;
  stroke: #333;
  stroke-width: 5;
  stroke-opacity: 0.75;
}

#Player .progress path, .progress:hover .handle, .progress circle {
  stroke: #88746A;
  fill: none;
  stroke-linecap: round;
}

.progress circle {
  stroke-opacity:0.2;
  stroke-dashArray: 5 2;
  stroke-width: 1px;
  pointer-events: none;
}

.desktop .progress:hover { cursor: crosshair }
.desktop .progress:hover .handle, .touch .progress.hover .handle { stroke-opacity: 0.75 }
.desktop .progress:hover .status, .touch .progress.hover .status { stroke-width: 1 }
.touch .progress.hover .grab {
  fill-opacity:1;
  stroke-opacity:1;
}

.progress circle.grab {
  fill: #88746a;
  stroke:#fff;
  stroke-dashArray:0;
}

.progress .handle, .progress span, .progress .grab {
  stroke-opacity: 0;
  fill-opacity:0;
  transition: stroke-opacity 0.5s 0.125s;
  pointer-events: none;
}


#Player .progress span {
  top: 30%;
  color: #9d9d9d;
  font-size: 1.25vmax;
  transition:opacity 0.5s 0.25s;
  font-weight:200;
}

.progress span {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}


button path.wait {
  fill: transparent;
  stroke-opacity: 1;
  transition: stroke-opacity 0.25s;
}

button:not(.wait) path.wait { stroke-opacity: 0 }

button.wait svg path.indicator {
  fill-opacity: 0;
  fill: #AAA;
}

button.error { background-color: #ED1C24 }

.progress {
  position: relative;
  min-width:50%;
}

.progress.spin svg, .progress[data-state='waiting'] svg {animation: spin 0.85s infinite linear;}

.progress[data-state='playing'] span {
  opacity:1 !important;
}

.progress[data-state='waiting'] svg circle:not(.grab) {
  stroke-opacity: 1;
  stroke-dashArray: 50 50;
  stroke:#888;
}

.progress[data-state='waiting'] svg path {
  stroke-width:1 !important;
  stroke-opacity: 0
