.listen:hover {background-size: auto 0%;color: #5B9B98;}
.listen {
  background-size: auto 100%;
  background-image: url(/images/listen.svg);
  background-position: 50% 46.5%;
  background-repeat: no-repeat;
  color: rgba(0,0,0,0);
  letter-spacing: 0.075em;
  transition: color 0.25s, background-size 0.25s;
}


button.listen {
  box-shadow:none;
  border: 3px solid #5B9B98;
  overflow: hidden;
  height: calc(1.5em + 5vh);
  width: calc(1.5em + 5vh);
  border-radius: 45%;
}



.playlist {background-color: rgba(250, 250, 250, 0.59);}
.playlist li {padding: 1.5vmax 1em;border-bottom:2px solid rgba(255,255,255, 1);}
.playlist li.current:before { content: '\25B6\FE0E'; margin-right:0.5em; }
.playlist li.current {
  background-color: #fff;
  color: #88746a;
}

li.played { opacity:0.5 }





#Player button {border: none;padding: 0;}
#Player button svg path { stroke: none; }


#Player button svg {
   width: 100%;
   height: 100%;
  fill: #88746A;
}

#Player .progress path, .progress:hover .handle, .progress circle {
  stroke: #88746A;
  fill: none;
}

.progress circle {
  stroke-opacity:0.2;
  stroke-dashArray: 5 2;
  stroke-width: 1px;
  pointer-events: none;
}

.progress:hover .handle { stroke-opacity: 0.75 }
.progress:hover .status { stroke-width: 1 }


.progress:hover {
  cursor: crosshair;
}

.progress .handle {
  stroke-opacity: 0;
  transition: stroke-opacity 0.75s;
}



.progress svg {
  width: 100%;
  height: 100%;
  fill: none;
  margin: 0;
  stroke: #333;
  position: relative;
  stroke-width: 5;
  stroke-opacity: 0.75;
}

.progress span, .progress .handle { pointer-events: none }

#Player .progress span {
  top: 30%;
  color: #9d9d9d;
  font-size:1.25vmax;
  transition:opacity 0.5s 0.25s;
  font-weight:200;
}

.progress span {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}

#Player .display {
  padding: 1em 0;
  display: inline-block;
  line-height: 1em;
  font-family: 'Courier New';
  vertical-align: top;
  word-break: break-all;
  color: #888;
}



button path.wait {
  fill: transparent;
  stroke-opacity: 1;
  transition: stroke-opacity 0.25s;
}

button:not(.wait) path.wait {
  stroke-opacity: 0;
}

button.wait svg path.indicator {
  fill-opacity: 0;
  fill: #AAA;
}

button.error {
  background-color: #ED1C24;
}

.progress {
  position: relative;
  background-size: cover;
}

.progress.spin svg, .progress[data-state='waiting'] svg {
  -moz-animation: spin .75s infinite linear;
  -webkit-animation: spin .75s infinite linear;
  -ms-animation: spin .75s infinite linear;
  animation: spin .75s infinite linear;
}

.progress[data-state='playing'] span {
  opacity:1 !important;
}

.progress[data-state='waiting'] svg circle {
  stroke-opacity: 1;
  stroke-dashArray: 50 50;
  stroke:#000;
}

.progress[data-state='waiting'] svg path {
  stroke-width:1 !important;
  stroke-opacity: 0 !important;
tant;
