body {
  font-size:62.5%;
  font-family:Inconsolata;
  margin:10%;
  background:#fff url(/images/pidgey.svg) no-repeat 1.5% 1.5%;
  background-size:7.5% auto;
}

footer {
  border-top:1px solid #000;
}

label {
  display:block;
}
input {
  font-size:1.5em;
}