body {
  font-size:62.5%;
  font-family:Inconsolata;
  margin:10%;
  background:#fff url(/images/pidgey.svg) no-repeat 1.5% 1.5%;
  background-size:7.5% auto;
}

footer {
  border-top:1px solid #000;
}
label, p {
  font-size:1.25em;
}
input, textarea {
  padding:0.5em;
}

label {
  display:block;
  margin:0.25em 0;
}
textarea {
  height:10em;
}
input, textarea {
  font-size:1.5em;
  width:100%;
  border-color:#eee;
  border-style:solid;
  transition:box-shadow 0.25s;
}

.text:focus {
  outline:1px solid #EEE;
  box-shadow:-0.075em -0.075em 0.25em rgba(0,0,0,0.05);
  border:none;
}
