<article class="about">
  <div class="group left">
    <h1 data-id="[$item:@id]">[$item:title]</h1>
    <img src="[http://s3.amazonaws.com/$item:photo:url]" style="width:100%;" alt="third coast"/>
  
    <section>[$item:content:description]</section>
  </div>

  <aside class="group left container">
    <h2>Staff</h2>
    
    <ul>
      <!-- iterate item:staff -->
      <li>
        <h4 data-id="[$person:@id]"><a href="[/explore/detail/$person:@id]">[$person:title]</a></h4>
        <em>[$position]</em>
      </li>
    </ul>

    
    <h2>Board of Directors</h2>
    <ul>
    <!-- iterate item:board -->
      <li>
        <h4 data-id="[$person:@id]">[$person:title]</h4>
        <em>[$position]</em>
      </li>
    </ul>
  </aside>
  
  
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    aside {
      width:30%;
      padding:1em;
    }
    
    .about > div {
      width:70%;
      padding:1em;
      margin:0;
    }
    
    div.staff img[src] {
      float:left;
      width:15%;
    }
    /* ]]> */      
  </style>
  
</article>