<footer class="white-bg">
  <section style="background-color:#DDD;margin:0;padding:2em 10%;align-items:center;" class="panel">
    <p class="two-thirds rr"><strong class="caps-lock brown">Sign Up for our newsletter</strong> Be the first to hear new docs, get the scoop on Third Coast events, and go behind-the-scenes with producers.</p>
    <a href="/overview/subscribe" class="caps-lock gray-bg" style="border:none;padding:1.5em 2em;"><strong>Subscribe</strong></a>
  </section>
  <section class="container brown-bg">
    <div class="panel" style="justify-content:space-between;padding:2.5vw; 0">
        <ul class="pad plain panel p-cols h6" style="flex-wrap:wrap;max-width:50%">
          <li><a href="/overview/tciaf">About</a></li>
          <li><a href="/overview/people">Producer Index</a></li>
          <li><a href="/overview/subscribe">Subscribe to Podcast</a></li>
          <li><a href="/overview/opportunities">Jobs and Internships</a></li>
          <li><a href="/overview/playlists">Playlists</a></li>
          <li><a class="ghost" href="#notyet">Shoppe</a></li>
          <li><a href="https://app.e2ma.net/app2/audience/signup/1400701/1400216/">Newsletter</a></li>
          <li><a href="https://donatenow.networkforgood.org/ThirdCoast" style="background-color:#eee;padding:0.25em 0.5em;color:#333">Donate</a></li>
          <li><a href="/explore/behindthescenes">Behind-the-Scenes Interviews</a></li>
        </ul>
      <aside class="pad rr">
        <address class="h6" style="font-style:normal">
          <h4 style="color:rgba(255,255,255,0);background:transparent url(/images/wordmark.svg) no-repeat 0 0;background-size:75% auto;min-height:3em">Third Coast Festival</h4>
          <span>Navy Pier</span>
          <span>848 East Grand</span>
          <span>Chicago, Illinois 60611-3509</span>
          <span>312-948-4682</span>
          <a href="mailto:info@thirdcoastfestival.org">info@thirdcoastfestival.org</a>
        </address>
        <nav class="social pad-v">
          <a class="twitter" href="https://twitter.com/ThirdCoastFest">Twitter</a>
          <a class="instagram l" href="https://instagram.com/thirdcoastfest/">Instagram</a>
          <a class="facebook l" href="https://www.facebook.com/thirdcoastfest?ref=ts">Facebook</a>
        </nav>
      </aside>
    </div>
  </section>
  <section class="sponsor panel" style="align-items:center;">
    <p class="half legal pad">The following foundations, companies and individuals help make the Third Coast International Audio Festival possible through their generous support and sponsorship.</p>
    <nav>
      <!-- iterate supporters -->
      <a href="[$organization:location]"><img data-src="[http://s3.amazonaws.com/$organization:photo:url]" alt="[$organization:@title]" /></a>
    </nav>
  </section>
  <section class="pad">
    <p class="legal caps-lock middle pad">© <time>[$year]</time> Third Coast International Audio Festival. All rights reserved. <a href="/overview/policy">Terms and Conditions</a> <a class="context login l" href="/manage/login" onclick="this.href = this.href + '/' + btoa(window.location.pathname);">[$_login]</a></p>
  </section>
  <script type="text/javascript">
    [].forEach.call(document.querySelectorAll('img[data-src]'), function (img) {
      img.src = img.dataset.src;
    });
  </script>
</footer>
