<footer>
  <section class="container">
    <nav class="group _2 float-left container">
      <ul class="plain p split container">
        <li><a href="https://donatenow.networkforgood.org/ThirdCoast">Donate</a></li>
        <li><a href="/overview/tciaf">About</a></li>
        <li><a href="/explore/index/person">Producers</a></li>
        <li><a class="ghost" href="#">Playlists</a></li>
        <li><a href="https://itunes.apple.com/us/podcast/third-coast-international/id135072877">Subscribe to Podcast</a></li>
        <li><a href="/overview/opportunities">Jobs and Internships</a></li>
        <li><a class="ghost" href="#notyet">Shoppe</a></li>
        <li><a class="ghost" href="#notyet">Newsletter</a></li>
      </ul>

      <div class="social center">
        <a class="twitter" href="https://twitter.com/ThirdCoastFest">Twitter</a>
        <a class="instagram" href="https://instagram.com/thirdcoastfest/">Instagram</a>
        <a class="facebook" href="https://www.facebook.com/thirdcoastfest?ref=ts">Facebook</a>
      </div>
    </nav>
    <aside class="group _2 float-left">
      <address class="mono p trans-blocks" style="margin:0 0 1em;padding:1em;">
        <span>Third Coast Festival</span>
        <blockquote>
          <span>Navy Pier</span>
          <span>848 East Grand</span>
          <span>Chicago, Illinois 60611-3509</span>
        </blockquote>
        <span>312-948-4682</span>
        <a href="mailto:info@thirdcoastfestival.org">info@thirdcoastfestival.org</a>
      </address>
    </aside>
  </section>
  <p class="center legal">© <time>[$year]</time> Third Coast International Audio Festival. All rights reserved. <a href="/overview/policy">Terms and Conditions</a> <a class="context button login" href="/manage/login" onclick="this.href = this.href + '/' + btoa(window.location.href);">[$_login]</a></p>
  <section class="sponsor container">
    <aside>
      <p>The following foundations, companies and individuals help make the Third Coast International Audio Festival possible through their generous support and sponsorship.</p>
      <p>Find out how your organization or business can take part in the Third Coast by contacting executive director <a href="mailto:jzorn@thirdcoastfestival.org?subject=Funding%2FSponorship">Johanna Zorn.</a></p>
    </aside>
    <nav>
      <!-- iterate supporters -->
      <a href="[$organization:location]"><img src="[http://s3.amazonaws.com/$organization:photo:url]" alt="[$organization:@title]" /></a>
    </nav>
  </section>
</footer>
