<article class="trans-blocks">
  <h1 class="display lead t">Pardon us, we have limited means to find <q>[$query]</q> at the moment.</h1>
  <section class="pad h5">
    <p>As this site is just about as new as it can be, we need to give the search engines more time to index all of our new pages, but we'll have this up and running shortly.</p>
    <p>In the mean time, try the auto-suggest feature—simply start typing a name or title, and see what it suggests, <strong>then pick from the list</strong>!</p>
  </section>
</article>
