<section class="pad-h markdown">
  <h3>Re:Sound</h3>
  <p>Third Coast’s radio show, hosted by Gwen Macsai, is a remix of audio goodness from around the world. It airs weekly on WBEZ in Chicago, can be heard on the Third Coast podcast.</p>
  <h3>Best of the Best</h3>
  <p>This special broadcast showcases the best audio stories of the year, the winners of our annual Third Coast/Richard H. Driehaus Foundation Competition. It airs on scores of public radio stations from coast to coast. </p>
</section>
