<section class="triptych">
  <div>
    <h2 class="display strong">Re:Sound</h2>
    <blockquote>
      <p>Third Coast’s radio show, hosted by Gwen Macsai, is a remix of audio goodness from around the world. It airs weekly on WBEZ in Chicago, can be heard on the Third Coast podcast.</p>
    </blockquote>
  </div>
  <div>
    <h2 class="display strong">Best of the Best</h2>
    <blockquote>
      <p>This special broadcast showcases the best audio stories of the year, the winners of our annual Third Coast/Richard H. Driehaus Foundation Competition. It airs on scores of public radio stations from coast to coast. </p>
    </blockquote>
  </div>
  <div>
    <h2 class="display strong">Third Coast Podcast</h2>
    <p>Hosted by Re:sound producer Dennis Funk, the Third Coast Podcast presents Re:sound episodes and special features from our vast audio library. Use your favorite podnabber (itunes, Stitcher, ACast, etc) to subscribe.</p>
  </div>
</section>
