<article class="about page">
  <header>
    <h1 class="t display tracked lead">Pigeon-mails, Podcasts and Widgets</h1>
  </header>
  <section class="markdown">
    <h3>Want to get regular emails from the TCF?</h3>
    <p>We’d love to send them to you. <a href="https://app.e2ma.net/app/view:Join/signupId:1400701/acctId:1400216">Sign up to receive emails </a>about the latest TCF happenings - from new documentaries featured on the website to listening events in Chicago and beyond. If you tell us where you live (city, state, zip) we’ll let you know when we’re coming to town to share some of our favorite docs.</p>
    <p>And don’t worry, we won’t share your email address with anyone else. Promise.</p>
    <h3>Looking for our podcast?</h3>
    <p>We bet you are! Hosted by <em>Re:sound</em> producer Dennis Funk, the weekly Third Coast Podcast features episodes of <em>Re:sound</em> (a radiophonic remix of audio goodness) and occasional audio treats, like recent faves from our library spotlight and debuts of more experimental work.</p>
    <p>You can subscribe through <a href="https://itunes.apple.com/us/podcast/third-coast-international/id135072877">iTunes</a>(where we hope you'll consider writing a review) or <a href="http://feeds.feedburner.com/tciafpodcast">Feedburner</a>, or listen via <a href="https://soundcloud.com/thirdcoast">SoundCloud</a>.</p>
    <p>Questions? Confusion? <a href="mailto:info@thirdcoastfestival.org">Get in touch</a>.</p>
  </section>
</article>
