<div class="panel">
  
  <h2><strong>[$action]</strong> <a class="em" href="[/explore/detail/$item:@id]">[$item:title]</a></h2>

  <form name="uploadData" method="POST" action="[/manage/edit/feature/$item:@id]" class="editor" autocomplete="off">
  
    <!-- insert views/forms/partials/receipt.html -->

    <!-- insert  views/forms/fieldset/title-description.html -->
  
    <!-- insert views/forms/fieldset/media.html -->

    <!-- insert views/forms/fieldset/edge.html -->

    <button type="submit" class="margins">Save your Work</button>
  
  </form> 
</div>