<section>
  <form action="[/manage/edit/$item:@id]" method="POST" class="editor">
  
    <!-- insert  views/forms/partials/title-description.html -->

    <button type="submit" class="margins">Submit</button>
  
    <fieldset>

      <legend class="caps-lock">Has</legend>
      <!-- iterate edges -->
      <div class="listed padded">
        <input type="hidden" name="[vertex[edge][$index][type]]" value="[$edge:@type]" />
        <input type="hidden" name="[vertex[edge][$index][vertex]]" value="[$edge:@vertex]" />
        <sup class="normal capitalize small">[$edge:@type $edge]</sup>
        <h2><a href="[/manage/edit/find/$vertex:@id]">[$vertex:@title]</a></h2>
        <p>[$vertex:abstract]</p>
      </div>

    </fieldset>
  
    <fieldset class="edges">
      <legend class="caps-lock">Belongs To</legend>
    
      <!-- iterate references -->
      <!-- insert views/forms/partials/edge.html -->
    
      <button class="showmodal margins">+ Add Referenced Edge (make this xhr)</button>
    </fieldset>
  
  </form>
  <!-- insert views/forms/edge.html -->
</section>