<form action="[/explore/edit/$item:@id]" method="POST" class="editor">
  <fieldset>
    <legend class="caps-lock">Edit</legend>
    <h5 class="[status $item:status:type ragleft]"><em>[$item:status:text]</em></h5>
    <input type="hidden" name="token[@][id]" value="[$item:@id]" />
    <input type="hidden" name="token[@][created]" value="[$item:@created]" />
  
    <input type="text" name="token[@][title]" value="[$item:@title]" id="title" class="required text"/>
    <label for="title">Name</label>
  
    <textarea id="abstract" name="token[abstract][CDATA]" class="required text">[$item:abstract]</textarea>
    <label for="abstract">Abstract</label>
  </fieldset>
  
  <button type="submit" class="margins">Submit</button>
  
  <fieldset>
    <legend class="caps-lock">Has</legend>
    <!-- iterate pointers -->
    <div class="listed padded">
      <input type="hidden" name="[token[pointer][$index][type]]" value="[$pointer:@type]" />
      <input type="hidden" name="[token[pointer][$index][token]]" value="[$pointer:@token]" />
      <sup class="normal capitalize small">[$pointer:@type $pointer]</sup>
      <h2><a href="[/explore/edit/$token:@id]">[$token:@title]</a></h2>
      <p>[$token:abstract]</p>
    </div>
    <a class="button margins" href="[#/manage/pointer/add/winner/$item:@id]">Add Winner</a>
    <a class="button margins" href="[#/manage/pointer/add/participant/$item:@id]">Add Participant</a>
  </fieldset>
  
  <fieldset>
    <legend class="caps-lock">Belongs To</legend>
    <!--iterate references -->
    <div class="listed padded">
      <sup class="normal capitalize small">[$pointer:@type]</sup>
      <h2><a href="[/explore/edit/$@id]">[$@title]</a></h2>
      <p>[$abstract]</p>
      <a class="button margins ghost" href="[#/manage/pointer/remove/$pointer:@type/$pointer:@token/$@id]">[Unlink $@title]</a>
    </div>
    <a class="button margins" href="[#/manage/pointer/add/producer/$item:@id]">Add Reference</a>
  </fieldset>
  
</form>