<form method="POST" action="[/manage/login/$input:token]" accept-charset="UTF-8">
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    fieldset.login {
      padding:5em;
      margin:1em 0;
    }
    fieldset.login input {
      font-size:1.5em;
      padding:1em;
    }
    /* ]]> */
  </style>
  <meta content="robots" value="NOINDEX, NOFOLLOW"/>
  <input type="hidden" name="[$input:tokens:redirect]" value="[$input:redirect]" />
  <fieldset class="login">
    <legend class="caps-lock">[$input:message]</legend>

    <label for="name" class="pad">Name</label>
    <input name="[$input:tokens:username]" id="name" placeholder="name" value="[$input:username]"/>

    <label for="password" class="pad">Password</label>
    <input type="password" name="[$input:tokens:password]" id="password" placeholder="password" value="[$input:password]"/>
  </fieldset>
  <button type="submit">Login</button>
</form>
