<form method="POST" action="[/manage/login/@input:token]">
  <meta content="robots" value="NOINDEX, NOFOLLOW"/>
  <input type="hidden" name="[@input:tokens:redirect]" value="[@input:redirect]" />
  <fieldset>
    <legend>[@input:message]</legend>

    <label for="name">Name</label>
    <input type="text" name="[@input:tokens:username]" id="name" placeholder="name" value="[@input:username]"/>

    <label for="password">Password</label>
    <input type="password" name="[@input:tokens:password]" id="password" placeholder="password" value="[@input:password]"/>

    <button type="submit">Login</button>
  </fieldset>

</form>