<form method="POST" action="[/manage/edge/$direction]" class="editor">
  <h2><strong>[$vertex:@title]</strong> maintains responsibility for...</h2>
  <fieldset style="background-color:transparent;border:none;margin:1em 0;">
    <select onchange="createEdge(this, 'vertex');"  name="id" style="width:25%">
      <option value="void">a...</option>
      <!-- iterate groups -->
      <option value="[$name]">[$name]</option>
    </select>
    <em style="display:inline-block;width:12%;text-align:center;font-size:1.25em">as a</em>
    <select onchange="createEdge(this);" name="type" style="width:25%">
      <option value="void">...something</option>
      <!-- iterate types -->
      <option value="[$name]">[$name]</option>
    </select>
    <input class="inline" type="text" name="caption" value="" placeholder="Title (if any)"  style="width:30%;padding:0.125em 1.5%;"/>  
  </fieldset>
  <button disabled="true" class="margins">Add Edge</button>
</form>