<form method="POST" action="[/manage/edge/$direction]" class="editor">
  <h2><strong>[$vertex:@title]</strong> maintains responsibility for...</h2>
  <fieldset style="background-color:transparent;border:none;margin:1em 0;">
    <select onchange="createEdge(this, 'vertex');"  name="id" style="width:25%">
      <option value="void">What...</option>
      <!-- iterate groups -->
      <option value="[$name]">[$name]</option>
    </select>
    <em style="display:inline-block;width:12%;text-align:center;font-size:1.25em">as a</em>
    <select onchange="createEdge(this);" name="type" style="width:25%">
      <option value="void">...something</option>
      <!-- iterate types -->
      <option value="[$name]">[$name]</option>
    </select>
    
    
    
    <input class="inline" type="text" name="caption" value="" placeholder="Title (if any)"  style="width:30%;padding:0.125em 1.5%;"/>  
  </fieldset>
  <button disabled="true" class="margins">Add Edge</button>
  <script type="text/javascript" async="async">
    // <![CDATA[
      function createEdge(select, action) {
        var type = select.value;
      
        if (action === 'vertex') {
          var input    = Search.INPUT('manage/edit', type);
          var fieldset = select.form.querySelector('fieldset');
          select.form.insertBefore(input, fieldset);
          select.form.classList.add('search');
          
          fieldset.disabled = true;
          var search   = new Search(input);

          
      
          search.subscribers.select.push(function (dataset) {            
            if (dataset.id) {
              select.item(0).value = dataset.id;
              select.item(0).textContent = input.value
              select.selectedIndex = 0;
          
              input.parentNode.removeChild(input);
              delete search;
            
              fieldset.disabled = false;
              select.parentNode.querySelectorAll('select')[1].focus();
          
            } else {
              var form = new Modal.Form('/manage/create/'+ type + '.xml', {title: input.value}, function (form) {
                input.value = form.querySelector('input[name*=title]').value;
                input.dataset.id = form.querySelector('input[name*=id]').value;

                search.select();
                this.modal.close();
              });
            }
          });    
          input.focus();
        }
        
        // check complete
        var complete = true;
        select.form.querySelectorAll('select').forEach(function (item) {
          complete = complete && (item.value !== 'void' && item.value);
        });
      
        if (complete) {
          var done_button = select.form.querySelector('button[disabled]');
              done_button.disabled = false;
        }
      }
      
    // ]]>
  </script>
</form>