<form method="POST" action="/manage/edge" class="editor search" accept-charset="UTF-8">
  <fieldset class="edge" style="background-color:transparent;border:none;margin:1em 0;">
    <legend>[Search for $model to connect]</legend>
    <input id="edge_finder" data-path="search/cluster" data-topic="[$model]" data-area="manage/edit" type="text" name="search" placeholder="[search $model]" class="text" autocomplete="off" style="padding:0.5em" onfocus="Edge.finder(this);"/>
    <input type="hidden" name="model" value="[$model]" />
    <input type="hidden" name="title" value="[$vertex:@title]" />
    <input type="hidden" name="keyword" value="[$type]" />
    <input type="hidden" name="id" value="" />
  </fieldset>
</form>