<div>
  <form name="uploadData" method="POST" action="[/manage/edit/$item:_model/$item:@id]" class="editor" autocomplete="off">
    
  
    <!-- insert  views/forms/partials/title-description.html -->
    
    <fieldset>
      <legend>Additional Details</legend>
      <div class="group left">
        <input type="text" name="vertex[location][CDATA]" value="[$item:location]" id="location" class="required text" />
        <label for="location">Origin Country</label>  
      </div>
    
      <div class="group left">
        <input type="text" name="vertex[premier][CDATA]" value="[$item:premier]" id="premier" class="required text" />
        <label for="premier">Premier Location</label>
      </div>
    
      <div class="group left">
        <input type="text" name="vertex[premier][@][date]" value="[$item:premier:@date]" id="premier_date" class="required text" />
        <label for="premier_date">Premier Date</label>
      </div>
    </fieldset>
  
    <fieldset class="media">
      <legend class="caps-lock">Media</legend>

      <audio src="[http://s3.amazonaws.com/$item:audio:src]"  onloadedmetadata="startFormPlayer(this);" controls="controls" preload="metadata">
        <input type="hidden" name="[vertex[media][$item:audio:index][@][src]]"  value="[$item:audio:src]"  />
        <input type="hidden" name="[vertex[media][$item:audio:index][@][type]]" value="[$item:audio:type]" />
        <input type="hidden" name="[vertex[media][$item:audio:index][@][mark]]" value="[$item:audio:mark]" />
      </audio>
    

      <ul class="inline">
        <!-- iterate item:thumbnails -->
        <li>
          <input type="hidden"   class="type"    name="[vertex[media][$index][@][type]]" value="[$type]" />
          <input type="hidden"   class="mark"    name="[vertex[media][$index][@][mark]]" value="[$mark]" />
          <input type="hidden"   class="caption" name="[vertex[media][$index][CDATA]]"   value="[$caption]" />
          <input type="checkbox" class="src"     name="[vertex[media][$index][@][src]]"  value="[$src]" checked="true" id="[:$index]"/>
          <label for="[:$index]">
            <img src="[http://s3.amazonaws.com/$url]" alt="[$caption]"/>
          </label>
        </li>
      </ul>

      <input type="file" name="uploader" id="uploader" data-url="/manage/upload.xml"  accept="image/jpeg, image/jpg, audio/mp3, audio/mp4" class="margins"/>

    </fieldset>
  
    <fieldset class="secondary spectra">
      <legend class="caps-lock interactive" onclick="this.parentNode.classList.toggle('open');this.classList.toggle('active');">Spectra</legend>
      <!-- iterate item:spectra -->
      <label class="range container">
        <h4>[$title]</h4>
        <span>[$item:@from]</span>
        <input type="range" min="0" max="100" name="[vertex[spectra][@][$item:@id]]" value="[$value]" data-index="0"/>
        <span>[$item:@to]</span>
      </label>
    
    </fieldset>
  
  
    <fieldset class="edges">
      <legend class="caps-lock">Edges</legend>
      <p class="info padded margins">Edges are links between two discrete elements. This list contains 'Referenced' edges, meaning that the items shown below reference (or claim a certain amount of responsibility for) this feature. Another way to visualize the direction of responsibility, if you were creating a collection, 'who collects what?' If features are responsible for producers, then a feature has a collection of producers as the terminal point. If producers are responsible for features, then a producer has a collection of features at the terminus (preferred).</p>
      
      <!--iterate references -->
      <dl class="listed container">
        <dt class="[$edge:@type]">[$edge:@type]</dt>
        <dd>
          <h2 class="inline"><a href="[/manage/edit/find/$vertex:@id]">[$vertex:@title]</a></h2>
          <span class="warn action">
            <input type="checkbox" name="[edge[remove][$vertex:@id][$index]]" value="[$edge:@type]" id="[$edge:@vertex_$index]" onchange="this.parentNode.className = this.checked ? 'alert action' : 'warn action';"/>
            <label for="[$edge:@vertex_$index]" class="inline">Remove</label>
          </span>
        </dd>
      </dl>
      
      <button class="modal margins">+ Add Referenced Edge</button>
    </fieldset>
    
    <fieldset class="modal">
      <legend>In regards to this <strong>Feature</strong></legend>
      
      <select onchange="createEdge(this, 'vertex');">
        <option value="void">This...</option>
        <!-- iterate item:grouptypes -->
        <option value="[$name]" disabled="[$disabled]">[$name]</option>
      </select>
      <em>was a</em>
      <select onchange="createEdge(this);">
        <option value="void">...something</option>
        <!-- iterate item:edgetypes -->
        <option value="[$name]">[$name]</option>
      </select>
      <button onclick="addEdge(event);" disabled="true">Add as Edge</button>
    </fieldset>

    <button type="submit" class="margins">Save your Work</button>
    
  </form>
    

  
  <script type="text/javascript">
    // <![CDATA[
      


    function createEdge(select, action) {
      var type = select.value;
      
      if (action === 'vertex') {
        
        var input = Search.INPUT('manage/edit', type);
        select.parentNode.appendChild(input);
      
        select.parentNode.classList.add('search');
      
        var search = new Search(input);
    
        search.subscribers.select.push(function (dataset) {

          if (dataset.id) {
            select.item(0).value = dataset.id;
            select.item(0).textContent = input.value
            select.selectedIndex = 0;
          
            input.parentNode.removeChild(input);
            delete search;
            
            select.parentNode.querySelectorAll('select')[1].focus();
          
          } else {
          
            // TODO this should not be a dialog - switch to my modal type in future.
            var form = new Modal.Form('/manage/create/'+ type + '.xml', {title: input.value}, function (form) {
              input.value = form.querySelector('input[name*=title]').value;
              input.dataset.id = form.querySelector('input[name*=id]').value;

              search.select();
              this.modal.close();
            });

          }
        });
    
        input.focus();
      }
      
      // check complete
      var complete = true;
        
      select.parentNode.querySelectorAll('select').forEach(function (item) {
        complete = complete && (item.value !== 'void');
      });
      
      select.parentNode.querySelector('button[disabled]').disabled = ! complete;
      
      
    }
    
    function addEdge(evt) {
      evt.preventDefault();

      var edge_container = document.querySelector('fieldset.edges');
      var edges = edge_container.querySelectorAll('dl.container');
      var selects = evt.target.parentNode.querySelectorAll('select');
      var idx = (edges.length * (-1)) - 1;
      var dl = edge_container.insertBefore(document.createElement('dl'), edge_container.querySelector('button'));
          dl.className = 'listed container';
      
      var dt = dl.appendChild(document.createElement('dt'));
          dt.textContent = selects[1].value;
          dt.className = selects[1].value;
      
      var dd = dl.appendChild(document.createElement('dd'));
      var h2   = dd.appendChild(document.createElement('h2'));
          h2.className = 'inline';
      var link = h2.appendChild(document.createElement('a'));
          link.textContent = selects[0].options[selects[0].selectedIndex].textContent;
          link.href = '/manage/edit/find/' + selects[0].value;
      
      var span = dd.appendChild(document.createElement('span'));
          span.className = 'success action';
          
      var input = span.appendChild(document.createElement('input'));
          input.type = 'checkbox';
          input.name = 'edge[add]['+selects[0].value+']['+idx+']';
          input.value = selects[1].value;
          input.id = selects[0].value;
          input.checked = true;
      var label = span.appendChild(document.createElement('label'));
          label.className = 'inline';
          label.textContent = 'Adding';
          label.for = selects[0].value;
          
      // close the modal
      evt.target.parentNode.querySelector('button.close').dispatchEvent(new Event('click', {
        cancelable: true
      }));
    }
    
    function startFormPlayer(audio_element) {
      Player.attach(audio_element);
      audio_element.querySelector('input[name*="mark"]').value = audio_element.duration;
    }
    

  

  
    var player = null;
  
    
    
    bloc.prepare(function () {
    
      var uploader = new Upload(document.getElementById('uploader'));
    
      document.querySelector('button.modal').addEventListener('click', function (evt) {
        evt.preventDefault();
        if (! this.reference) {
          this.reference = new Modal(document.querySelector('fieldset.modal'));
        }
        this.blur();
        this.reference.show();
      
      });
    
    
      uploader.addRoutine('audio', function (file) {
        // make sure there is not a file currently associated with the feature
        if (document.querySelectorAll('input.src[value="audio"]').length > 0) {
          throw new Error('Only one audio file allowed. Unlink the one you are using now.');
        } else {
          var inputs = document.querySelectorAll('fieldset.media audio input');
          ['src', 'type', 'mark'].forEach(function (name, index) {
            inputs.item(index).className = name;
          });
        }
      });
    
      uploader.addRoutine('image', function (file) {
        var reader = new FileReader();
    
        reader.onload = function (evt) {
          var li = document.querySelector('fieldset.media ul').appendChild(document.createElement('li'));
              li.title = file.name;
        
          var label = li.appendChild(document.createElement('label'));
        
          var img = label.appendChild(document.createElement('img'));
              img.src   = evt.target.result;    
        };
      
        reader.readAsDataURL(file);
      });
    
      uploader.addEvent('load', function (evt) {
        var media = this.responseXML.querySelector('media');
        // the li is previously inserted, so our index should be decremented to match the array enumeration
      
        var index = document.querySelectorAll('fieldset.media input[name*="src"]').length;
      
        if (media.getAttribute('type') == 'image') {
        
          var li = document.querySelector('li[title="'+media.getAttribute('name')+'"]');
              li.querySelector('label').setAttribute('for', ':' + index);
        
          var check      = li.insertBefore(document.createElement('input'), li.lastChild);
              check.type = 'checkbox';
              check.checked = true;
              check.name = 'vertex[media]['+index+'][@][src]';
              check.value = media.getAttribute('src');
              check.id = ':' + index;

          var mark     = li.insertBefore(document.createElement('input'), li.firstChild);
              mark.type = 'hidden';
              mark.name = 'vertex[media]['+index+'][@][mark]';
          
          var type       = li.insertBefore(document.createElement('input'), li.firstChild);
              type.type  = 'hidden';
              type.name  = 'vertex[media]['+index+'][@][type]';
              type.value = media.getAttribute('type');

          var caption = li.insertBefore(document.createElement('input'), li.firstChild);
              caption.type = "hidden";
              caption.name = 'vertex[media]['+index+'][CDATA]';
        
        
        } else if (media.getAttribute('type') == 'audio') {
        
          document.querySelectorAll('fieldset.media audio input').forEach(function (input) {
            var key = input.className;
              input.name = 'vertex[media]['+index+'][@]['+key+']';
              input.value = media.getAttribute(key);
          });
        
          document.querySelector('fieldset.media audio').src = "http://s3.amazonaws.com/" + media.getAttribute('src');
        }

      });
    
      var spectra_object = new Spectra(document.querySelectorAll('fieldset.spectra label input'));
    });
  //]]>
  </script>
  
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    audio {display:none;}
    fieldset div.group {width:33%;}
    fieldset.media ul.inline li label {margin:0;}
    fieldset.media ul.inline li {width:20%;background-color:#eee;}
    fieldset.media ul.inline li img {width:100%;opacity:0.5;}
    fieldset.media input[type=checkbox]:checked + label img{opacity:1;}
    fieldset.media input[type=checkbox]:not(:checked):after {content:'Detached';font-size:0.65em;line-height:0;top:-0.5em;left:1.75em;position:relative;}
    
    /* ]]> */
  </style>
</div>