<div class="panel">
  <!-- iterate item:status:errors -->
  <h1 class="error">[$message]</h1>
  
  <form name="uploadData" method="POST" action="[/manage/edit/feature/$item:@id]" class="editor" autocomplete="off">
  
    <!-- insert  views/forms/fieldset/title-description.html -->
    
    
    <fieldset class="extra group left">
      <legend>Details</legend>
      <label for="location">Origin Country</label>  
      <input type="text" name="vertex[location][CDATA]" value="[$item:location]" id="location" class="required text" />
  
      <label for="premier">Premier Location</label>
      <input type="text" name="vertex[premier][CDATA]" value="[$item:premier]" id="premier" class="required text" />
  
      <label for="premier_date">Premier Date</label>
      <input type="text" name="vertex[premier][@][date]" value="[$item:premier:@date]" id="premier_date" class="required text" />
    </fieldset>
    
    <!-- insert views/forms/fieldset/media.html -->
    
    <hr style="clear:both;margin:5em 0;border-color:transparent;"/>
    
    
    <fieldset class="spectra group left">
      <legend class="caps-lock interactive" onclick="this.parentNode.classList.toggle('open');this.classList.toggle('active');">Spectra</legend>
      
      <!-- iterate item:spectra -->
      <label class="range container">
        <h4>[$title]</h4>
        <span>[$item:@from]</span>
        <input type="range" min="0" max="100" name="[vertex[spectra][@][$item:@id]]" value="[$value]" data-index="0" />
        <span>[$item:@to]</span>
      </label>
      
    </fieldset>
    
    <fieldset class="recommended group left">
      <legend class="caps-lock">Similar</legend>
      <!-- insert views/lists/recommendation.html -->
    </fieldset>
    
    
    <hr style="clear:both;margin:5em 0;border-color:transparent;"/>
    
  
    <!-- insert views/forms/fieldset/edge.html -->

    <button type="submit" class="margins">Save your Work</button>
    
  </form> 
  
  <script type="text/javascript">
    // <![CDATA[
    bloc.prepare(function () {
      var spectra_object = new Spectra(document.querySelectorAll('fieldset.spectra label input'));      
      sortable('dl.images.dnd', 'dd');
    });
  //]]>
  </script>
    
</div>