<form action="[/explore/edit/$item:@id]" method="POST" class="editor">
  <fieldset>
    <legend>Edit</legend>
    <input type="hidden" name="token[@][id]" value="[$item:@id]" />
    <input type="hidden" name="token[@][created]" value="[$item:@created]" />
  
    <input type="text" name="token[@][title]" value="[$item:@title]" id="title" class="required text"/>
    <label for="title">Name</label>
  
    <textarea id="abstract" name="token[abstract][CDATA]" class="required text">[$item:abstract]</textarea>
    <label for="abstract">Abstract</label>
  </fieldset>
  
  <hr />
  
  <!-- iterate pointers -->
  <fieldset>
    <legend class="capitalize">[$pointer:@type of..]</legend>
    <input type="hidden" name="[token[pointer][$index][type]]" value="[$pointer:@type]" />
    <input type="hidden" name="[token[pointer][$index][token]]" value="[$pointer:@token]" />
    <h3><a href="[/explore/edit/$token:@id]">[$token:@title]</a></h3>
    <p>[$token:abstract]</p>
  </fieldset>
  <button type="submit" class="margins">submit</button>
</form>