<section class="form">
  <form action="[/manage/edit/$item:_model/$item:@id]" method="POST" class="editor">
    
    <!-- insert  views/forms/partials/title-description.html -->
    
  
    <button type="submit" class="margins">Save</button>


  </form>

  <fieldset class="edges">
    <legend class="caps-lock">Also</legend>
    <!-- iterate edges -->
    <dl class="listed padded">
      <input type="hidden" name="[vertex[edge][$index][type]]" value="[$edge:@type]" />
      <input type="hidden" name="[vertex[edge][$index][vertex]]" value="[$edge:@vertex]" />    
      <dt class="[$edge:@type]">[$edge:@type]</dt>
      <dd>
        <h2><a href="[/manage/edit/find/$vertex:@id]">[$vertex:@title]</a></h2>
      </dd>
    </dl>
  
  </fieldset>
  
</section>