<form name="uploadData" method="POST" action="[/explore/edit/published/$item:@id]" class="editor">
  <input type="hidden" name="token[@][id]" value="[$item:@id]" />
  <input type="hidden" name="token[@][created]" value="[$item:@created]" />
  <input type="hidden" name="token[@][age]" value="[$item:@age]" />
  <input type="hidden" name="token[media][@][src]" value="[$item:media:@src]" />
  <input type="hidden" name="token[media][@][type]" value="[$item:media:@type]" />
  
  
  <h2><em>[Edit $item:@title]</em></h2>


  <input type="text" name="token[@][title]" value="[$item:@title]" id="title" class="required text"/>
  <label for="title">Title</label>  

  <textarea name="token[abstract][CDATA]" rows="8" cols="40" id="description" class="required text">[$item:abstract]</textarea>
  <label for="description">Description</label>  

  <input type="text" name="token[location][CDATA]" value="[$item:location]" id="location" class="required text" />
  <label for="location">Origin Country</label>  
  
  <input type="text" name="token[premier][CDATA]" value="[$item:premier]" id="premier" class="required text" />
  <label for="premier">Premier Location</label>
  
  <input type="text" name="token[premier][@][date]" value="[$item:premier:@date]" id="premier_date" class="required text" />
  <label for="premier_date">Premier Date</label>
  
  <input type="file" name="fileChooser" value="" id="fileChooser" />
  
  <audio src="[$s3_url/$item:media:@src]" controls="controls" preload="none">[$item:media:@src]</audio>
  
  
  <!--iterate references -->
  <div>
    <h2><a href="[/explore/edit/person/$@id]">[$@title]</a></h2>
    <p>[$abstract]</p>
  </div>
  
  
  <script type="text/javascript">
  // <![CDATA[
    bloc.prepare(function () {
      var file = document.getElementById('fileChooser');
      var uploader = new Upload('/manage/upload');
      file.addEventListener('change', function (evt) {
        var fd = new FormData();
            fd.append("image", this.files[0]);
          // These extra params aren't necessary but show that you can include other data.
            fd.append("token[id]", 1000);
            fd.append("token[title]", 'test');

        uploader.attach(fd);
      }, false);
    });
  //]]>
  </script>
  
  <button type="submit">Submit</button>
</form>