<form name="uploadData" method="POST" action="[/explore/edit/$item:@id]" class="editor">
  <input type="hidden" name="token[@][id]" value="[$item:@id]" />
  <input type="hidden" name="token[@][created]" value="[$item:@created]" />
  <input type="hidden" name="token[@][updated]" value="[$item:@age]" />  
  
  <fieldset>
    <legend>Edit</legend>

    <input type="text" name="token[@][title]" value="[$item:@title]" id="title" class="required text"/>
    <label for="title">Title</label>  

    <textarea name="token[abstract][CDATA]" rows="8" cols="40" id="description" class="required text">[$item:abstract]</textarea>
    <label for="description">Description</label>  

    <input type="text" name="token[location][CDATA]" value="[$item:location]" id="location" class="required text" />
    <label for="location">Origin Country</label>  
  
    <input type="text" name="token[premier][CDATA]" value="[$item:premier]" id="premier" class="required text" />
    <label for="premier">Premier Location</label>
  
    <input type="text" name="token[premier][@][date]" value="[$item:premier:@date]" id="premier_date" class="required text" />
    <label for="premier_date">Premier Date</label>
  </fieldset>
  
  <fieldset>
    <legend>Media</legend>
    
    <input type="text" readonly="readonly" name="token[media][@][src]" value="[$item:media:@src]" />
    <input type="hidden" name="token[media][@][type]" value="[$item:media:@type]" />
    
    <input type="file" name="uploader" id="fileChooser" />
    <audio src="[$s3_url/$item:media:@src]" controls="controls" preload="none">[$item:media:@src]</audio>
  </fieldset>
  
  <fieldset class="secondary spectra">
    <legend>Spectra</legend>
    <!-- iterate spectra -->
    <label class="range container">
      <h4>[$title]</h4>
      <span>[$item:@from]</span>
      <input type="range" min="0" max="100" name="[token[spectrum][CDATA][$item:@id]]" value="[$value]" />
      <span>[$item:@to]</span>
    </label>
    
  </fieldset>
  
  <!--iterate references -->
  <fieldset class="tertiary">
    <legend>[$pointer:@type]</legend>
        <h2><a href="[/explore/edit/$@id]">[$@title]</a></h2>
      <p>[$abstract]</p>
      <a href="[/manage/pointer/remove/$pointer:@type/$pointer:@token/$@id]">[Remove $@title as a $pointer:@type]</a>
      <hr/>


  </fieldset>
  
  <a href="/manage/pointer/add/">Add Reference</a>
  
  <script type="text/javascript">
  // <![CDATA[
    bloc.prepare(function () {
      var file = document.getElementById('fileChooser');
      var uploader = new Upload('/manage/upload');
      file.addEventListener('change', function (evt) {
        var fd = new FormData();
            fd.append("image", this.files[0]);

            fd.append("token[id]", 1000);
            fd.append("token[title]", 'test');

        uploader.attach(fd);
      }, false);
    });
  //]]>
  </script>
  
  <button type="submit" class="margins">Submit</button>
</form>