<article class="form">
  <h2><strong>[$action]</strong> <a href="[/explore/detail/$item:@id]">[$item:title]</a></h2>
  
  <form action="[/manage/edit/$item:_model/$item:@id]" method="POST" class="editor">
    
    <!-- insert views/forms/partials/receipt.html -->
    
    <!-- insert  views/forms/fieldset/title-description.html -->
    
    <fieldset class="responsive media">
      <legend class="caps-lock">Media</legend>
      <dl class="images dnd container">
        <dt>Images</dt>
        <!-- iterate item:media:image -->
        <!-- insert views/forms/partials/image.html -->
      </dl>
      <div class="search">
        <button class="media upload">+ Add Images</button>
        <noscript id="Upload" data-url="/manage/upload.xml" data-accept="image/jpeg, image/jpg">Javascript Required For upload</noscript>
        
        <hr/>
        <input id="FILTER" data-path="search/media" data-topic="image" data-area="explore/resource" type="text" name="search" placeholder="find existing image" class="text" autocomplete="off" />
        <noscript id="Search" data-id="FILTER">Search Requires Javascript</noscript>
      </div>
      
    </fieldset>

    <!-- insert views/forms/fieldset/edge.html -->
    
    <button type="submit" class="margins">Save</button>
    
  </form>
  
  
  <script type="text/javascript" async="true">
    // <![CDATA[
    
    bloc.prepare('Search', function () {
      this.subscribers.select.push(function (dataset) {

        var input = this.input;
        var ajax  = new XMLHttpRequest();

        var url = '/' + dataset.area + '/' + dataset.id + '.xml';
        ajax.open('GET', url);

        
        ajax.addEventListener('load', function (evt) {
          var elem  = evt.target.responseXML.documentElement.querySelector('dd.media.image');
          document.querySelector('dl.images').appendChild(elem);
          input.value = '';
        }, false);
        
        
        ajax.send();
        this.input.value = '';
      });
      
    });
    
    bloc.prepare('Upload', function () {
      this.addTrigger(document.querySelector("fieldset.media button.upload"));    
      this.addRoutine('image', function (file) {

        var reader = new FileReader();
    
        reader.onload = function (evt) {
          // this is the progress default holder thing.
          this.progress = new Progress();
          
          this.progress.element.style.backgroundImage = 'url('+evt.target.result+')';

          var dd = document.querySelector('fieldset.media dl.images').appendChild(document.createElement('dd'));
              dd.appendChild(this.progress.element);
              dd.className = "image";
        }.bind(this);
      
        reader.readAsDataURL(file);
      });
    
      this.addEvent('success', function (xhr) {
        var media = xhr.responseXML.documentElement.querySelector('dd.media');
        this.progress.element.parentNode.parentNode.replaceChild(media, this.progress.element.parentNode);
				sortable('dl.images.dnd', 'dd');
      });
      
      this.addEvent('failure', function (xhr) {
        console.error(xhr.responseText, 'undo some stuff');
        window.alert(xhr.responseText);
        this.progress.element.parentNode.removeChild(this.progress.element);
      });
      
      
    });
    // ]]>
  </script>
</article>